[2021-10-21 21:40] robzolkos opened #6 "Add system tests"
I _think_ the app was setup in `rails new` to _not_ have system tests (but I'm not sure).

Do you want system/browser tests (if so I can add to CI)

[2021-10-21 22:07] joemasilotti commented on #6
Ideally, we have one CI action that runs all the tests. I'm trying to get that to work in your branch/PR now!

[2021-10-21 22:17] #6 closed, assigned to nobody

[2021-10-26 15:42] joemasilotti opened #7 "Developer must be signed in to create a profile"
Use [devise](https://github.com/heartcombo/devise) for user authentication.

[2021-10-26 15:44] joemasilotti opened #8 "Only show "Message" button to signed in users"

[2021-10-26 15:44] joemasilotti opened #9 "Edit a developer profile"

[2021-10-26 15:44] joemasilotti opened #10 "Developers can only edit their own profile"

[2021-10-26 15:45] joemasilotti opened #11 "Photo upload when creating profile"

[2021-10-26 15:45] joemasilotti opened #12 "Cover photo when creating profile"

[2021-10-28 17:14] #9 closed, assigned to nobody

[2021-10-29 13:44] joemasilotti opened #16 "Remove duplicate GitHub Action run on pull requests"
Every PR seems to be triggering the `test` action twice – one of them should be removed.

[2021-10-30 04:24] joemasilotti opened #18 "Extract common styled elements (form inputs, buttons, error messages, etc.)"

[2021-10-30 04:27] #7 closed

[2021-10-30 04:27] joemasilotti commented on #10
FYI, #7 is done with basic users and authentication.

[2021-10-30 04:28] joemasilotti commented on #7
I ended up pulling the trigger on this since it was blocking a few other issues/PRs.

The current implementation is a basic devise installation with a `User` model. Accounts and roles can come later.

[2021-10-30 17:17] jacobdaddario commented on #16
What do you mean by this? I looked in the GH interface, and it looks like a test action is only executing once. Additionally, looking through the  file, I don't see any reason that it would have duplicate runs. Could you show an example of how it's not working properly?

[2021-10-31 22:47] joemasilotti commented on #16
You're totally right!

[2021-10-31 22:47] #16 closed

[2021-10-31 22:47] #8 closed

[2021-10-31 22:48] joemasilotti commented on #18
Form inputs/buttons and the Message button are the top two candidates here. @jacobdaddario, this could be a great opportunity to learn about View Components, especially for the Message button.

[2021-11-01 04:56] jacobdaddario opened #21 "Add tests for avatar and cover photo uploads"
We need to determine how we're going to go about testing the avatar uploads in #20. This breaks down into basically two items.

1. Are we okay with using shoulda matchers? This is the recommended way to test file attachments according to the `active_storage_validations` gem. I've never personally used them.
2. How do we handle file fixtures? I need to do some investigation to figure this out, but

[2021-11-01 05:00] jacobdaddario opened #22 "Setup the production environment to take file uploads"
In #20, I setup the app to handle file uploads on the disk for development and test environments. In order to push to a live system, we'll need to configure a remote service to accept uploads. I don't know what you want to do with this @joemasilotti, but I wanted to open this issue to field what you're thinking.

[2021-11-01 05:08] jacobdaddario opened #23 "Determine the interaction of direct uploads with ActiveStorage validations"
In #20 I opted to use a direct-upload approach. `active_storage_validations` can handle this, but things get a bit complex. On one hand, it's obvious that if the validations fail, it won't attach the image. For instance, the file doesn't become part of the model.

That said, I was still seeing an upload notification in server logs. This begs the question, what's happening? According to the repo, [

[2021-11-01 16:30] joemasilotti commented on #22
Thanks for logging the issue! I can take care of this one once I set up our production environment.

[2021-11-01 18:19] Tonksthebear commented on #10
Awesome! I'll knock that out ASAP

[2021-11-01 21:00] #11 closed

[2021-11-01 21:28] #10 closed

[2021-11-01 22:30] joemasilotti opened #26 "Add file size custom validator to avatar uploads"

[2021-11-02 19:42] #26 closed

[2021-11-02 22:06] joemasilotti opened #27 "Production!"
- [x] Set up app on Heroku
- [x] Configure [mailgun](https://login.mailgun.com/login/) for transactional emails
- [x] Configure AWS bucket for Active Storage
- [x] [Point `www.railsdevs.io` DNS to Heroku](https://devcenter.heroku.com/articles/custom-domains)

After 60 days I will transfer the domain to namecheap. Apparently you have to wait that long to transfer a new registration.

[2021-11-02 23:00] lsparlin commented on #18
Are you open to new contributors?  I like working with view components and have a been hoping to contribute to railsdevs since you announced the idea.

[2021-11-02 23:40] joemasilotti commented on #18
Definitely! Please do, all PRs are welcome 😀

[2021-11-03 03:03] lsparlin commented on #18
How do you envision component-izing error messages?

[2021-11-03 14:08] joemasilotti commented on #18
`app/views/shared/_flash.html.erb` is probably a good candidate, it should DRY up that repeated code for formatting errors vs. messages.

Also, if there's a way to incorporate the `yield` on the last line that would be great. Right now it's being used in `app/views/shared/_error_messages.html.erb`.

[2021-11-03 14:10] joemasilotti commented on #18
Diving in a bit more, there are three concepts:

1. Color (blue vs. red) and icon
2. Title (present or not)
3. Content (paragraph vs. list)

A single View Component might be able to handle all of these (with tests!) quite nicely.

[2021-11-03 20:18] joemasilotti commented on #23
I'm happy to punt on this until it becomes an issue. S3 storage isn't exactly a huge cost burden at this scale.

[2021-11-03 20:18] #23 closed

[2021-11-03 20:18] joemasilotti commented on #22
Done!

[2021-11-03 20:18] #22 closed

[2021-11-04 17:55] joemasilotti commented on #18
I would also love to see avatar and cover photos get the same treatment. Currently, there are a lot of `if` statements floating around the views to handle developer's without an attached upload.

[2021-11-04 18:36] lsparlin commented on #18
👍 I aim to work on some more `ViewComponent`s for over the next few evenings

[2021-11-04 20:11] #27 closed

[2021-11-05 01:16] jacobdaddario commented on #12
@joemasilotti This can be closed with #24. For some reason the resolve keyword didn't want to work to mark this guy as closed.

[2021-11-05 03:24] joemasilotti commented on #12
Closed!

[2021-11-05 03:24] #12 closed

[2021-11-05 04:57] jacobdaddario opened #33 "Users who already have a developer profile can create a new one"
Users who already have a developer profile can create a new one despite already having a profile. This can create a confusing UX when the following happens:

1. A user mistakenly clicks "Create a profile" thinking they're logged in.
2. Realizing they are not logged in, the user logs in.
3. The log in controller attempts to re-direct the user to their previous location.
4. The user is now on the sc

[2021-11-05 21:04] joemasilotti opened #35 "Forgot password and resend confirmation pages don’t have styling"
- [ ] https://www.railsdevs.io/users/password/new
- [ ] https://www.railsdevs.io/users/confirmation/new

![image](https://user-images.githubusercontent.com/2092156/140578336-ff5ac713-4d5e-4f32-9655-d94b7eb596e6.png)

[2021-11-05 21:39] davegudge commented on #35
A different issue, but related to password reset. Upon submitting the form, the user is presented with:

![934BC881-A2F5-4B66-B34A-038D5AEF0D06](https://user-images.githubusercontent.com/1736807/140581449-da6d0eff-f819-46aa-9e5f-ccecff99146b.png)

This was using a confirmed user account, that has never signed into the system.

[2021-11-05 21:44] davegudge commented on #35
@joemasilotti just an FYI as I can’t edit the title of this issue. The password edit (set a new password) is also suffering from the lack of styling:

https://rails-devs.herokuapp.com/users/password/edit?reset_password_token=XXX

![EDED8DFF-5600-4B52-BF8F-8C470F2E15DD](https://user-images.githubusercontent.com/1736807/140582059-c2e628e9-a918-4a0c-b6f2-e1c69e4db2d7.png)

[2021-11-05 22:16] joemasilotti opened #36 "Website links on developer profiles don't link externally"

[2021-11-05 22:19] joemasilotti opened #37 "Open Graph meta tags"
* title and `twitter:title`
* description and `twitter:description`
* image and `twitter:image` – hoping to integrate [Mugshot Bot](https://mugshotbot.com) for dynamic images

[2021-11-05 22:21] joemasilotti opened #38 "Paginate /developers"
Strong preference for the [pagy gem](https://github.com/ddnexus/pagy) here.

[2021-11-05 22:28] joemasilotti opened #39 "Send email notification when someone creates their developer profile"
Moderation will probably be needed in the future, but for now this can serve as a first defense.

[2021-11-05 22:34] joemasilotti opened #40 "Index site on Google via a sitemap generator"
I've used [this fork of sitemap_generator](https://github.com/kjvarga/sitemap_generator) in the past, but am open to newer/better tools!

I'll then set up Google Search Console.

[2021-11-05 22:34] A7madXatab commented on #38
I'm on it.

[2021-11-05 22:40] A7madXatab commented on #38
Should we be infinite-scrolling or a page links that are clickable?

[2021-11-05 22:49] joemasilotti commented on #38
Ideally infinite scroll. But happy to roll with clickable page links and create a new issue for infinite scroll.

[2021-11-05 22:50] A7madXatab commented on #38
No worries. Infinite-scroll is easier to implement anyway!.

[2021-11-05 23:58] maful commented on #36
@joemasilotti  I'm happy to take this one

[2021-11-06 00:03] joemasilotti commented on #36
Sure thing! Open up a PR and I'll make sure to review yours first for this issue.

[2021-11-06 00:25] SmithWebDev commented on #36
PR input to resolve external link error

[2021-11-06 01:37] stevepolitodesign opened #44 "Style all Devise views"
The following views need to be styled.

- [ ] https://www.railsdevs.io/users/password/new
- [ ] https://www.railsdevs.io/users/confirmation/new

![CleanShot 2021-11-05 at 21 36 07](https://user-images.githubusercontent.com/5122678/140593547-5cc6d2c7-6ec5-47a7-a4bc-b626ef697d3e.png)
![CleanShot 2021-11-05 at 21 35 59](https://user-images.githubusercontent.com/5122678/140593549-67b186e5-f718-4dec-84

[2021-11-06 01:43] stevepolitodesign commented on #44
I should have looked at the issues first. This is a duplicate of #35

[2021-11-06 01:43] #44 closed

[2021-11-06 02:01] joemasilotti commented on #35
@davegudge, I think the 500 error was because the URL in the email was pointing to the wrong domain. That should be fixed now. Can you try again and if it is still broken open a separate issue?

[2021-11-06 02:41] joemasilotti opened #45 "Badges!"
Add badges to developer profiles for:

* contributing to this repo
* contributing to Rails
* peer verification

What else would you like to see a badge for?

[2021-11-06 02:49] maful opened #46 "Add filter developers by Availability"
This will be easier to find the developer by their availability

Here's the time range I propose:
- All -> this is the default one
- Available Now
- In a week
- In two weeks
- In a month
- More than a month

[2021-11-06 05:47] JuanVqz opened #48 "Add rspec as test library"
What do you think about to add the rspec library, Factory bot, Shoulda matches?

i can do it if we need it

[2021-11-06 07:46] davegudge commented on #35
Hey @joemasilotti,

The domain in the email is now correct, however, the 500 is triggered when submitting the passwords/new form, as opposed to clicking on the reset link in the email.

[2021-11-06 10:09] mcansky opened #49 "Support for Timezone setting for the dev profile"
As a developer based in EU I want to be able to select my TZ so that potential clients can figure out if I match their timezone enough when looking at my profile.

## UI bits

- when editing a developer profile, display a select box with TZ to select from using City, Country "Paris, France" and UTC reference "UTC +/- 1".
- when showing a developer profile, display the timezone.

## Questions

- is

[2021-11-06 12:03] joemasilotti commented on #48
I would like to stick as close to Rails defaults for this project, so minitest is here to stay.

[2021-11-06 12:03] #48 closed

[2021-11-06 12:04] joemasilotti commented on #35
Thanks @davegudge. Please open a new issue so we can track work independently.

[2021-11-06 13:37] joemasilotti commented on #49
I love this idea! How are you planning on mapping city/country to a timezone? I think you might be able to map `ActiveSupport::TimeZone.all` but that might be a bit expensive. (It takes a split second to load in the console, at least.) Would love to hear your thoughts – ideally we don't need another gem for this unless absolutely necessary.

[code]

Maybe, but I think that can be tracked as a sepa

[2021-11-06 13:41] joemasilotti commented on #49
Oh, I guess [`time_zone_select`](https://apidock.com/rails/v5.2.3/ActionView/Helpers/FormOptionsHelper/time_zone_select) should work out nicely after some TailwindUI styling! Unless you had something else in mind.

<img width="424" alt="image" src="https://user-images.githubusercontent.com/2092156/140611776-c789f329-79da-4777-ae3c-4582b53f9c54.png">

[2021-11-06 14:34] joemasilotti opened #50 "Redirect to profile when signing in via "Add my profile" link"
Actual flow:

1. Sign out
2. Click "Add my profile"
3. Sign in
4. See flash error "You are already signed in."

Expected flow:

1. Sign out
2. Click "Add my profile"
3. Sign in
4. Get redirected to editing your profile

[2021-11-06 14:35] #33 closed

[2021-11-06 14:36] joemasilotti commented on #18
Closed via #28.

[2021-11-06 14:36] #18 closed

[2021-11-06 16:08] #38 closed

[2021-11-06 17:11] lsparlin commented on #46
Is anyone working in this? I cannot not

[2021-11-06 17:56] mcansky commented on #49
to be honest I did not think about the how the solution would work. I mostly wanted to point out the need for something to help companies find someone in a "compatible" time zone, start the discussion and see where we will go from there.

`time_zone_select` looks about what I had in mind for the look and quite similar to what we are used to from other sites.

[2021-11-06 19:55] joemasilotti commented on #46
I'm wondering if we need a filter here. Like, would sorting by availability work even better? I imagine employers would be looking for devs ASAP, but I could be wrong.

Maybe we could add a sorting option (default to recently added) for next available date. Then, group everyone by how far out they are. For example, Available Now, available in less than 1 month, less than 3 months, etc.

What do fo

[2021-11-06 21:50] #39 closed

[2021-11-06 21:50] #36 closed

[2021-11-06 21:56] joemasilotti opened #51 "Post your developer profile to railsdevs.io"
Everyone who is contributing should make sure they have a profile on the live site.

Add your developer profile and reply with a link below!

### [railsdevs.io](https://www.railsdevs.io)

[2021-11-06 22:14] A7madXatab commented on #51
here is mine! https://www.railsdevs.io/developers/37.

[2021-11-06 22:43] A7madXatab commented on #46
Shouldn't we allow turning availability off?. Like it's not required?. Currently, we don't allow to create an account unless the availability is set. How about we allow nil values and when nil, we count them as unavailable ?

[2021-11-06 23:17] joemasilotti commented on #46
I wanted availability to be mandatory, but it seems like folks are kind of abusing the date by selecting something unreleasticly in the future. So I've changed my mind and would be happy to make `available_on` not required.

[2021-11-07 02:32] maful commented on #46
@joemasilotti I will create a PR to make `available_on` optional

[2021-11-07 02:46] joemasilotti commented on #46
Sounds great, thanks, @maful!

[2021-11-07 03:00] #35 closed

[2021-11-07 03:18] joemasilotti opened #55 "Add rate and/or salary to developer profiles"
I'd love a way for developers to show their expected rate or salary, optional of course. One way would be to do ranges; a min and max for each. The other approach is to set an expected target as a single number.

I'd love feedback on this from folks! What would you rather fill out on your developer profile?

[2021-11-07 03:25] joemasilotti opened #56 "Restrict outbound links to signed in users"
Currently, the Message button is hidden unless you are signed in. Clicking it opens up your email client with the developer's email populated.

Instead, I want to route the click through our servers. That way we can track when an outbound link is clicked and we can authorize the user (instead of showing it / not showing it).

I'd also love to see all external link (GitHub, Twitter, website, etc.)

[2021-11-08 01:21] maful commented on #55
Ya, that's a good idea

The hourly rate is a common one I think for freelancers, are we going to show the expected rate or salary publicly or only for authenticated users?

[2021-11-08 14:48] pingortle commented on #37
@joemasilotti I'm on it! Should be able to get to it in the next couple days. Sound good?

[2021-11-08 14:53] joemasilotti commented on #37
Awesome! Looking forward to the PR.

[2021-11-08 19:29] joemasilotti commented on #55
Everything except email and personal links is planned to be shown publicly.

[2021-11-08 20:35] lsparlin commented on #51
My railsdevs.io profile https://www.railsdevs.io/developers/3

[2021-11-09 00:02] maful commented on #51
My profile https://www.railsdevs.io/developers/18

[2021-11-09 12:32] JuanVqz commented on #55
I think one field is good enough for now

[2021-11-09 16:15] pingortle opened #67 "Interested in linting erb with standardrb?"
Love that this project uses standardrb. How about linting your erb files too?

I recently set up a new Rails app with a pretty minimal erblint config using standardrb for embedded ruby code. Happy to contribute PR if desired!

- https://github.com/Shopify/erb-lint

`cat .erb-lint.yml | pbcopy`
👇
[code]

[2021-11-09 17:06] jacobdaddario commented on #67
Just quick aside while getting some water at work. I think this would be great. I always struggle with Joe to properly format ERB, and I'm not really sure what the best approach is. This would totally take the thinking of it.

[2021-11-09 17:43] joemasilotti commented on #67
Ohh, this looks really nice! Is there no way to configure standardrb to lint ERB?

[2021-11-09 19:39] pingortle commented on #67
Not that I'm aware of. I would love to learn otherwise!

[2021-11-10 04:30] thubamamba opened #70 "Developer profiles with name"
This might be a good one as there's already thought on SEO. Perhaps profile links shouldn't use developers ID but their name.

I'd be happy to jump on this @joemasilotti.

[2021-11-10 07:07] davegudge commented on #70
I've thought about this one too.

My initial thought was to use the GitHub username, however, it's not mandatory and there is no way to ensure people are 'claiming' their own username.

Also, the plan is to hide the contact details, so using the GitHub username won't work. I'm sure I read that the developer name was also going to be hidden, so exposing them in the url goes against that?

An altern

[2021-11-10 13:58] joemasilotti commented on #70
At this point I'm not planning on exposing a developer's name in the HTML nor the URL string. I agree that it would be better for SEO, but I'm happy to have numbers for now.

Are there any benefits to UUIDs besides hiding how many developers there are? Or the order someone signed up in? What's so bad about using IDs in the URL?

[2021-11-10 14:04] davegudge commented on #70
UUIDs are beneficial if you ever need to interface with an external system.

There's no issue with using the ids in the URL. As you have mentioned, it simply exposes your developer count and the order in which people signed up.

[2021-11-10 14:08] joemasilotti commented on #70
Got it. Well, until we interface with an external system I think IDs should be fine. Thanks for the feedback!

[2021-11-10 14:08] #70 closed

[2021-11-10 14:11] joemasilotti opened #71 "Add site purpose/description"
Folks coming to the site without knowing anything about it are a bit confused. I'd love to add the following copy in a header (or similar) on the home page.

The tricky bit here is that the layout/design of the page needs to change to incorporate this. I'm open to mockups and PRs on this one and could use some help!

### To-do

- [x] Redesign homepage to add description
- [x] Mobile redesign of ho

[2021-11-10 16:46] #37 closed

[2021-11-10 19:42] joemasilotti commented on #71
Work is being done in #73, but here's some progress screenshots!

<img width="1597" alt="image" src="https://user-images.githubusercontent.com/2092156/141182022-6141f038-3b84-4017-a478-99f83a142c3f.png">
<img width="401" alt="image" src="https://user-images.githubusercontent.com/2092156/141182060-88f4df4d-bea7-4bd3-bdb6-13b4f3e833e3.png">

[2021-11-10 23:26] joemasilotti commented on #71
And we're live!

![Uploading image.png…]()

[2021-11-10 23:26] #71 closed

[2021-11-10 23:52] pingortle commented on #67
@joemasilotti Hey, this decision is documented! There is no support for `erb` within standard and no plans to do so. Justin pointed the individual at `erb-lint` as well.

Source: https://github.com/testdouble/standard/issues/304

[2021-11-10 23:54] pingortle commented on #67
💯  I hate thinking about formatting anymore. Standard its ilk have spoiled me. 😆

Not gonna lie… I've thought about starting up a `standarderb` project, but I'm not sure I want to carry that torch. 😅

[2021-11-10 23:55] joemasilotti commented on #67
Good to know! Thanks for digging that up.

Can you throw together a PR that integrates `erb-lint` with sensible defaults and adds a CI step to lint? I'd love to give this a real test.

[2021-11-11 00:46] joemasilotti commented on #50
No longer needed after the redesign #73.

[2021-11-11 00:46] #50 closed

[2021-11-11 00:50] joemasilotti opened #75 "Note creator with contact email and open source"

[2021-11-11 04:13] joemasilotti opened #78 "Developers are rendered twice on the homepage"
@Tonksthebear, I think your PR caused this? Can you please take a look here.

[2021-11-11 04:15] Tonksthebear commented on #78
I'm not seeing the issue in Safari. I'll check the others

[2021-11-11 04:16] joemasilotti commented on #78
You can see it on `railsdevs.io`. I searched for "experienced web" and the same person showed up twice.

[2021-11-11 04:16] Tonksthebear commented on #78
Ah wait I see it. looking now

[2021-11-11 04:24] Tonksthebear commented on #78
#80 should fix it. I didn't see anything in my dev environment at least

[2021-11-11 04:27] joemasilotti commented on #78
LGTM! Thanks again.

[2021-11-11 04:27] #78 closed

[2021-11-11 16:43] joemasilotti opened #81 "Show only available devs on the homepage with link to see all"

[2021-11-11 16:43] joemasilotti commented on #81
Closed via #77.

[2021-11-11 16:43] #81 closed

[2021-11-11 18:02] joemasilotti commented on #75
Currently being worked on in #82.

[2021-11-13 04:16] vamsipavanmahesh commented on #40
A couple of questions:

- Do you want individual developer profiles to be part of the sitemap?
If that's the case, we might want to run a cron job to regenerate this sitemap every day via a cron job

- Do you envision at some time in the future that we will move to multiple servers, if that's the case we cannot have a sitemap file in a single server or multiple servers, need to be in s3 or equival

[2021-11-13 07:50] davegudge commented on #40
Using a [dynamically generated sitemap](https://webdevchallenges.com/how-to-add-a-dynamically-generated-sitemap-with-rails) would remove the need for regenerating and it should work regardless of how the site is hosted.

[2021-11-13 09:31] vamsipavanmahesh commented on #40
For a small site it should be fine, but when you have thousands of records, might not be a good solution?

A lot of this will obviously depend on what is the time crawler is willing to time just to get the sitemap?

After getting the sitemap, it has to actually crawl

When I have worked on an SEO project at my company, SEO consultants used to talk about a thing called "crawl budget", basically our

[2021-11-13 12:26] davegudge commented on #40
You've raised some very good points.

SEO is such a large topic these days!

[2021-11-13 17:06] joemasilotti commented on #40
I've used the fork I linked to at the top for a variety of projects. You set up a single Ruby file that looks a lot like a Rails routing file. You can dynamically index pages pages on path, or resource. It also sets up a single rake task that will publish the sitemap on an S3 bucket and ping Google (and other search engines).

That still feels like the easiest approach for setting up a sitemap on

[2021-11-13 18:14] vamsipavanmahesh commented on #40
Yes, I was talking about using the mentioned gem

this is where the complexity lies in, example there are 100 developers right now and our URLs are like this

/developers/1
/developers/2 etc

all these URLs will go to sitemap, now tomorrow 100 more devs sign up, and you need to put those URLs also on the sitemap

sitemaps do not allow dynamic routes as far as I know like rails routes

so in order

[2021-11-13 20:37] joemasilotti commented on #40
Yep, exactly! A job that regenerated the site map once a day should work great. I can set that up on Heroku once the rake task exists.

[2021-11-14 01:55] joemasilotti opened #90 "Document all expenses"
**Is your feature request related to a problem? Please describe.**

Being an open product, I want to document all expenses involved in running the site.

**Describe the solution you'd like**

I want to see these expenses on the website and linked from the header. Perhaps `/open` or `/stats` could work in the long run. But for now something simple like `/expenses` is probably fine.

**Describe alte

[2021-11-14 06:03] #75 closed

[2021-11-14 21:29] joemasilotti opened #94 "Migrate to railsdevs.com 🥳"
**Is your feature request related to a problem? Please describe.**

I recently purchased `railsdevs.com` and want to transfer of the site.

**Describe the solution you'd like**

Visiting `railsdevs.com` renders the current site. Visiting `railsdevs.io` or `www.railsdevs.io` redirects to `railsdevs.com`.

**Describe alternatives you've considered**

Keeping the `.io`.

[2021-11-15 05:38] jacobdaddario commented on #21
Going to go ahead and handle this now that #60 is ready to be merged.

[2021-11-15 11:01] vamsipavanmahesh commented on #94
Let's gooo 🚀

[2021-11-15 11:02] vamsipavanmahesh commented on #40
I can pick this up if this is not urgent, can get done by this week

[2021-11-15 14:39] joemasilotti commented on #40
Awesome, thank you!

[2021-11-15 20:02] #56 closed

[2021-11-17 20:06] peterberkenbosch commented on #55
not sure if the max is needed? min would be a good indication where to start. I usually do retainer contracts where the base hourly goes down a bit based on the minimum hours reserved per month (or 4 weeks to make it more complex ;).

Btw. love this!

[2021-11-17 20:35] joemasilotti commented on #55
Yeah, I'm leaning more towards one field (for each) as well.

`developers.expected_salary` and `developers.expected_hourly_rate` should work, where both are optional.

[2021-11-17 23:00] joemasilotti commented on #40
A heads up that I will happily review a PR but won't merge anything until #94 is merged in.

[2021-11-18 02:28] mechanicles opened #106 "Reset password does not work"
Reset password does not work.

Steps to reproduce the behavior:
1. Go to 'https://www.railsdevs.io/users/sign_in'
2. Click on 'Forgot your password?'
3. Enter provided email address
4. Click on `Send reset password instructions`
5. It rails this validation error `Invalid Email or password.`

**Expected behavior**
After clicking `Send reset password instructions` button, it should send a reseting p

[2021-11-18 03:09] #106 closed

[2021-11-18 03:09] joemasilotti commented on #106
Thanks! Just pushed a fix.

[2021-11-18 09:07] themudassarhassan opened #107 "Should handle ActiveRecord::NotFound exception and display a nice UI for developer not found page"
**Describe the bug**
We are using find method which will throw `ActiveRecord::NotFound` exception if record with the specified id not found

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to any developer profile that doesn't exist for example https://www.railsdevs.io/developers/1000

**Expected behavior**
 Should handle that exception and show a nice UI of developer not found with

[2021-11-18 10:39] peterberkenbosch commented on #55
Started working on this in #108

[2021-11-18 14:09] joemasilotti commented on #107
I'm down for having a better designed 404 page (and even 500 page). There's good examples in TailwindUI we could use almost verbatim.

But I don't think we need something special for a developer profile not being found.

I also know it will be tricky to bundle Tailwind CSS into the static pages - all styles must be on the page for that to work since they are rendered without the Rails engine (AFAI

[2021-11-18 15:16] joemasilotti opened #109 "Mobile menu z-index is off"
**Describe the bug**

The mobile menu is covered by elements on the `Developers#show` page.

**To Reproduce**

Steps to reproduce the behavior:

1. Visit any developer page (e.g. https://www.railsdevs.io/developers/1) on mobile
2. Open the menu
2. See the avatar and hero covering the mobile menu

**Expected behavior**

The mobile menu should be on top of everything.

**Screenshots**

<img width="4

[2021-11-18 18:32] joemasilotti opened #110 "Move all copy to translation (locales/en.yml) file"
**Describe the bug**

Not really a bug, but more a chore. We should move all of the copy to the i18n file `config/locales/en.yml`. This will make our lives much easier if/when we translate to a new language. It also keeps everything in one spot vs. littered across the app.

[2021-11-18 21:29] #94 closed

[2021-11-18 22:46] joemasilotti commented on #40
#94 is merged and live, so this is ready to be worked on again!

[2021-11-19 15:32] Blaise-Shyaka commented on #109
Hi @joemasilotti, I'd like to work on this.

[2021-11-19 15:48] joemasilotti commented on #109
Awesome! Go for it @Blaise-Shyaka.

[2021-11-20 17:39] joemasilotti commented on #109
Closed via #112.

[2021-11-20 17:39] #109 closed

[2021-11-20 18:42] joemasilotti opened #113 "Long hero causes page to scroll horizontally"
**Describe the bug**
If a developer enters a very long Hero then the page shows the entire content and causes horizontal scrolling.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit the homepage on mobile
2. Scroll down to the developer in the screenshot

**Expected behavior**
The page doesn't scroll horizontally.

**Screenshots**
![image](https://user-images.githubusercontent.com/209215

[2021-11-21 00:57] lsparlin commented on #107
@joemasilotti For using the tailwind styles on error pages would you approve of an errors controller similar to this example? https://web.archive.org/web/20141231234828/http://wearestac.com/blog/dynamic-error-pages-in-rails

[2021-11-21 03:13] joemasilotti commented on #107
Oooh, probably not. We don't want to render the error pages via Rails. We should keep it static and served via `public/`. If the entire app is down, for example from a configuration error, the Rails-rendered pages might not get displayed at all.

I'll accept a PR that bundles Tailwind CSS in some way into the static files. Maybe a CDN? Or maybe a build script that copies the latest CSS on deploy.

[2021-11-21 06:49] imrushikesh commented on #113
try -- >
    overflow-x: hidden;
    width: 100%;

or  give  width to  div having -->
        Rails Developer/Consultant/Freelancer/Coach

it will fix the problem

[2021-11-21 16:06] lsparlin commented on #107
I'll get a PR sent today 😁

[2021-11-22 02:01] joemasilotti commented on #107
Closed with #116.

[2021-11-22 02:01] #107 closed

[2021-11-22 02:05] #113 closed

[2021-11-22 09:40] briu commented on #45
I think it can be valuable to add the possibility to choose some badges according to developer interests.

For example project suggest 10-20 badges(`ui/ux`, `databases`, `perfomance`, `management`, `devops`, `MVP`, `frontend`, `microservices`, `architecture` and etc) and developer can choose only 3, that he the most interested in.

It can help employees to make better decision what developer be th

[2021-11-22 12:34] fetijashari commented on #110
Hey @joemasilotti - are you thinking to move all "static text" that currently exist on controllers, views,  components etc - to I18n file (en.yml) ?

[2021-11-22 15:01] joemasilotti commented on #45
I love the idea of adding areas of interest. I think for this issue I meant more of achievements, but I do want both in the app in some way.

Also, limiting to 3 is a great way for someone to stay focused.

Would you mind opening a new issue for Interests? Then we can continue that conversation there.

[2021-11-22 15:02] joemasilotti commented on #110
Yep, exactly!

[2021-11-22 16:06] fetijashari commented on #110
Ok - I'll take it :)

[2021-11-22 16:07] briu commented on #45
yeah, for sure

[2021-11-22 16:30] briu opened #117 "areas of developer interests"
Regarding our recent conversation here https://github.com/joemasilotti/railsdevs.com/issues/45 I suggested to implement something like limited badges, that developers can choose

Additionally, I think it might be useful to add some preferences between the two options, it can help to better understand developer preferences.

For example:
`ruby` - `other backend languages`
`rails way` - `dry-rb`

I

[2021-11-23 04:00] joemasilotti commented on #117
Oh, interesting idea! I've never seen a sliding scale like that for preferences.

In theory, this could be a lot of fun. But in practice, I worry that a developer might be limiting themselves too much by sliding that scale too far. For example, I _strongly_ prefer minitest over RSpec, so I would set it to 100%. But if a potential client was using RSpec I wouldn't say no, you know?

Instead, I'd ra

[2021-11-23 17:25] joemasilotti commented on #90
For now, a Wiki page on GitHub is good enough. See [Expenses](https://github.com/joemasilotti/railsdevs.com/wiki/Expenses).

[2021-11-23 17:25] #90 closed

[2021-11-23 20:55] joemasilotti opened #120 "A business can message a developer"
The ~first~ second (of many) [Messaging](https://github.com/joemasilotti/railsdevs.com/projects/3) issues!

A PR addressing this issue should...

* Add a Message button to a developer's profile
    * When clicked, if signed in as a business then open a new conversation screen
    * When clicked, if not signed in as a business then prompt to create a business profile
* `developers/:id/messages/new`

[2021-11-23 21:03] joemasilotti opened #121 "A developer can reply to a conversation"
A PR addressing this issue should...

- [ ] A developer can view their conversations via a link in the nav bar
- [ ] A developer can view individual conversations via the conversation list
- [ ] When viewing a conversation, there is a text field to reply to the conversation
- [ ] On form submit, a`Message` is created
- [ ] Messages are correctly identified as being sent from "You" or the business/

[2021-11-23 21:03] joemasilotti opened #122 "A business can continue a conversation with a developer"
A PR that addresses this issue should...

- [ ] When viewing a conversation there is a text field to reply to the conversation
- [ ] On form submit, a `Message` is created that belongs to the client and the conversation

[2021-11-23 21:04] joemasilotti opened #123 "An admin can toggle the Messaging feature on/off"
A PR addressing this issue should...

- [ ] Wrap UI and routes (only) related to Messaging in a feature flag
- [ ] Expose said feature flag via an environment variable

[2021-11-23 21:27] joemasilotti opened #124 "After signing up, a user can identify as a developer or business"
A PR addressing this issue should...

- [ ] After signing up, present a new screen asking if the user is a developer or client at `/roles/new`
- [ ] If a developer, redirect to `developers/new`
- [ ] If a client, redirect to `businesses/new`
    - [ ] This form includes name, company, and avatar

[2021-11-24 00:01] #67 closed

[2021-11-24 16:31] briu commented on #117
I think it makes sense to add a hint with the explanation that this is not an overall developer opinion, but the willingness to work with technology where 0 - I will never work with that technology for any money, 100 - I'll very like(want to try technology) and ready to start work asap. For me, personally, it will be interesting to see this combats stats, I think results can be an argument in many

[2021-11-28 23:44] joemasilotti opened #127 "SignalException in at_exit"
Reported from Honeybadger - https://app.honeybadger.io/fault/93997/ff09c81937af176f383d94deaa5b375e

[2021-11-29 19:39] joemasilotti commented on #55
Closed via #108.

[2021-11-29 19:39] #55 closed

[2021-11-30 13:57] JuanVqz commented on #127
Hi! @joemasilotti is this a solution?

[SignalException or SystemExit is reported when a process or rake task exits
](https://docs.honeybadger.io/lib/ruby/support/troubleshooting/#code-signalexception-code-or-code-systemexit-code-is-reported-when-a-process-or-rake-task-exits)

[2021-11-30 20:16] joemasilotti commented on #127
Huh, that's super interesting! I'm curious how it got through then, since there aren't any rake tasks yet. I wonder if a remote console session would be considered one, though?

[2021-11-30 20:28] #124 closed

[2021-11-30 23:21] Tonksthebear commented on #120
Do you have any thoughts on how "fancy" to make this feature? Would a simple text field suffice, or would you want to leverage ActionText to accommodate @mentions or other inline features down the line?

[2021-11-30 23:45] joemasilotti commented on #120
I'm planning on building this as simple as possible to start. Once the entirety of the Messaging project is done we can come back and add polish, like rich text, images, hyperlinks, etc.

[2021-11-30 23:52] Tonksthebear commented on #120
Ok! Are you actively working on this? I'd be happy to whip this up depending on how soon you want it

[2021-12-01 17:48] joemasilotti commented on #120
I'm going to take this one. But the next few issues in this project will be open for contributions.

[2021-12-01 18:43] caseyjenks commented on #49
@joemasilotti Is there a need to support filtering developers by timezone? Or are we just wanting to display this on the profiles for now.

[2021-12-01 18:47] caseyjenks commented on #40
@vamsipavanmahesh How is your availability looking? I can pick up if need be

[2021-12-01 19:02] caseyjenks opened #128 "Pagination on developers/index busted"
I noticed it's only rendering the most recent 20 developers, and it doesn't ever load in more developers. Something with Pagy and Turbo maybe?

[2021-12-01 23:33] vamsipavanmahesh commented on #40
Hi Casey,

My machine is broken right now. Unfortunately I cannot pick this, you can
go ahead with this :)

On Thu, 2 Dec 2021, 00:17 Casey Jenks, ***@***.***> wrote:

[2021-12-02 04:05] joemasilotti commented on #128
Thanks for reporting @caseyjenks! Feel free to submit a PR if you know what's going on.

@Tonksthebear, I believe [you originally implemented this](https://github.com/joemasilotti/railsdevs.com/pull/76). Any chance you can take a look?

[2021-12-02 05:38] Tonksthebear commented on #128
I'm just taking a peek real quick and I can't put together a PR, but looks like the regression took place when the original `<ul id="developers">` was replaced with `<%= render DeveloperCardComponent.with_collection(@developers) %>`.

If you swap
[code]
with
[code]
It should all work as expected. Leaving that id off looks like the culprit!

[2021-12-02 15:33] joemasilotti commented on #128
Love it. Fixed and pushed - thanks everyone!

[2021-12-02 15:33] #128 closed

[2021-12-03 03:03] joemasilotti commented on #49
I think for now all we need to do is display it on the profile.

That said, I'd love to see design mockups or ideas of _where_ this will go before someone dives into implementation. I'm worried the developer profile page is getting a little busy.

[2021-12-03 05:08] joemasilotti opened #131 "View Components aren't reloaded if only HTML is changed (in development)"
**Describe the bug**
Modifying the `.html.erb` of a View Component doesn't get reflected when reloading the page in development. Only after the `.rb` file is saved will the change be applied.

**To Reproduce**
Steps to reproduce the behavior:
1. Open `app/components/developer_card_component.html.erb` and change the background color to `bg-red-900`
2. Visit `/`
3. Note that the background of the De

[2021-12-03 19:14] caseyjenks commented on #49
@joemasilotti Thoughts on putting it here? Seems like the best spot, unless you think it could live under the loosely related availability section.
![image](https://user-images.githubusercontent.com/300131/144659770-e6ee7c99-af61-4d67-949c-749b21b75b16.png)

[2021-12-06 23:10] joemasilotti opened #134 "Tidy up word wrap on developer cards"
The developer bio is cut off at weird-looking lines on desktop vs. mobile. The homepage, on desktop, limits the bio to a single line. But 2 lines are visible on mobile.

Also, the word wrap of the developer hero is being wrapped on characters which makes for some heroes hard to read. This should instead break on words.

<img width="1117" alt="image" src="https://user-images.githubusercontent.com/2

[2021-12-08 14:44] joemasilotti opened #135 "ActionView::SyntaxErrorInTemplate"
https://app.honeybadger.io/fault/93997/0ca3455881e766d2cd91727e54d129ff

[2021-12-08 14:46] #110 closed

[2021-12-08 14:46] joemasilotti commented on #135
@fetijashari can you take a look at this? I believe it's caused by the translation changes we made.

[2021-12-08 14:57] fetijashari commented on #135
Hey @joemasilotti,

Yes  and solved ! :)

[2021-12-08 15:03] joemasilotti commented on #135
Awesome, thank you!

[2021-12-08 15:03] #135 closed

[2021-12-08 16:52] joemasilotti commented on #49
Yeah, this work! Good idea, and I love the clock.

[2021-12-09 04:34] #134 closed

[2021-12-09 15:45] pacMakaveli opened #142 "Currency changing"
**Is your feature request related to a problem? Please describe.**
I would like to be able to change my currency. It currently defaults to $, but not everyone is in the US.

**Describe the solution you'd like**
I think this should be split into multiple pull requests, each with the following:

1. Add the ability to select the currency in the `Preferred compensation` panel.
2. As a recruiter, add t

[2021-12-09 17:10] #131 closed

[2021-12-12 05:18] joemasilotti commented on #123
Closing in favor of a code change and deploy required to enable Messaging.

[2021-12-12 05:18] #123 closed

[2021-12-12 05:21] joemasilotti commented on #142
Thanks for the feature request! I'd love to dive into this, but right now I'm trying to focus efforts on [Messaging](https://github.com/joemasilotti/railsdevs.com/projects/3) and [Payments](https://github.com/joemasilotti/railsdevs.com/projects/4). Once those are done I will be able to take a step back and look at what's next feature-wise.

[2021-12-14 22:18] #120 closed

[2021-12-14 22:19] #121 closed

[2021-12-14 22:19] #122 closed

[2021-12-14 22:19] joemasilotti opened #148 "A developer or business can flag a message as spam/abusive"

[2021-12-14 22:19] joemasilotti opened #149 "A developer or business can block a business or a developer, respectively"

[2021-12-14 22:19] joemasilotti opened #150 "An admin can view flagged messages"

[2021-12-14 22:20] joemasilotti commented on #49
Closed via #138.

[2021-12-14 22:20] #49 closed

[2021-12-14 22:21] joemasilotti commented on #46
The site has changed a bit since this issue was opened. I'm going to close this for now as I focus on Messaging and Payments.

[2021-12-14 22:21] #46 closed

[2021-12-14 22:25] #142 closed

[2021-12-14 22:25] joemasilotti commented on #127
this seems to be a fluke so I'm going to close this for now.

[2021-12-14 22:25] #127 closed

[2021-12-14 22:26] joemasilotti commented on #21
Hey @jacobdaddario, this has been open for a month now. I'm going to close it to clear out old issues.

Feel free to open it up again or open a PR if you get around to working on it.

[2021-12-14 22:26] #21 closed

[2021-12-14 22:27] joemasilotti commented on #117
Hey @briu, if you're still interested in this can you please open an [Ideas discussion](https://github.com/joemasilotti/railsdevs.com/discussions/new)?

I'm trying to keep Issues for bug reports and work-in-progress tracking. Thanks!

[2021-12-14 22:27] #117 closed

[2021-12-14 23:18] joemasilotti opened #151 "Notifications for inbound messages"
- [ ] Create a notification record when a business sends a message
- [ ] Create a notification record when a developer sends a message

[2021-12-15 19:53] #148 closed

[2021-12-15 19:55] #149 closed

[2021-12-15 21:48] #150 closed

[2021-12-15 23:27] joemasilotti opened #154 "Notification UI"
- [ ] A developer or business can view their _unread_ notifications via a link from the navigation bar
- [ ] When a notification is clicked, `read_at` is set

[2021-12-15 23:28] joemasilotti opened #155 "Notification badge"
- [ ] A red dot is shown on the notification icon in the header when a business or developer has unread notifications

[2021-12-15 23:30] joemasilotti opened #156 "Send an email to the recipient when a message is created"
- [ ] Use noticed to send the email when the notification is created
- [ ] Link to the notification (and mark it as read when clicked)

[2021-12-15 23:43] joemasilotti opened #157 "Subscription landing page"
Clicking the Message button should navigate to a new page highlighting the Business Subscription. This should include what the subscription is, that it is only for businesses to reach out to developers (developer accounts are free), the pricing, and a big CTA to continue to payments.

[2021-12-16 00:01] joemasilotti opened #158 "Business subscriptions"
Clicking Message on a developer profile currently navigates to `developers/:id/messages/new`. Instead, if the user doesn't have an active Business Subscription then they should be redirected to a [Stripe Checkout](https://stripe.com/docs/payments/checkout) page. If the user isn't signed in then redirect to `users/sign_up`. If the user doesn't have a business profile then they should be redirected

[2021-12-16 20:27] jayeclark commented on #154
Hi there! I've got PR #162 in progress for the notification badge and realized it probably makes the most sense to work on #155 and this issue concurrently.

I had a few questions on design.

- **Were you envisioning that the UI would be similar to the conversations UI?** (i.e. user clicks on notifications badge and a new page comes up with their notifications.) Or were you instead envisioning a d

[2021-12-16 20:44] joemasilotti commented on #154
Great questions, thanks for diving in and forcing some decisions.

* UI-wise, let's keep this as simple as possible. To me, that means a new screen when you click the badge. We can always (later) move this to a drop-down that is powered by a lazy-loaded Turbo frame. Design-wise, `/conversations` should be good to model after.
* A notification should be considered "read" when it is interacted with,

[2021-12-16 20:51] jayeclark commented on #154
This is great, thanks! Definitely enough for me to get started. I'll open a draft PR after I have the basics in place, just to check that the direction and basic functionality are what was intended. (Since this is a bit more complicated than the badge issue, it might not be until early next week.)

[2021-12-16 21:14] joemasilotti commented on #154
Sounds great on all accounts, thank you!

[2021-12-17 22:36] #157 closed

[2021-12-17 22:40] joemasilotti commented on #154
Oh, one more thought. you will probably _also_ knock out #151 by implementing this! Feel free to submit a PR for that first, if it is easier for you.

[2021-12-18 00:07] joemasilotti opened #164 "Message -> Hire me"
The Message button on the developer profile should be changes to "Hire me" to better communicate the purpose and value of the action.

[2021-12-18 00:24] joemasilotti opened #165 "Purchase directly from /pricing without an account"
Currently, clicking the CTA on `/pricing` navigates to `businesses/new`. Instead, it should navigate right to the Stripe checkout page.

There are a few complications/questions with this approach. Here's everything I can think of.

* if the user already has an account and a business profile then this should be straightforward
* if the user doesn't have a business account then we can redirect to `/

[2021-12-18 00:28] #164 closed

[2021-12-18 15:36] joemasilotti opened #166 "Upgrade to Tailwind CSS 3.0"
According to the [upgrade guide](https://tailwindcss.com/docs/upgrade-guide), I don't think this should require a lot of code changes. We are already using the JIT engine and not many customizations. Most of the changes might be the new class names.

[2021-12-19 19:22] jacobdaddario commented on #21
😱 In the craziness of the holidays and fresh-installing my Mac I completely forgot about this. I'm re-cloning my fork and pulling down all of the changes now. Sorry about that! I had been kind of proud of staying on top of stuff for this project, and I'm embarrassed I forgot about this.

[2021-12-19 19:39] joemasilotti commented on #21
No worries at all! Enjoy the holidays and get to this whenever. No rush - it all seems to be working fine in production now.

[2021-12-20 03:09] joemasilotti commented on #166
Closed via #169.

[2021-12-20 03:09] #166 closed

[2021-12-21 13:22] joemasilotti commented on #158
Closed via #168.

[2021-12-21 13:22] #158 closed

[2021-12-21 13:24] #151 closed

[2021-12-21 13:28] joemasilotti commented on #156
Closed via #176.

[2021-12-21 13:28] #156 closed

[2021-12-21 13:41] joemasilotti commented on #154
Heads up, I took care of #151 and #156 which close up the MVP for business subscriptions. Feel free to merge `main` into your work to get the updates!

[2021-12-21 22:40] joemasilotti commented on #165
Digging into [pay](https://github.com/pay-rails/pay) some more, I'm not sure if it is possible to kick off a Stripe Checkout without a user account.

[2021-12-22 14:04] fpsvogel opened #178 "After setup, every test results in a PG::ForeignKeyViolation"
**Describe the bug**
After forking and cloning the project for the first time, I followed the setup steps and I'm able to run locally with `bin/dev`. But I can't run the tests because every test results in this error:

[code]

I'm on Ubuntu 20.04 in WSL.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the railsdevs.com repo.
2. Follow the setup steps in the README.
3. Run `rails test`.

[2021-12-22 16:23] jayeclark commented on #154
OK great! I got a little sidetracked over the weekend/early this week with holiday stuff but am hoping to get back on this in the afternoon today.

[2021-12-22 16:28] joemasilotti commented on #154
Sounds great! And no worries, excited to see what you build.

[2021-12-22 18:07] salochara commented on #51
👋  here's mine!
https://railsdevs.com/developers/137

[2021-12-23 00:48] jacobdaddario commented on #178
I tested this out on my machine, and I didn't receive an error. That said, I've been working on uploads, and I wonder if that has something to do with it. It looks like it's missing the blobs for an attachment. What's the contents of your `blobs.yml` fixture? What's the content of your folder under `test/fixtures/files`?

[2021-12-23 02:46] fpsvogel commented on #178
Thanks for the help! Here's my `blobs.yml`:

[code]

My `test/fixtures/files` directory contains two images: `lovelace.jpg` and `mountains.jpg`.

[2021-12-23 04:09] jacobdaddario commented on #178
@fpsvogel Oh! This is simple, you're just missing the fixture responsible for the avatar of the business. Try pulling down the recent changes to the repository.

I'm not sure why the fixture didn't pull down when the changes to the test seem to have been pulled. Regardless, if you check the `blobs.yml` file in the repo on GitHub, you'll see what you're missing.

[2021-12-23 14:36] fpsvogel commented on #178
@jacobdaddario Thanks, I see I didn't have those recent changes. I pulled the main branch and reset my database, but I'm still seeing the same error. I double-checked that my `blobs.yml` matches the latest version, and it does. I'm stumped.

[2021-12-23 14:40] jayeclark commented on #154
I'm having a little trouble getting the dev server running again now that I've merged in the payment-related commits. (Stripe needs to be configured whether or not one is working on payment related code.)

Maybe you can save me some time - I'm poking around and see if I can find it in the code but haven't found it yet. What is the webhook endpoint that I should be using to generate the webhook sig

[2021-12-23 14:45] jayeclark commented on #154
NVM, found it! Still getting errors trying to start the dev server though.

[2021-12-23 14:48] jacobdaddario commented on #178
Do you have the image that blob 3 is trying to reference?

[2021-12-23 15:09] joemasilotti commented on #154
What error are you seeing now? And would you mind adding webhook instructions to the README? I thought I added everything you need from a fresh install but must have missed something.

[2021-12-23 15:10] fpsvogel commented on #178
Sorry, I forgot to mention that yes, now I do have the additional image as well. I also deleted my fork and then forked and cloned again from scratch, but I'm still getting the error.

[2021-12-23 15:13] joemasilotti commented on #178
This issue makes me think your database is still in a weird state. https://github.com/rails/rails/issues/37984

Can you confirm that killing the server and running `rails db:reset` doesn't nuke the orphan records?

[2021-12-23 15:18] joemasilotti commented on #178
Also maybe this will help?

https://stackoverflow.com/a/61337975

[2021-12-23 15:26] jayeclark commented on #154
I sorted it out, turned out to be a problem caused by not having the right editor to edit the development.yml.enc file.

[2021-12-23 22:06] fpsvogel commented on #178
Thanks, Joe, for the ideas. Here's what I tried just now:

- `rails db:reset`
- went into the Postgres console and deleted the railsdevs DBs there, then created them again in Rails
- deleted `schema.rb` and tried the above again
- switched the project to Ruby 3.0.3 and Rails 7 release, and tried all of the above again

I also tried the StackOverflow answer, but that did nothing because there are n

[2021-12-24 09:12] hungmi commented on #178
Hi, I was trying to see if I can help.
1. I forked and cloned the repo
2. `bin/setup`
3. `rails test`
4. got lots of errors like `ActionView::Template::Error: The asset "application.css" is not present in the asset pipeline.`
5. start the server `foreman start -f Procfile.dev` and wait for the compiling.
6. `rails test` again and got all green (rainbow actually).

BTW, I am on MacOS 10.15.7

[2021-12-24 14:50] jacobdaddario commented on #178
This is actually expected, but it definitely is confusing. Let me explain. Rails is looking for a compiled stylesheet, which hasn't been created yet. When you run the dev server for the first time, it generates that sheet, so then tests pass.

@joemasilotti maybe we should alter the setup script to run bin/dev right off the bat after setup.

[2021-12-25 22:09] joemasilotti commented on #178
@jacobdaddario, I added two more steps to `bin/setup` to compile the assets. I think that should fix everything, I tested on a new clone and it worked for me.

@hungmi, can you give this a try? I pushed to `main`.

[2021-12-25 22:10] joemasilotti commented on #178
@fpsvogel, this is so weird! Sorry we haven't been able to help more.

After getting the error, can you try running the console or direct queries and seeing what the database is populated with? `active_storage_attachments` and `active_storage_blobs`, specifically.

[2021-12-26 13:35] hungmi commented on #178
It works perfectly! 👍
I can `git clone` & `bin/setup` & `bin/check` smoothly.

[2021-12-27 15:23] fpsvogel commented on #178
@joemasilotti That's OK, thanks for helping look into it! Especially during the holidays… and by the way, feel free not to answer right away.

I logged into the Postgres console and queried those two tables, and they are empty:

![image](https://user-images.githubusercontent.com/9300391/147485015-31d0d8c3-7d28-424e-b81a-fee153ea9c3f.png)

I tried the same in the databases `railsdevs_test-0` throug

[2021-12-27 17:25] hungmi commented on #178
@fpsvogel I can reproduce this using `multipass`.
I have tried Ubuntu 20.04 & 18.04, both with postgresql 12 & 14.
All failed with same error.

[2021-12-27 18:30] joemasilotti opened #187 "`ActiveStorage::InvalidDirectUploadTokenError`"
**Describe the bug**
Image uploads are broken in production (and development if you have the S3 credentials).

https://app.honeybadger.io/projects/93997/faults/83242956

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/developers/new`
2. Fill out the required fields
3. Add an image
4. Submit the form
5. `ActiveStorage::InvalidDirectUploadTokenError` is shown in the logs and the form do

[2021-12-27 18:32] #187 closed

[2021-12-27 18:32] joemasilotti commented on #187
Fixed by upgrading the Active Storage JavaScript.

[2021-12-28 01:27] joemasilotti commented on #165
Closing this out thanks to some advice from @excid3. If we collect the email via registration before bumping to Stripe then we can retarget them to buy if they drop off.

[2021-12-28 01:27] #165 closed

[2021-12-28 01:28] joemasilotti commented on #40
Closed via #183.

[2021-12-28 01:28] #40 closed

[2021-12-28 01:31] joemasilotti opened #188 "Hide social links for non business subscribers"
Social links should only be shown to folks with active business subscriptions. This is to combat people getting around paying by reaching out to developers via other means.

[2021-12-28 01:32] joemasilotti opened #189 "Show the developer's real name to business subscribers"
Showing the developer's real name both in their profile and on the new conversation screen will go a long way in making first contact more seamless.

[2021-12-28 01:33] joemasilotti opened #190 "Link to Stripe customer portal for customers"
Link to the Stripe customer portal for signed in users with an associated customer record in the user drop down.

[2021-12-28 03:40] jacobdaddario commented on #189
I can pick this up tomorrow @joemasilotti

[2021-12-28 12:52] joemasilotti commented on #189
Sounds great, thank you! I'll comment on that issue with some thoughts.

[2021-12-28 13:56] joemasilotti commented on #189
Heads up that I still want to show the hero as the primary text. The real name can appear near the hero copy and less prominent. Perhaps something like this could work.

<img width="643" alt="image" src="https://user-images.githubusercontent.com/2092156/147573482-c55c987a-7762-4623-b648-f9629b5aedff.png">

[2021-12-28 14:04] #190 closed

[2021-12-29 00:31] jacobdaddario opened #192 "Bug: pay_customers column regenerates schema incorrectly"
**Describe the bug**
When regenerating the database using `rails db:prepare`, the schema loses the precision of the `deleted_at` column that was present in the committed schema.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `bin/setup`.
2. Check `git status` to see altered schema.

**Expected behavior**
The committed schema should be unchanged when the setup script is run with no new m

[2021-12-29 01:42] joemasilotti commented on #192
Hmm is this a bug in Pay or our integration? The migration wasn't touched after generating it.

[2021-12-29 01:50] jacobdaddario opened #194 "Bug: Flakey test suite"
**Describe the bug**
Occasionally when running the test suite, random tests will error due to attempting to access the same database as another test. I wonder if this has to do with test parallelization? I'm seeing the test run with 4 simultaneous processes. The error being thrown by the test suite is as follows.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Pull the repo from main

[2021-12-29 01:51] jacobdaddario commented on #192
It might be a Pay bug. I wonder if @excid3 knows anything about this.

[2021-12-29 16:30] joemasilotti commented on #194
Whoa, that's really weird. I just ran the test suite, freshly cloned from `main`, 20 times in a row and they all passed. Very odd that it is only happening every few runs, and not all the time. CI has also never run into this issue.

What machine/OS/etc are you on?

[2021-12-29 16:35] joemasilotti commented on #192
It looks like this can be fixed by making the migration a Rails 7 one, instead of Rails 6. Can you try `main` and reopen if it doesn't work?

[2021-12-30 04:34] jacobdaddario commented on #192
I pulled from main, and still had the same issue. Ultimately it's not a huge deal, but I imagine you'll probably run into people accidentally committing changes to the schema.

[2021-12-30 04:37] jacobdaddario commented on #194
That's extremely strange.

I'm running a MacBook Air 2019 on MacOS Monterery v 12.1.

[2021-12-30 05:11] jacobdaddario commented on #194
Update:

The 'ol diesel engine in my brain finally got booted up, and I thought to reboot the Postgresql brew service running on my Mac. Issue just completely disappeared. Closing this issue under the assumption that this most have been some rogue error with Rails test parallelization, the Ruby PG gem, or Postgres itself.

[2021-12-30 05:11] #194 closed

[2021-12-30 05:40] joemasilotti commented on #192
Reopened. I'd love to figure this out - not sure what's going on though.

[2022-01-01 21:55] #154 closed

[2022-01-01 21:55] #155 closed

[2022-01-02 16:20] joemasilotti opened #200 "Paginate notifications"
`/notifications` and `read_notifications` can get long, especially for admins, so should be paged.

`/developers` has an infinite scroll example powered by pagy and Turbo which could be replicated for these two views.

Now that #133 is merged in this can be addressed with the new component!

[2022-01-02 17:16] joemasilotti opened #201 "Consolidate empty state image sizes"
`/notifications/read` and `/conversations` have different sized icons for their empty state. They should all be the same and match what's currently being shown for `/conversations`.

<img width="425" alt="image" src="https://user-images.githubusercontent.com/2092156/147883766-e8946316-583c-43d5-bb40-bf630932a0bc.png">

<img width="387" alt="image" src="https://user-images.githubusercontent.com/209

[2022-01-02 22:11] joemasilotti commented on #201
Closed via #202.

[2022-01-02 22:11] #201 closed

[2022-01-02 23:28] imella commented on #200
Hey @joemasilotti! If you don't mind, I can pick this one!

[2022-01-02 23:55] joemasilotti commented on #200
Sure, go for it! I'll add it to the [In progress column](https://github.com/joemasilotti/railsdevs.com/projects/6).

[2022-01-02 23:57] joemasilotti opened #203 "Basic developer filtering"
This request comes from [two](https://github.com/joemasilotti/railsdevs.com/discussions/61) [discussions](https://github.com/joemasilotti/railsdevs.com/discussions/174#discussioncomment-1850542) and an email request from a business.

To start, filtering by availability and sorting by when the profile was added should be good enough. Then I'd like to move into compensation, location, available hour

[2022-01-03 02:36] #188 closed

[2022-01-03 02:36] #189 closed

[2022-01-03 16:52] joemasilotti opened #208 "Email paying businesses when new developer profiles are added"
Paying customers shouldn't have to manually check railsdevs to see if there are any new developer profiles. Instead, they should receive daily or weekly emails linking to all of the new profiles added that day or week, respectively.

A PR addressing this should handle the following:

- [ ] Add a new column to the `Business` model,`new_developer_notifications`, as an enum with values `none`, `daily

[2022-01-03 20:08] fpsvogel commented on #178
Thanks @hungmi. I'm running Ubuntu 20.04 in WSL. Based on your findings, it seems the issue is related to that. I don't have a Mac, or Ruby installed on Windows, so I'm not sure where to go from here. But I'd be happy to continue troubleshooting if anyone has ideas on what I could try next.

[2022-01-04 00:40] jacobdaddario commented on #208
I'd be happy to take this on. It might take a week or so since I need to close my existing PR and work a bit on a personal project this week.

[2022-01-04 03:00] joemasilotti opened #211 "Some `NewMessageNotification` are not sending emails"
**Describe the bug**
Sometimes, when sending a message the recipient isn't receiving an email notification. The `Notification` record is always being created, as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a message to someone in production
2. Some times, the recipient does not receive an email

**Expected behavior**
Every message should trigger an email notifications.

**

[2022-01-04 03:12] joemasilotti commented on #211
Closed via [f9fd544](https://github.com/joemasilotti/railsdevs.com/commit/f9fd544307fcb27f7de18127519f57ac54e210b4).

[2022-01-04 03:12] #211 closed

[2022-01-04 03:13] joemasilotti commented on #208
Sounds great! I assigned it to you. Thanks Jacob.

[2022-01-05 03:12] #200 closed

[2022-01-05 05:18] jacobdaddario commented on #208
I had Railsdevs open tonight, so I began working on this. Realistically, I probably won't finish up until some time next week.

[2022-01-05 13:53] joemasilotti opened #213 "More robust database seeds"
Currently, the seeds file `db/seeds.rb` only contains the bare minimum to interact with the site in development. I'd love for this to contain more "real" information so we can test things like pagination and all the different `Developer` fields without having to manually create data.

For example,

* 20+ `Developer` records (to trigger pagination)
* 20+ `Notification` records (to trigger paginatio

[2022-01-05 13:54] joemasilotti opened #214 "Add system tests for pagination"
A PR addressing this issue should configure system-level tests, with JavaScript enabled, via minitest. It should also test the pagination feature for `/developers` and/or `/notifications` (whichever is easier).

[2022-01-05 13:58] joemasilotti opened #215 "Brand color"
Gray looks great (ha), but I think it's time for a real brand color. I've toyed with the idea of red to match Ruby/Rails, but am open to other ideas.

Also, ideally this would be one of the 17 non-gray [Tailwind CSS 3.0 colors](https://tailwindcss.com/docs/customizing-colors) so we can use all the 10 variants out of the box. If not, we would need to manually create 10 variants that work with Tailw

[2022-01-05 14:33] joemasilotti opened #216 "Require more fields when creating a developer profile"
A lot of new fields have been added recently and they are all optional to ensure existing records don't become invalid. This, however, means new records don't have to fill out a ton of information.

A PR addressing this issue should add a [custom save context](https://dev.to/spidergears/clean-validations-with-custom-contexts-2pci) for _new_ developer profiles that makes the following fields requir

[2022-01-05 17:19] salochara commented on #214
I can work on this 🖐️

[2022-01-05 17:24] joemasilotti commented on #214
All yours!

[2022-01-05 17:24] joemasilotti commented on #216
Thanks – all yours!

[2022-01-05 21:33] joemasilotti opened #217 "Encrypt `Message.body`"
To farther secure application data, the content of private messages should be encrypted. Rails 7 introduced [Active Record Encryption](https://edgeguides.rubyonrails.org/active_record_encryption.html) which should handle most if not all of the work for us.

A PR addressing this issue should:

- [ ] Encrypt `Message.body`
- [ ] Create a script to run in production to migrate existing messages
- [ ]

[2022-01-06 02:53] joemasilotti commented on #203
[hirethePIVOT.com](https://hirethepivot.com), a fork of railsdevs, is [implementing this](https://github.com/bencgreenberg/hirethepivot.com/pull/42#pullrequestreview-845237180) based on my [initial PR](#177). Here's a screenshot that we could use to model ours after. I don't think we need/want search (yet) but the filters look good to me!

![67DjTWwr jpg-large](https://user-images.githubuserconten

[2022-01-06 12:59] coder2000 opened #218 "Message email should link to sign in"
**Describe the bug**
Currently the message email links to the sign up page. If someone is receiving a message it is safe to assume they are already signed up and a step can be skipped by linking to sign in.

**To Reproduce**
Click link in email saying you received a message.

**Expected behavior**
Link directly to the message if session is still active, otherwise redirect to sign in.

[2022-01-06 14:09] joemasilotti opened #219 "Translations?"
Most of the site's copy has been moved to [`locales/en.yml`](https://github.com/joemasilotti/railsdevs.com/blob/main/config/locales/en.yml) thanks to @fetijashari. I'd love if we could start taking advantage of this and being translating to other languages besides English!

If you are interested in helping out, let me know by replying below. I'm not fluent in anything other than English.

---

Ide

[2022-01-06 14:14] joemasilotti opened #220 "View notifications as a lazy-loaded dropdown"
I'd love for the notification bell to link to a lazy-loaded dropdown powered by Turbo. This aligns more closely with modern web apps (instead of linking to a new page).

A PR addressing this issue should:

- [ ] Add a desktop and mobile dropdown when clicking the bell icon
- [ ] Render the content via a lazy-loaded Turbo frame (meaning, only load it after someone clicks it) with a spinner
- [ ] Di

[2022-01-06 14:24] joemasilotti commented on #218
This [wiki from Devise](https://github.com/heartcombo/devise/wiki/Redirect-to-new-registration-(sign-up)-path-if-unauthenticated) is how I originally customized the redirection. I'm not sure how we can have a conditional redirection, though. Ideally, `authenticate_user!` in `NotificationsController` has a way to customize the route.

[2022-01-06 15:15] salochara commented on #219
Hey! 👋

I'll happily help with this.
Spanish is my native tounge, so I can definitely work on this!

I'll work on this during the weekend 😄

[2022-01-06 15:26] joemasilotti commented on #219
Amazing – thank you so much! I'm sure there will be some places where translations are missing. Feel free to extract those or ping me and I can take care of it.

[2022-01-06 17:17] jacobdaddario commented on #220
Saw this when I sat down for lunch. #202 is wrapping up already, so I'd be happy to take this. I'm pretty confident with Turbo.

[2022-01-06 17:22] joemasilotti commented on #220
Awesome! Once we wrap up #212 and it's merged in I'll assign this to you.

[2022-01-06 17:31] coder2000 commented on #218
[code]
This is how I redirect for all my controllers, could adapt something like this as a before action.

[2022-01-06 17:37] joemasilotti commented on #218
Hmm, I feel like that kind of completely diverts away from Devise's internal plumbing. I'd rather continue to use Devise's method which takes care of this already (and some more).

[2022-01-06 18:31] joemasilotti commented on #203
GitHub's Trending page is also a great example of some good looking filtering.

<img width="1490" alt="image" src="https://user-images.githubusercontent.com/2092156/148432762-8e9d0ebc-3dae-4bba-a74c-1d9796d6d7ac.png">

[2022-01-07 03:26] joemasilotti opened #224 "Update to Rails 7.0.1 and Ruby 3.1"
https://github.com/rails/rails/releases/tag/v7.0.1

[2022-01-08 16:10] #203 closed

[2022-01-09 03:54] joemasilotti commented on #224
Closed via #226.

[2022-01-09 03:54] #224 closed

[2022-01-09 14:28] joemasilotti opened #227 "Tidy up nav links"
Now that the core of the app lives in `/developers`, I'd like to tidy up the links in the navigation bar and footer.

A PR addressing this issue should:
- [ ] Change the links the navigation bar to: Home (icon), Developers, Pricing, About
- [ ] Add links to the footer: About, Support (email to me), Developers, Pricing, Open Source, Analytics, Cash flow
- [ ] Remove `bg-white` from the footer parti

[2022-01-10 00:10] imella opened #229 "In /developers add my profile button shows when user is logged in"
**Describe the bug**
I don't know to actually classify this as a bug, because maybe it's intended.

I find it weird that something that invites you to create a profile shows up when you already have one.

Maybe add a button to your existing profile or it could be used in the future to tell the developer/business that they need to update it in the case new required fields are added.

**To Reproduce

[2022-01-10 02:16] joemasilotti commented on #229
Ah, good point! Do you have appetite to fix this? I'd love to have this turn into a secondary button (white background) that says "Edit my profile" if you already have one. If not, then hiding it if you already have one would be good enough for a first pass.

[2022-01-10 08:55] hungmi commented on #219
HI!
It's so cool that railsdevs.com is going to be an international service.
I can and I want to do translations to Chinese Traditional/Simplified.
And I think this can be extended to Japanese in the future.
I am not a professional designer, but [some design changes](https://medium.com/dropbox-design/design-for-internationalization-24c12ea6b38f) may be needed in the future.
What is your thought ab

[2022-01-10 12:38] imella commented on #229
Great! Yeah, I can go for it!

[2022-01-11 00:30] salochara commented on #219
Hey! 👋

Just a quick update from my side.. I didn't have much time during the weekend to work on this.
I'll be working on this hopefully during the week (or most probably during the weekend).
I've been quite busy at work 😅

[2022-01-11 18:19] joemasilotti opened #234 "Move public revenue and expenses in-house"
Currently, the public revenue and expenses [live on Notion](https://same-legend-a38.notion.site/railsdevs-revenue-and-expenses-c28706a1b3a846d4a058e4fef135aa67). I'd love to move these three tables and rendering into the codebase.

<img width="949" alt="image" src="https://user-images.githubusercontent.com/2092156/148998966-334dd7f1-a407-4397-8153-6bc628be142d.png">

Ideally, we don't have to calc

[2022-01-11 19:07] joemasilotti commented on #219
@hungmi,

I'm excited too! This will be my first app I've worked on with translations, so I'm going to be learning a lot here.

❤️ Thank you!

If we have to make changes that's fine by me. I vote we apply the translations first then see what looks weird before doing anything upfront.

[2022-01-11 19:07] joemasilotti commented on #219
@salochara, no worries! Whenever you get to it is fine :)

[2022-01-11 22:49] joemasilotti opened #235 "Add "role type" filter"
A PR addressing this issue should add a new filter to `/developers` so folks can filter profiles by what type of role they are interested in. Most of the code can be modeled after the time zone filter with the exception of this being a join model on `RoleType`.

[2022-01-12 23:34] joemasilotti opened #236 "Add "looking for" filter"
Similar to #235 but for the "looking for" field on the developer profile.

[2022-01-12 23:35] joemasilotti commented on #214
Closed via #221.

[2022-01-12 23:35] #214 closed

[2022-01-13 00:03] joemasilotti opened #237 "Account vs. User"
Well, it was bound to come eventually! A potential customer expressed interest in needing multiple users per paid account. I'm still working through how this will all work, so this comment will serve as a living doc of how things will be handled.

### Proposal

1. Create an `Account` model with an `owner_id` column, `User`
1. Add `account_id` to `User` model, `belongs_to: :account`
1. Migrate `use

[2022-01-13 18:00] tommasongr commented on #237
I'm not an expert but for an app I'm working on I used this configuration.

Basically Accounts and Users are associated through a Membership model. This way a User can have multiple accounts and an account can have multiple owners or other roles.

You still have to ensure that the last owner on the account is not deleted before the account itself but apart from that this setup should cover all the

[2022-01-13 18:28] Tonksthebear commented on #237
This is slightly off-topic. I'm not sure if this is helpful, but I've had a lot of success using [data_migrate](https://github.com/ilyakatz/data-migrate) when needing to add/change/remove data in rows. It seems like closing this issue will require changing some data, so I figured I'd toss it out there as a potential nice solution. I'm not sure how larger rails apps handle these situations, but, in

[2022-01-13 19:31] bencgreenberg opened #238 "Missing Stripe production instructions in Wiki"
**Describe the bug**

The README does a great job of walking a user through setting up their Stripe dev/test environment, but the same is not done on the production settings in the Wiki. Specifically, a link should be added to the production settings with a brief instruction on setting up the production webhook for Stripe.

If the webhook is not set up, subscriptions won't be created successfully

[2022-01-14 03:07] vluna commented on #234
@joemasilotti I would like to give it a try if possible 🙂

[2022-01-14 03:26] joemasilotti commented on #234
Sure thing! It's all yours :)

[2022-01-14 03:51] #227 closed

[2022-01-14 04:54] #208 closed

[2022-01-15 17:24] joemasilotti commented on #237
Thanks for the feedback and links everyone!

At this point I'm leaning towards building out all of the modeling for Accounts but hiding everything from the user. Meaning, when you sign up you are assigned an account and all permissions and subscriptions are done via accounts. I can launch that and ensure nothing broke.

![IMG_3958](https://user-images.githubusercontent.com/2092156/149631359-6f771d

[2022-01-15 17:52] joemasilotti commented on #237
More concretely, a series of PRs could be as follows:

1. Scheme and data migrations only - no UI changes
    1. Add `Account`
    1. Move `Developer` and `Business` from `User` to `Account`
    1. Move `Conversation` and `Message` from `User` to `Account`
    1. Move `pay_customer` from `User` to `Account`
    1. Send user-based notifications to all users of the account
    1. Newly created `User

[2022-01-15 18:14] marlomorales commented on #51
I'd love to contribute
https://railsdevs.com/developers/178

[2022-01-15 18:23] marlomorales commented on #213
@joemasilotti
is it ok to work on this one? 🤔
i'll start doing this, after i successfully setup my dev environment. 🙂

[2022-01-15 18:29] xmarlox commented on #213
@joemasilotti

is it ok to work on this one? 🤔
i'll start doing this, after i successfully setup my dev environment. 🙂

[2022-01-15 18:30] xmarlox commented on #51
I'd love to contribute
https://railsdevs.com/developers/178

[2022-01-15 19:13] joemasilotti commented on #213
Sounds great! Reply when you're good and I'll assign it to you.

Also, check out this post on moving seeds to a job. If you have the appetite that would be awesome, too. I really like the idea of printing out a email/password after setup to let the developer who know to sign in.

https://stevepolito.design/blog/rails-setup-script-improvements/

[2022-01-16 02:45] joemasilotti commented on #213
Heads up that there is a PR that is being worked on to fix some issues in the seeds: #242.

[2022-01-16 04:09] xmarlox commented on #213
@joemasilotti
got it! i'll keep you posted. thanks!

[2022-01-16 12:57] xmarlox commented on #213
@joemasilotti
all good now
ready to submit PR 😄

[2022-01-16 18:23] joemasilotti commented on #213
Assigned - all yours!

[2022-01-16 18:42] bugdimes opened #243 "db:seed => Validation failed: Avatar is not attached, Time zone can't be blank"
**Describe the bug**
While running `bin/setup` I am getting the error, need to populate it as well while running `bin/rails db:prepare`

**To Reproduce**
Steps to reproduce the behavior:
run `bin/setup`

[2022-01-16 19:52] joemasilotti commented on #243
Thanks for documenting! This is being fixed in PR #242, which should be merged in soon.

[2022-01-16 19:59] joemasilotti commented on #243
Closed via #242.

[2022-01-16 19:59] #243 closed

[2022-01-16 20:00] joemasilotti commented on #216
Closed via #223.

[2022-01-16 20:00] #216 closed

[2022-01-16 20:01] joemasilotti commented on #213
#242 is merged in!

[2022-01-16 20:27] joemasilotti commented on #238
I added more documentation at the bottom of the [production settings](https://github.com/joemasilotti/railsdevs.com/wiki/Production-settings) wiki page.

[2022-01-16 20:27] #238 closed

[2022-01-17 04:34] xmarlox commented on #213
@joemasilotti
here's the [PR](https://github.com/joemasilotti/railsdevs.com/pull/244/files) for this issue

[2022-01-17 18:39] soc-man commented on #51
Hello, here is my profile!

https://railsdevs.com/developers/157

[2022-01-18 19:31] Tonksthebear commented on #237
I'm not sure if I can give good examples of how it is BAD per se. I like keeping them separated because I like the logical separation of schema modifications and data modifications. I also thought it would be risky to have a migration file potentially manipulate data based on old model validations (could prevent a successful migration on a new environment). I like the guarantee that schema migrati

[2022-01-19 15:44] themudassarhassan commented on #235
Hey @joemasilotti
I would like to work on this one if not already taken.

[2022-01-19 15:46] joemasilotti commented on #235
That would be great, thank you! All yours.

[2022-01-20 13:13] freebian opened #245 "Unconfirmed User cannot re-send confirmation instruction"
**Describe the bug**
Unconfirmed Users cannot re-send their confirmation instruction.
System is not recognising the email?

**To Reproduce**
Steps to reproduce the behavior:
0. Preliminaries: Registered User - not confirmed in the database
1. Go to https://railsdevs.com/users/confirmation/new
2. Type in an email from registered user with confirmed_at empty
3. Click "Resend confirmation instruction

[2022-01-20 13:22] freebian commented on #219
Hi @joemasilotti,

thank you so much for making this open source!
I plan on contributing also on functions/features but I need to dive into your code a lot deeper to understand it all 😅
(I am a freelance UX person, self-thought ruby/rails to build my own online businesses)

In the meantime I could provide the German translation.
I am German and it is my mother tongue. Primarily I am working in UX

[2022-01-20 14:15] joemasilotti commented on #219
That sounds great, thank you for the offer! Once we have a solid workflow for switching between languages and some tooling (see my comment above), adding new languages should only require the locale file.

[2022-01-20 14:17] joemasilotti commented on #245
Thanks for reporting this! I'm not sure why it could be happening as I don't think we have any custom Devise configuration.

Either way, do you have the appetite to try and fix it?

[2022-01-20 16:22] freebian commented on #245
Will check into this later. Documenting my finds here in the meantime:

It seems that something is interfering with the default devise logic, because:
- if you put in an already confirmed email the error is still the same. Default devise error would be "email already confirmed"
- if you put in a total random email the error is still the same. Default devise would be "email not found"

Somehow it c

[2022-01-20 20:32] freebian commented on #245
See PR: #246

[2022-01-20 21:17] joemasilotti opened #247 "Developers are adding full social media links"
Some developers are adding their full URL for social links, like `https://github.com/joemasilotti` instead of `joemasilotti`. This messes up the link because it assumes only the path should be set.

I'm not sure how to handle this best just yet. But some ideas include making it more obvious in the form, some sort of validation, and backfilling/"fixing" existing records.

[2022-01-20 21:33] joemasilotti commented on #245
Closed via #246.

[2022-01-20 21:33] #245 closed

[2022-01-20 22:46] ghiculescu commented on #247
I think making it clearer in the UI is a good idea but I also thought of a simple way to make it work in more cases: https://github.com/joemasilotti/railsdevs.com/pull/248

[2022-01-21 08:04] freebian commented on #247
I usually do what is named in Tailwind as "Input with add-on" and write the complete URL/Domain in it.
https://tailwindui.com/components/application-ui/forms/input-groups

[code]

[2022-01-21 08:26] gmmcal opened #249 "Profile images do not keep attached on form error"
**Describe the bug**
When creating (and probably updating) profile, if some text field is invalid and user uploads an image, preview of image is shown on error page, but when user tried to save again, a new error pops saying image was not uploaded.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://railsdevs.com/developers/:id/edit' on newly created profile
2. Remove data from on

[2022-01-21 08:30] gmmcal opened #250 "Add pt-BR translation"
Blocked by #240 / #264

Since there is an ongoing progress to add i18n support, I think it is nice to also add Brazilian Portuguese translation to this project.

Brazil has a huge ruby/rails community and, unfortunately, a small amount of developers is fully proficient with english language. In order to improve expansion to them, it is nice to have `pt-BR` translation too.

I'm up for the task, as

[2022-01-21 13:28] themudassarhassan commented on #236
@joemasilotti after merging of #251 I would like to take on this one.

[2022-01-21 13:55] xmarlox commented on #217
@joemasilotti
this one is much challenging. i'll work on this one unless you want me to work on something else. 😅

[2022-01-22 00:11] robbyrussell opened #254 "www subdomain is in google but not accessible"
**Describe the bug**

I searched google.com for `site:railsdevs.io` and results include `www.railsdevs.io` URLs, which are not currently accessible.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [these results](https://www.google.com/search?q=site%3Arailsdevs.io)
2. Click on any of the links
4. See error

**Expected behavior**

Application should probably either a) redirect to non-ww

[2022-01-22 00:20] joemasilotti commented on #254
The site is .com now, not .io. I'm not sure how to remove those results from google.

[2022-01-22 00:26] jacobdaddario commented on #254
If you still own the old URL, could we set up some kind of proxy/redirect?

[2022-01-22 04:31] tarellel commented on #254
I'm not sure if you your using nginx, traefik, etc.
But you could probably set it up to catch both URL's instead of railsdev.com specifically.
Or just do redirect with the webserver

[2022-01-22 14:29] joemasilotti commented on #254
I have a redirect set up with my registrar but it doesn't work for www. I've debated moving it over to namecheap but don't want to pay for .io for another year if the site is already in .com.

I think the solution here is to not search on Google for an unsupported domain and use the .com.

[2022-01-22 17:21] joemasilotti commented on #217
Let's hold off on this one for now.

[2022-01-22 17:22] joemasilotti commented on #247
@freebian, I think we are already doing that, no?

<img width="1080" alt="image" src="https://user-images.githubusercontent.com/2092156/150648971-c3cc6565-c436-40d2-b117-9315896c367a.png">

[2022-01-22 17:57] joemasilotti commented on #236
Thank you! Let's get that one merged in first before we move on to this. I just posted a review with some change requests.

[2022-01-22 17:58] joemasilotti commented on #249
Thanks for bringing this up! I think this bug has existed since launch 😆

Do you have appetite to fix it? IIRC, I was stumped as to what was going on.

[2022-01-22 19:41] gmmcal commented on #249
@joemasilotti I can do it, but I can't commit to timeline atm. If it is fine for you, assign to me

[2022-01-22 21:07] joemasilotti commented on #249
No worries on timeline. Let me know when you want to dive in and submit a PR or I'll assign it to you.

[2022-01-24 21:18] XaoGao commented on #51
Hi, here is my profile!

https://railsdevs.com/developers/235

[2022-01-24 23:00] joemasilotti commented on #237
Makes sense to me – thanks for the brain dump!

[2022-01-24 23:03] joemasilotti opened #259 "Bring back Turbo to the business form"
I recently [removed Turbo from the business form](https://github.com/joemasilotti/railsdevs.com/commit/888ca8819318370aa75ab53df92c09136981c6c2) so it can redirect to Stripe without issue. @kobaltz [tweeted about a Stimulus controller](https://twitter.com/kobaltz/status/1485459044831739908?s=20) that should get around this issue.

I haven't tested it yet, but maybe that will work!

[2022-01-24 23:04] joemasilotti commented on #235
Closed via #251.

[2022-01-24 23:04] #235 closed

[2022-01-24 23:08] joemasilotti commented on #236
@themudassarhassan all yours! Thanks again for the other PR.

I think we can use "Search status" as the title of the dropdown to match the developer form.

[2022-01-25 07:20] themudassarhassan commented on #236
@joemasilotti sure will work on this in the coming weekend. It is really great working with you!

[2022-01-25 13:30] thomasvanholder commented on #247
As an easy fix, you could make adding a url or account more explicit:

<img width="568" alt="CleanShot 2022-01-25 at 13 28 02@2x" src="https://user-images.githubusercontent.com/36309895/150985947-93b868cb-9eb7-4c8f-9132-905be8744e64.png">

[2022-01-25 16:41] XaoGao opened #260 "Add docker compose"
Hi, i think it would be better to add docker-compose because to deploy the server locally, you need to install postgresql, i can do it if you wanna

[2022-01-25 23:29] joemasilotti commented on #260
Personally, I'm not inclined to add Docker to this project. I don't use it day-to-day and don't want to take on the maintenance responsibility. But if you create an image I can link to it from the README.

[2022-01-25 23:29] #260 closed

[2022-01-26 00:21] dhairyagabha commented on #218
I would like to take a look at this as my first issue contribution, if that is okay?

[2022-01-26 02:25] joemasilotti commented on #218
Sure thing, all yours @dhairyagabha!

[2022-01-26 04:31] dhairyagabha commented on #247
@joemasilotti some platforms basically cleanup the link in the text field on paste/value change. What about some javascript that handles this validation and cleans up the values on paste/value change?

Since the root domain of these platforms will remain the same, should be a simple search and replace.

[2022-01-26 05:44] joemasilotti commented on #247
There is active work on this issue in #248. Please comment there if you have ideas on a better approach then what is currently proposed.

[2022-01-26 14:56] XaoGao opened #261 "Replace :id segment from url to slug"
Hi, show id in url for developers is security danger and i think some ugly. May be we could change id segment to slug, add new column to Developer and Business, edit routes and fix link_to. Already exist popular gem for this https://github.com/norman/friendly_id/

[2022-01-26 15:22] joemasilotti commented on #261
Why is showing the ID a security danger? Can you link to Rails documentation recommending against this or a report on how it can open up an attack vector?

[2022-01-26 18:22] XaoGao commented on #261
In terms of accessing data is safe. This is not a direct vulnerability. First: All people can see ham many developers have account, i think it some "business sensitive" data. Second: showing the key is an "invitation" for database parser. But if you think this is not require, it is not a big problem

[2022-01-28 04:33] salochara commented on #229
Hey 👋
I can take this one, if that's okay!

[2022-01-28 06:16] joemasilotti commented on #229
Sure thing! As long as @imella isn't planning to work on it.

[2022-01-29 12:37] gmmcal commented on #249
@joemasilotti FYI, PR for this is created

[2022-01-30 00:34] #219 closed

[2022-01-30 02:32] joemasilotti commented on #250
#264 is merged! Feel free to start translating :)

[2022-01-30 02:36] joemasilotti commented on #261
Being an open startup I'm not too worried about folks knowing how many developers there are on the site. I actually plan to make that even more public in the future.

I'm not sure I follow how a database parser would work, to be honest. Can you explain?

[2022-01-30 02:39] joemasilotti commented on #254
I'm going to close this. I don't have appetite to try and fix these redirect issues with the old domain.

[2022-01-30 02:39] #254 closed

[2022-01-30 02:41] joemasilotti commented on #215
On second thought, I'm going to take GitHub's lead and make black/gray the "brand" color. This leaves open opportunities to use green, red, and yellow as accent colors for positive, negative, and neutral context, respectively. We could even add in blue for links!

[2022-01-30 02:41] #215 closed

[2022-01-30 02:44] joemasilotti commented on #192
This seems to have worked itself out? I can't reproduce it so I'm going to close it out. If it pops up again feel free to comment below and I will reopen.

[2022-01-30 02:44] #192 closed

[2022-01-30 02:52] joemasilotti commented on #178
Hey @fpsvogel, I'm going to assume that `multipass` is the culprit and close this for now. If you have a more concrete solution or updates feel free to comment and I'll open it back up.

[2022-01-30 02:52] #178 closed

[2022-01-30 15:01] joemasilotti opened #266 "An email notification is sent even if no new developer profiles were added"
**Describe the bug**
I received an email notification saying "0 new developer profiles were added" this morning.

**To Reproduce**
Steps to reproduce the behavior:
1. Ensure no developers were added "yesterday"
1. Trigger the daily email notification script

**Expected behavior**
No one should receive an email.

**Actual behavior**
Everyone receives an email stating "0 new developer profiles added

[2022-01-30 15:53] salochara commented on #266
Hey 👋
I'll be happy to work on this one!

[2022-01-30 17:21] joemasilotti commented on #266
All yours, thanks!

[2022-01-30 20:07] fpsvogel commented on #178
@joemasilotti Sorry, I should have been more clear in my last message. I'm running Ubuntu in WSL2, not in Multipass, which is a different VM manager. The common factor in my case and hungmi's is just that we ran Ubuntu. Whether the issue has anything to do with running Linux inside another OS, I don't know; the internals of WSL and Multipass are quite different, from what I understand. I'm hoping

[2022-01-31 02:17] jacobdaddario commented on #266
Oops! Sorry for this bug 😅

[2022-02-01 15:12] joemasilotti opened #269 "Filters are not applied to pagination"
**Describe the bug**
The second (and so on) page of filtered developers ignores the selected filters.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/developers`
2. Apply a filter (sorting by availability works)
3. See that all developers are in the filter (all "Available now")
4. Scroll so pagination triggers the second page

**Expected behavior**
Second page of developers are also

[2022-02-02 05:11] kaushikhande commented on #269
@joemasilotti hi
Can I work on this bug?

[2022-02-02 05:28] joemasilotti commented on #269
Yes, please! All yours @kaushikhande.

[2022-02-02 22:16] joemasilotti commented on #234
Closed via #270.

[2022-02-02 22:16] #234 closed

[2022-02-02 22:17] #217 closed

[2022-02-03 16:59] kaushikhande commented on #269
@joemasilotti Please review

[2022-02-04 00:47] #213 closed

[2022-02-04 00:47] #220 closed

[2022-02-04 00:48] joemasilotti commented on #261
I'm going to close this issue but we can continue to have a discussion here!

[2022-02-04 00:48] #261 closed

[2022-02-04 00:53] joemasilotti commented on #229
@salochara and @imella, are either (both?) of you working on this? Let me know and I'll assign it over to you. I don't want to duplicate effort :)

[2022-02-04 02:08] salochara commented on #229
Nope. I haven't worked on this yet. I was waiting for @imella response :)

[2022-02-09 09:23] yosefbennywidyo commented on #51
[This is me](https://railsdevs.com/developers/270)

[2022-02-10 13:47] #250 closed

[2022-02-10 16:51] phil-6 opened #279 "Email confirmation redirects to wrong page."
**Describe the bug**
When clicking the "Confirm Email" button in the confirmation email. The user is redirected to this page:
![image](https://user-images.githubusercontent.com/29845460/153453963-03469bb9-debd-4907-930d-8d7b04a3f334.png)

**To Reproduce**
Sign up as a new user. Go to confirmation email and click "confirm email"

**Expected behaviour**
Redirect you to home page or login page after

[2022-02-11 02:51] #266 closed

[2022-02-11 02:52] joemasilotti commented on #269
Fixed via #272.

[2022-02-11 02:52] #269 closed

[2022-02-11 07:10] phil-6 commented on #279
Hey @joemasilotti,

Interesting! I love to hate these hard to replicate bugs.

It might have been a double click on the button in the email. Occam's Razor suggests that would be the cause, especially considering your devise setup is fairly out-of-the-box.

Thank you for investigating!

[2022-02-11 14:25] joemasilotti commented on #279
Gotcha. Thanks! I'm going to close this now until we can reliably reproduce it. Feel free to reopen it if it happens again.

[2022-02-11 14:25] #279 closed

[2022-02-13 03:26] dhairyagabha commented on #218
Hey @joemasilotti

I haven't been able to get to this. Please feel free to open it up. If I find a fix, I will request and open a PR.

[2022-02-14 07:55] kaushikhande commented on #218
@joemasilotti I have attached a PR for this issue. Please review.

[2022-02-15 14:30] kstratis opened #284 "Menu flashing on full page load"
**When doing a full page refresh on `/developers`, the sort and filter menus momentarily flash**

**Reproduce**
1. Go to `/developers`
2. Hit refresh
3. Notice that -for a brief second- all filtering menus are fully open

**Expected behavior**
The menus should be hidden and only open up if the user clicks on them

**Video/Proof**
Turned it down to "Slow 3G" for demonstration. Just wait for it.

ht

[2022-02-15 20:32] joemasilotti commented on #284
Thanks for documenting this! Yes, please submit a PR adding the `hidden` classes to the DOM. If you see any other spots where this is happening please let me know, too.

[2022-02-16 04:19] LewisLarsen opened #285 "S3 bucket potentially leaking name (depending on file name)"
**Describe the bug**
When uploading images to railsdev, the original file name is preserved and can be seen if opening the image in a new tab; if the file name happens to be the developer's name (which testing, I have found to be the case frequently) it defeats the purpose of hiding names in the first place.

**To Reproduce**
Steps to reproduce the behavior:
1. Right click on an image and open in

[2022-02-16 04:26] joemasilotti commented on #285
Thanks for the bug report! But I'm going to delete this because it is actually a security threat to developers who have chosen to remain anonymous.

[2022-02-20 09:09] hungmi opened #287 "bin/setup failed"
**Describe the bug**
I got two situations when I want to setup a new database for development.

### The first one
Rails is complaining about a wrong migration file name:
[code]
**To Reproduce**
Steps to reproduce the behavior:
`RAILS_ENV=development rails db:drop db:create db:migrate`

**Additional context**
According to https://stackoverflow.com/a/43814860/5005466, this has something to do with `

[2022-02-20 15:39] joemasilotti commented on #287
The inflection is so we can name things like `UTCOffset` instead of `UtcOffset` which I personally things reads nicer. But I forgot to update the old migration name to reflect the change.

Location requires a city, state, and/or country to kick off the geocoding and belongs to a developer.

---

I fixed both issues in the latest two commits on `main`. Can you give this a check and if it's working

[2022-02-22 02:22] hungmi commented on #287
It's working now👍👍👍

[2022-02-22 02:22] #287 closed

[2022-02-22 02:31] dhairyagabha opened #289 "Empty filter values for /developers"
### Describe the bug
When filtering on the `/developers` page, it also adds an empty object in the filter parameters because of a hidden field that is created by the `collection_check_boxes` method.

This is intended behavior for the feature based on the documentation found here:
https://apidock.com/rails/v6.0.0/ActionView/Helpers/FormOptionsHelper/collection_check_boxes.
Please read the end of th

[2022-02-22 17:41] #218 closed

[2022-02-22 18:32] dhairyagabha commented on #289
@joemasilotti I have added a PR. Please review when you get a chance.

[2022-02-24 13:48] #284 closed

[2022-02-24 13:51] #289 closed

[2022-02-24 14:18] dhairyagabha commented on #51
Thank you for building railsdevs.com

Here is my profile [https://railsdevs.com/developers/237](https://railsdevs.com/developers/237)

[2022-02-24 20:35] joemasilotti commented on #236
Closed via #268.

[2022-02-24 20:35] #236 closed

[2022-02-24 20:44] joemasilotti opened #292 "Looking for role level"
The goal of this issue is for developers to add what level of role they are looking for in their next gig. Think junior developer, mid-level, senior, etc.

A PR addressing this issue should:

* Add a new field to the developer form, "Role level"
    * Add this under the "Work preferences" section
    * Subtitle it with "Select all the experience levels you would consider taking."
    * Add the fol

[2022-02-24 20:47] joemasilotti opened #293 "Filter /developers on mobile"
Currently, the filters on `/developers` are only visible on desktop and tablets. A PR addressing this issue should add the same filters to the mobile version of the site.

I don't think we need a new Stimulus controller - a couple of nested `ToggleController.js` controllers should do the trick.

---

The existing filtering design was based off of the [With centered text and dropdown product filter

[2022-02-24 20:54] joemasilotti opened #294 "Filter by role level"
The goal of this issue is to enable businesses to filter developers by their desired role levels.

A PR addressing this issue should:

* Add a new dropdown filter to `/developers`, "Role level"
* Add a checkbox for each possible role level
* When selected, filter out developers based on the selection

Most of this code can be modeled after other examples in `DeveloperQuery` and `DeveloperQueryComp

[2022-02-24 23:47] joemasilotti opened #296 "Potential leak of personal information via uploaded avatar filename"
This issue was fixed in PR #295. From the PR:

[2022-02-24 23:52] #296 closed

[2022-02-25 04:00] kaushikhande commented on #292
@joemasilotti Can I take this issue?

[2022-02-25 08:13] themudassarhassan commented on #294
@joemasilotti I think I can work on this once the parent PR gets merged which someone already mentioned to work on.

[2022-02-25 12:48] joemasilotti commented on #292
All yours!

[2022-02-25 12:48] joemasilotti commented on #294
All yours!

[2022-02-25 17:30] joemasilotti opened #297 "Filter by location"
The UX of this filter is super tricky!

railsdevs currently collects (required for new users) location from developers. You are free to be as specific or general as you'd like - city, state/region, country are all possible and valid values.

Businesses have requested to filter by the following criteria:

1. ~Specific time zones~ - this is done already
2. Specific countries - some businesses has HR

[2022-02-25 20:53] #249 closed

[2022-02-26 14:24] dhairyagabha commented on #259
Hey @joemasilotti

I will try to take a shot at this. Might need some guidance on some testing steps.

[2022-02-26 14:25] joemasilotti commented on #259
Thanks! All yours.

[2022-02-26 17:14] kaushikhande commented on #292
@joemasilotti Added PR https://github.com/joemasilotti/railsdevs.com/pull/300. Please review.

[2022-02-26 17:44] dhairyagabha commented on #229
@joemasilotti Added #301 to fix this. Take a look when you get a chance.

[2022-02-26 22:24] dhairyagabha commented on #259
Hey @joemasilotti

I was playing around with it and seems that it required importing a entire Stripe Javascript to create a checkout instance and redirect to checkout based on Dave's comment.
Two thoughts:

1. If you want to use Turbo with Business From, send the redirect URL in a turbo_stream and let a stimulus controller redirect the user directly from client side by changing `window.location` -

[2022-02-27 00:22] #229 closed

[2022-02-27 00:24] joemasilotti commented on #259
Ah, good catch. I'd definitely like to avoid that if we can.

Does setting `window.location` break any sort of back behavior or Turbo workflow? I'm guessing doing something like `Turbo.visit(url)` doesn't work, right?

[2022-02-27 00:28] dhairyagabha commented on #259
I will review that. I thought of raw javascript only. Will review Turbo options further more.

[2022-02-27 02:57] dhairyagabha commented on #293
@joemasilotti I would like to take this if possible

[2022-02-27 03:02] joemasilotti commented on #293
All yours – thanks for the offer!

[2022-02-27 03:03] joemasilotti commented on #292
Closed via #300.

[2022-02-27 03:03] #292 closed

[2022-02-27 17:39] joemasilotti opened #302 "Clean up from PR #286"
PR #286 has two incomplete to-dos that need to be cleaned up. A PR addressing this issue should address the following:

- [ ] Remove `developers.time_zone` and `developers.utc_offset`
- [ ] Remove conditional validation for `locations.latitude` and `locations.longitude`

[2022-02-27 17:54] joemasilotti commented on #294
Hey @themudassarhassan, this is ready to be worked on! Let me know if you're still interested in taking this.

[2022-02-27 18:06] dhairyagabha commented on #259
After review, it seems that Turbo will not be able to help us with this. There is excellent debate on this subject in the [Trubo Repository Issues](https://github.com/hotwired/turbo/issues/401#issuecomment-1032492888).

Ultimately, their solution was also to use a Stimulus Controller to simply update the window location. Since Turbo also updates the history, it should not break any behavior.

@joe

[2022-02-27 18:07] joemasilotti commented on #259
If it's the recommended approach and doesn't require the Stripe JS library then that sounds good to me!

[2022-02-27 18:09] themudassarhassan commented on #294
Yeah the PR is on the way very soon🚀

[2022-02-27 22:01] dhairyagabha commented on #259
@joemasilotti PR added. Please closely review the tests. I have adjusted things as I saw fit but want to make sure all areas are covered.

[2022-02-28 01:07] dhairyagabha commented on #293
@joemasilotti Created a PR. Look forward to your thoughts.

[2022-02-28 04:15] joemasilotti opened #305 "Filtering `/developers` resets sorting option"
**Describe the bug**

Modifying the filter on `/developers` always resets the sort to "Newest".

**To Reproduce**

Steps to reproduce the behavior:
1. Go to `/developers`
2. Filter by "Availability"
3. Add a filter

**Expected behavior**

The added filter is applied and the sorting remains by "Availability".

**Action behavior**

The added filter is applied but the sorting is reset to "Newest".

[2022-02-28 05:38] kaushikhande commented on #305
@joemasilotti Can I work on this bug.

[2022-02-28 12:56] joemasilotti commented on #305
Sure thing! All yours.

[2022-02-28 12:58] joemasilotti commented on #305
Let's hold off for a bit - the mobile filtering PR might fix this. I'll follow up here and let you know either way.

[2022-03-01 17:55] #293 closed

[2022-03-01 18:22] joemasilotti commented on #305
PR #304 ended up fixing this.

[2022-03-01 18:22] #305 closed

[2022-03-03 21:42] joemasilotti opened #308 "Clean up Cold Message form"
**Describe the bug**

The Cold Message input field has two UI issues that make annoying or hard to use.

1. You can't expand the input field2.
2. The top rounded corners get cut of when typing more text

**To reproduce**

Steps to reproduce the behavior:

1. Create a business and go through the Stripe onboarding flow
2. Visit a developer's profile and click "Hire me"
3. Fill in the text so it expa

[2022-03-04 02:15] joemasilotti opened #309 "Inform developers about new profile fields"
There have been a _ton_ of new fields added in the past month to the developer profile. Expectedly, not every person is signing in every day to check what's new. This leads to a lot of empty fields for profiles that weren't _just_ added.

I'd love to add a way to inform developers of missing information on their profile. I'm thinking of two ideas. First, add a banner to the top of every page letti

[2022-03-07 03:52] kaushikhande commented on #302
@joemasilotti Can I work on this issue?

[2022-03-07 17:07] joemasilotti commented on #302
Yes please! If you see any other unused columns feel free to open a PR to get rid of those, too. Thank you.

[2022-03-07 17:14] #294 closed

[2022-03-08 17:33] joemasilotti opened #313 "Clean up ignored i18n keys"
Currently, the i18n-tasks configuration, `config/i18n-tasks.yml:112`, is ignoring a bunch of keys. These keys are dynamic, so the `health` command can't pick up on them. Instead, we should be marking the dynamic keys as such where they are used.

https://github.com/glebm/i18n-tasks#dynamic-keys

A PR addressing this issue should:

1. Remove all `ignore_unused` keys from the configuration
2. Ensure

[2022-03-09 09:46] kaushikhande commented on #302
@joemasilotti Added PR https://github.com/joemasilotti/railsdevs.com/pull/315. Please review.

[2022-03-09 09:47] kaushikhande commented on #302
I will look into it and let you know.

[2022-03-09 14:29] joemasilotti commented on #302
Done via #315.

[2022-03-09 14:29] #302 closed

[2022-03-09 17:05] joemasilotti opened #316 "Mark all notifications as read"
A PR addressing this issue should:

1. Add a button to the top of `/notifications` if there are any unread notifications
2. Clicking the button should mark all unread notifications as read

[2022-03-09 22:20] joemasilotti opened #317 "Revamp pricing"
See [PR #314](https://github.com/joemasilotti/railsdevs.com/pull/314).

[2022-03-09 22:20] #317 closed

[2022-03-10 01:44] coder2000 opened #318 "Told to subscribe as a developer to continue messaging."
**Describe the bug**
I am a developer messaging a potential employer and I am being asked to subscribe to continue.

**To Reproduce**
Try to send a message as a developer

**Expected behavior**
Being able to send a message

**Screenshots**
![Screenshot 2022-03-09 at 19-43-57 railsdevs](https://user-images.githubusercontent.com/27944/157570708-5ad69d82-dfbf-4872-bca1-b4306eb35d8a.png)

[2022-03-10 02:46] joemasilotti commented on #318
Ah! That's not good. I pushed some changes for the new pricing model and it must have broke this. Thanks for the heads up, I'll get to this ASAP.

[2022-03-10 03:08] joemasilotti commented on #318
OK, this should be fixed and live in production! Can you double check to see if it's working?

[2022-03-10 04:01] coder2000 commented on #318
As we discussed it is all good. Thanks.

[2022-03-10 04:01] #318 closed

[2022-03-10 10:48] gathuku commented on #316
I would like to contribute to this.  I got a client on this platform whom I have been working with for almost a month now. Thanks for making this platform.

[2022-03-10 14:09] joemasilotti commented on #316
All yours. And that's awesome to hear! Thanks for sharing.

[2022-03-12 16:16] dhairyagabha commented on #259
@joemasilotti This is still soon my list. I will get back to this as soon as possible.

[2022-03-13 19:27] joemasilotti commented on #259
Awesome, thanks for the update! A heads up that some flows around billing/Stripe have changed and there are now a few more non-Turbo forms.

[2022-03-13 22:59] dhairyagabha opened #322 "Developers Query: Work Preferences Desktop Filters showing on Mobile"
**Describe the bug**
Developers work preference filter showing on mobile.

**Expected behavior**
Work preferences should be shown in the mobile filters sidebar.

**Screenshots**
<img width="655" alt="image" src="https://user-images.githubusercontent.com/17806296/158082835-4868f5a8-1b95-4822-bbd0-16d887841613.png">

[2022-03-13 23:14] dhairyagabha commented on #322
@joemasilotti PR created

[2022-03-14 00:00] dhairyagabha commented on #297
@joemasilotti I think a consolidated search like this one might be a good idea. Checkboxes to facilitate the multi city search. But it could very well be a simple select dropdown.

**My two cents:**
Zipcode may not add much value as one might have to search for a big radius any way to find a developer. Might be a good idea to start with details until city and observe the response.

![railsdevs-loc

[2022-03-14 18:02] #316 closed

[2022-03-14 18:03] #322 closed

[2022-03-14 18:05] joemasilotti opened #324 "Full text search (for hero and bio)"
I'm helping a lot of businesses manually narrow down their search for developers via email. And a common request is experience with specific technologies or languages. Python, React, GraphQL, web3, etc. have all been requested.

I'm currently doing this by running a text search on `developers.bio` and `developers.hero` via a `LIKE` query. Ideally, this could be built into the filters on `/develope

[2022-03-14 18:39] joemasilotti opened #326 "Button to copy hero/URL of developer profile"
When manually sending businesses a list of developers I have to copy and paste the hero and URL to my email client. Instead, I'd rather a button built into the UI that builds this for me.

A PR addressing this issue should:

1. Add a button to developer profile pages next to the Edit button. The button should:
    * Read "Copy"
    * Use the `duplicate` outline icon from [heroicons](https://heroic

[2022-03-14 18:47] joemasilotti opened #327 "Enable features for admins"

[2022-03-14 19:56] themudassarhassan commented on #324
hey @joemasilotti I would like to work on this

[2022-03-14 19:57] themudassarhassan commented on #324
also do you think the Like query will scale? Because I read somewhere it is not good with full text search and also not very performant

[2022-03-14 20:14] joemasilotti commented on #324
Honestly, I'm not sure. It works fine for me in development, but I don't know if it will continue to be performant when there are thousands of developers.

If you're up for it, feel free to seed 2000 developers or something and run some tests. I've reached for `pg_search` in the past which could help clean up the queries. Maybe we will probably need an index on the two fields, too.

Database optim

[2022-03-14 21:31] W3NDO commented on #51
Here is my profile https://railsdevs.com/developers/167

[2022-03-15 04:47] gathuku commented on #326
I will pick this.

[2022-03-15 05:55] kaushikhande commented on #327
Can I work on this?

[2022-03-15 06:06] themudassarhassan commented on #324
Yeah agree let's make this work then we can optimize queries. There is some information regarding full text search on the [docs](https://www.postgresql.org/docs/14/textsearch.html) of `PostgresSQL` that might be helpful in this regard.

[2022-03-15 13:59] joemasilotti commented on #324
Oh, nice find!

If possible, I'd love to avoid any SQL strings. So using Arel if possible or trying out `pg_search`. Not a requirement, though.

[2022-03-15 13:59] joemasilotti commented on #326
All yours!

[2022-03-15 14:00] joemasilotti commented on #327
You got it!

[2022-03-15 14:05] themudassarhassan commented on #324
Would it be cool if we first make things work and then I can do that optimization work in a separate PR?

[2022-03-15 14:06] joemasilotti commented on #324
100%! Sorry, just getting excited :)

[2022-03-15 14:11] joemasilotti opened #328 "Submit message form with CMD-Enter"
When messaging it would be nice to submit the form with a keyboard shortcut.

A PR addressing this issue should:

1. Add a Stimulus controller to submit a form via a keyboard shortcut
2. Set the shortcut to <kbd>CMD</kbd> + <kbd>Enter</kbd> on macOS and the equivalent on Windows and Unix
3. Ensure that pressing Enter alone does _not_ submit the form
4. Ensure the form still works as expected on mo

[2022-03-15 17:22] jasonplatts commented on #328
I would be happy to work on this one.

[2022-03-15 18:39] joemasilotti commented on #328
All yours, thanks!

[2022-03-17 05:40] kaushikhande opened #331 "Location in detail page shows html text along with offset."
**Describe the bug**
On the developer details page, the location is showing extra HTML content in the offset field

**To Reproduce**
Steps to reproduce the behavior:
1. Go to developer details page
2. see location

**Screenshots**
![Screenshot from 2022-03-17 11-07-37](https://user-images.githubusercontent.com/28509627/158744207-28f0fedf-98e6-45fd-addf-e37894fe1432.png)

**Additional context**
Add

[2022-03-17 12:57] #331 closed

[2022-03-17 13:00] joemasilotti commented on #331
Thanks for reporting, @kaushikhande! This was occurring in dev because of the newly enabled `annotate_rendered_view_with_filenames` configuration. I pushed a fix to render the nested View Component in the HTML and not the .erb file and all seems to be working again.

[2022-03-17 15:55] joemasilotti opened #332 "Mobile view of `/notifications` CSS tweaks"
**Describe the bug**

The mobile view of `/notifications` is weird looking.

**To Reproduce**

Steps to reproduce the behavior:

1. Seed your database (or create a notification)
2. Visit `/notifications` on mobile

**Expected behavior**

* "New notifications" and the button should have horizontal padding on mobile, but not add to the desktop padding.
* Each notification should not have rounded bor

[2022-03-17 20:58] joemasilotti opened #333 "Hotwire-ify messaging"
The messaging flow is a little rough around the edges and could be improved with a little Hotwire.

This idea isn't super concrete, yet. But here's what I'm thinking.

1. When sending a message, render a Turbo Stream to append the message to the conversation and re-render the form.
2. Handle errors with a flash message as if it wasn't submitted via Turbo.
3. Ensure if JavaScript is disabled that e

[2022-03-18 11:23] kaushikhande commented on #327
@joemasilotti Please review

[2022-03-19 04:53] dhairyagabha commented on #332
@joemasilotti I would like to take this one

[2022-03-19 05:00] joemasilotti commented on #332
Awesome – all yours!

[2022-03-19 13:32] gathuku commented on #51
Mine is here <a href="https://railsdevs.com/developers/35">Ruby,Rails & Stimulus Lover</a>

[2022-03-20 08:08] themudassarhassan commented on #324
Hey @joemasilotti
A little clarification regarding design if we swap the positions of sort and filters on mobile then the filter panel should open from left side instead of right side. Right?

[2022-03-20 19:10] joemasilotti commented on #324
Ah, good point. Let's _not_ swap the sort/filter buttons on mobile and leave them where they are, for now.

[2022-03-20 19:15] themudassarhassan commented on #324
sure sure.

[2022-03-20 21:53] #332 closed

[2022-03-22 17:44] joemasilotti opened #344 "Add affordance for new keyboard shortcut"
I want to make it more obvious you can submit the Message form with a keyboard shortcut. Ideally, something like this could work (but with matching color, font weight, etc.).

![image](https://user-images.githubusercontent.com/2092156/159542770-37564637-9e6b-4cf6-b298-1c0b59b0f144.png)

The one tricky part is making sure it uses the Windows equivalent on Windows machines. And same for Linux! I'm o

[2022-03-22 17:45] joemasilotti opened #345 "Add affordance for keyboard shortcut"
I want to make it more obvious you can submit the Message form with a keyboard shortcut. Ideally, something like this could work (but with matching color, font weight, etc.).

![image](https://user-images.githubusercontent.com/2092156/159542770-37564637-9e6b-4cf6-b298-1c0b59b0f144.png)

The one tricky part is making sure it uses the Windows equivalent on Windows machines. And same for Linux! I'm o

[2022-03-22 17:45] joemasilotti commented on #327
Closed via #327.

[2022-03-22 17:45] joemasilotti commented on #328
Closed via #335.

[2022-03-22 17:45] #328 closed

[2022-03-22 19:12] joemasilotti opened #346 "100% remote option"
Developers have requested a way to share that they are only looking for fully remote roles. A toggle/checkbox in the developer form could be a good way to collect this.

Then, adding a toggle in the filters.

Finally, letting the business know before reaching out that the developer is only interested in remote roles. (Perhaps in `ColdMessagesController#new`.)

[2022-03-23 03:38] aiethics95 commented on #344
Hi, I think it would look a bit better if the "Send" button is changed to look like a keyboard key. Style wise this will make sense and look pretty (: Let me know if this is something you are okay with?

[2022-03-23 03:52] aiethics95 commented on #344
Also, an easy way to replicate the same CSS for this new button is to inspect the "Send" button and copy its properties and add them to the new button and they will look the same.

[2022-03-23 13:37] joemasilotti commented on #344
Agreed! This was just a mockup I did in Preview.app to show where I think the affordance should go.

It won't be a new button, so shouldn't be styled like one. But gray, semibold or medium weight text.

[2022-03-23 17:33] joemasilotti opened #347 "Index `developers.hero` and `developers.bio` for search performance"
Context: https://github.com/joemasilotti/railsdevs.com/pull/341#discussion_r833542319

[2022-03-23 17:58] themudassarhassan commented on #347
I'll take it and will add more details regarding the approach of the implementation.

[2022-03-23 18:02] joemasilotti commented on #347
All yours! Thanks.

[2022-03-24 08:49] kaushikhande commented on #346
Can I take this one?

[2022-03-24 22:08] arni1981 opened #350 "Replace id in url with a slug of some kind"
Currently the id is shown in the url for developers, notifications and conversations (maybe more, I haven't checked all).
I think it would improve things to see a slug of some sort instead of the id, both because the id doesn't have any meaning really, but more importantly I don't think it is a good strategy to show how many conversations and developers there are in the system already.

I would be

[2022-03-25 03:33] joemasilotti commented on #346
Thank for the offer, @kaushikhande! At this point I'm not 100% sure how this will work or where the buttons/filters will go. If you're up for it, feel free to submit a PR. But I might go back and forth on the UX a few times before it is accepted.

[2022-03-25 03:34] joemasilotti commented on #350
Honest question: why not? I already mention on `/developers` how many developers are on the site.

[2022-03-30 18:19] joemasilotti opened #351 "Read indicator for messages"
Folks have been reaching out to know if their messages were read by the recipient. A PR addressing this issue should:

1. Add an indicator to the most recent sent message in the conversation screen based on if the associated notification was read.

I'm open to design ideas on this one, but to start it could be something as simple as a checkmark that when hovered says "Read at #{timestamp}".

[2022-03-30 18:20] joemasilotti commented on #324
Closed via #341.

[2022-03-30 18:20] #324 closed

[2022-03-30 23:26] dhairyagabha commented on #259
Hey @joemasilotti please take a look at the comment on the PR when you get a chance

[2022-03-31 03:18] joemasilotti opened #353 "New pricing workflows"
With the recent changes to pricing (#314), there are a few loose ends to tie up. This issue will track ideas/thoughts as I finalize what needs to get done.

### Restrict businesses on the part-time plan from hiring full-time

Businesses that have signed up for the $99/month part-time plan are not allowed to hire full-time developers. Here are a few ideas to enforce that in the app.

When reaching

[2022-03-31 21:54] joemasilotti opened #354 "Welcome emails"
I'm finally at the point where I'd like to automate a welcome email to new developers and businesses to the site. To start, I'd love to keep these as unstyled HTML and very short.

A PR addressing this issue will:

- [ ] Add an `after_create_commit` callback to both `Developer` and `Business` that sends an email
    * Subject: Welcome to railsdevs!
    * Body: (see below)
    * From: Joe Masilotti

[2022-03-31 22:09] joemasilotti opened #355 "Preview message content in notification email"

[2022-03-31 22:24] joemasilotti opened #356 "Redesign filters on `/developers`"
The filters on `/developers` are becoming a bit cumbersome. I'd like to redesign the page to look like [this Tailwind UI component](https://tailwindui.com/components/ecommerce/components/category-filters#component-e799517f86cc2fc79bf0eebb45c16eea). Apologies for the janky image, but I think this gets across the idea well enough. Down the left is Search, Work preference, Role level, followed by Tim

[2022-04-01 04:13] #355 closed

[2022-04-01 05:25] salochara commented on #354
Hey there! 👋
I'd be happy to work on this one!

[2022-04-01 14:33] adrianvalenz commented on #356
This sounds fun. I’m up for it!

[2022-04-01 15:31] joemasilotti commented on #356
Awesome, all yours @adrianvalenz! I imagine there will be a lot of back and forth on this, so feel free to share progress and ask questions if you have any during your work.

Thanks for tackling this 💪

[2022-04-01 15:35] joemasilotti commented on #354
All yours @salochara! Thanks for taking this on 💪

[2022-04-01 15:55] joemasilotti opened #358 "Show warning when part-time plan reaches out to full-time only developer"
Businesses that have signed up for the $99/month part-time plan are not allowed to hire full-time developers.

When reaching out to a developer, if the business is on the part-time plan and the developer is not looking for part-time contract roles...

- [ ] Show a warning/info message and disable the form on the cold message page and conversation page
- [ ] Enforce logic in `MessagingPolicy`

[2022-04-01 15:56] joemasilotti opened #359 "Add link to "full-time form part-time plan" warning to upgrade account"
Businesses that have signed up for the $99/month part-time plan are not allowed to hire full-time developers.

When reaching out to a developer, if the business is on the part-time plan and the developer is _not_ looking for part-time contract roles...

- [ ] Add link to Stripe Billing to upgrade account in warning/info message

[2022-04-01 15:57] joemasilotti opened #360 "Add checkbox acknowledging 10% fee to cold message form"
Businesses that have signed up for the $299/month full-time plan are required to pay a 10% salary fee when they hire someone they contacted via railsdevs.

- [ ] On the cold message screen add a checkbox to the form stating "I understand that if I hire #{developer's name} then I will pay railsdevs 10% of their first year salary."
- [ ] Invalidate the form if the checkbox is not checked
- [ ] **BON

[2022-04-01 15:58] joemasilotti opened #361 "Add 10% fee payment button to conversation"
Businesses that have signed up for the $299/month full-time plan are required to pay a 10% salary fee when they hire someone they contacted via railsdevs.

- [ ] Add a button on the conversation page below the form titled "Pay 10% hiring fee" with a label of "I hired #{developer's name}." that links to `mailto:joe@masilotti.com?subject=railsdevs hiring fee&body=I hired #{developer's name} and am r

[2022-04-01 15:59] joemasilotti commented on #353
I added 4 new issues to account for each of these to-dos.

[2022-04-01 15:59] #353 closed

[2022-04-01 22:03] adrianvalenz commented on #356
@joemasilotti Sounds good! I'm excited to help out!

[2022-04-01 23:37] GALTdea commented on #359
I'll try and give this one a shot over the weekend if I have a couple of hours. If not I'll work on it on monday.

[2022-04-02 00:28] joemasilotti commented on #359
Awesome! I forgot to mention, but this is dependent on #358.

[2022-04-02 02:25] GALTdea commented on #359
I see.  Stop them from completing the transaction(outside of their limited account)  and redirect them to the upgrade page instead. seems like a single issue to me!

[2022-04-02 03:48] sriddbs commented on #361
@joemasilotti I would like to take this up, please assign it to me

[2022-04-02 04:44] kaushikhande commented on #360
@joemasilotti Can I work on this issue?

[2022-04-02 07:17] joemasilotti commented on #361
All yours! Thank you.

[2022-04-02 07:23] joemasilotti commented on #360
Sure thing! All yours.

[2022-04-02 10:06] sriddbs commented on #51
Hello, here is my profile -> https://railsdevs.com/developers/406

[2022-04-03 00:29] akshayKhot commented on #51
I'd love to contribute. I opened my first ever open-source pull request (https://github.com/joemasilotti/railsdevs.com/pull/362) that adds setup instructions. Any feedback is appreciated.

Here's my [profile](https://railsdevs.com/developers/22).

[2022-04-04 17:20] GALTdea commented on #359
Yes, I'll take a pass at 358. thank you

[2022-04-04 17:56] joemasilotti commented on #358
All yours!

[2022-04-05 03:39] kaushikhande commented on #360
Started working on this.

[2022-04-05 04:05] joemasilotti opened #363 "Clean up fixtures and `DeveloperQueryTest`"
The fixtures have snowballed a bit since introducing `DeveloperQuery`. I don't think we need or want ~20 developer fixtures for out test suite. Most of these, namely the ones after the first 5 or so, are only used in 2 places: `DeveloperQueryTest` and `DevelopersTest` (integration). They exist so we can test each filter but I think there is a better way.

We need to inject the dependency into `Dev

[2022-04-06 22:03] GALTdea commented on #358
got the logic working from the cold_messages_controller but I can't get it to work on the MessagingPolicy. going over the pundit docs to see how to access the developer record since the record variable it's an empty message object. not experienced on pundit.

[2022-04-06 23:11] joemasilotti commented on #358
Exciting! Take a look at the other policy classes - there should be an example that shows what you need to get close.

[2022-04-07 03:45] joemasilotti commented on #363
Closed via #366.

[2022-04-07 03:45] #363 closed

[2022-04-07 14:24] joemasilotti opened #367 "Add "Invisiblize" button on developer profiles (for admins)"
I've had a few folks add their developer profile but fill in bogus data. "abc" as their entire bio or even "Loading...". My process is to email them and tell them I've hidden their profile then manually fire up the Rails console and set their search status to "invisible". I'd like to automate this process.

A PR addressing this issue should:
- [ ] Add a button next to the "Hire me" one (similar to

[2022-04-07 21:51] Lincxx commented on #51
https://railsdevs.com/developers/395

[2022-04-08 21:04] DRBragg commented on #367
Hey Joe, I'm down to take this on.

[2022-04-08 21:31] joemasilotti commented on #367
Awesome! All yours.

[2022-04-10 20:48] joemasilotti commented on #361
Hey @sriddbs, I was wondering if you've made progress on this issue as it's been over a week. If you still have the appetite to complete it let me know. Otherwise I can take it over - no worries either way!

[2022-04-10 20:49] joemasilotti commented on #356
Hey @adrianvalenz, I was wondering if you have any progress updates on this? It's been over a week and I want to make sure you still have the appetite to get this working. If not, no worries! Let me know and I can pass it on to someone else.

[2022-04-10 20:50] joemasilotti commented on #347
Hey @themudassarhassan, I'd love to get this working before we go live with the search box for everyone. Do you have any updates on this?

[2022-04-10 20:51] joemasilotti commented on #350
@arni1981, I'm going to close this since it's been almost 3 weeks since I've heard back. Feel free to reopen it if you'd like to continue the discussion!

[2022-04-10 20:51] #350 closed

[2022-04-10 20:51] joemasilotti commented on #354
Hey @salochara, do you have any updates on this? It's been over a week so I wanted to check in. Let me know if you still have appetite to get this over the finish line!

[2022-04-11 01:03] adrianvalenz commented on #356
Hey Joe!

I’ve made a little progress on it. I was looking at how the sort dropdown filter was on the other side of the design where as the rest of the form was on the left sidebar, one of the things I’m implementing right now is the use of form attribute. An input field can be outside of the <form> tags but as long as you point the input field to the form via the attribute it can be on a separate

[2022-04-11 01:50] #367 closed

[2022-04-11 01:59] adrianvalenz commented on #356
I’ll be pushing up a WIP PR soon to get some feedback I just want to have something solid! Which I believe I will!

I must admit I had not seen your tweet! It was just something I deduced initially when I was looking over the project. I had learned about the form attribute a while back.

I did see your tweet or response about MiniTest vs RSpec (I know it’s is little off topic) but I would love to

[2022-04-11 06:20] themudassarhassan commented on #347
Hey @joemasilotti, unfortunately, I don't have an update right now as I have been occupied with other things lately 😞 But I'm planning to start working on this very soon, probably this week.

[2022-04-11 16:59] tim-carey-code commented on #354
I would like to help out with this one!

[2022-04-11 18:21] joemasilotti commented on #356
Sounds great – looking forward to it!

Sure thing! I started with RSpec/FactoryBot, too. Feel free to open a Discussion on the project. Also, DMs are open on Twitter if prefer to talk more privately.

[2022-04-11 18:22] joemasilotti commented on #347
Sounds great - thank you! If something changes and you no longer have the appetite let me know and I can pass it off to someone else.

[2022-04-11 18:37] salochara commented on #354
Hey 👋
I haven't had a lot of progress on this one.. I've had some setbacks and haven't had much time.
@tim-carey-code go ahead with this one!

I'll grab another issue once I get a bit more of time.

[2022-04-11 19:05] joemasilotti commented on #354
Thanks @salochara. @tim-carey-code, all yours!

[2022-04-12 10:41] padi commented on #313
@joemasilotti looks like a good first issue to familiarize myself with the codebase.

Just tried removing ignored_unused and there's a total of 140 unused/undetected keys.

Are you fine with one big PR on this one?

[2022-04-12 13:13] joemasilotti commented on #313
Awesome, thanks for kicking this off! One PR is fine as I _think_ it will only require a bunch of special comments in the codebase.

[2022-04-16 15:29] themudassarhassan commented on #347
Hey @joemasilotti I have created the [PR](https://github.com/joemasilotti/railsdevs.com/pull/379). Please review whenever possible. Thanks.

[2022-04-17 15:22] adrianvalenz commented on #356
Hey Joe!

Good morning! Hope this email finds you well! I was getting ready to make some updates and I couldn’t interact with the repo. I was a bit confused as I couldn’t find Issue #356

Regards,
Adrian

[2022-04-17 15:32] joemasilotti commented on #356
Hey Adrian, that's awesome to hear! I'm looking forward to seeing what you've built.

That's weird – _this_ is #356. Did you mean #348? I can access both (in private browsing). I'm thinking it's a GitHub issue? Can you try again and let me know what's going on?

[2022-04-17 15:33] adrianvalenz commented on #356
Yes, thank you! I’ll try again.

Sent from my iPhone

[2022-04-18 04:16] #344 closed

[2022-04-18 21:49] #354 closed

[2022-04-18 22:26] joemasilotti commented on #361
Closed via #380.

[2022-04-18 22:26] #361 closed

[2022-04-18 22:27] joemasilotti commented on #359
Closed via #380.

[2022-04-18 22:27] #359 closed

[2022-04-18 22:27] joemasilotti commented on #358
Closed via #380.

[2022-04-18 22:27] #358 closed

[2022-04-18 22:28] joemasilotti commented on #347
Closed via #379.

[2022-04-18 22:28] #347 closed

[2022-04-18 22:29] joemasilotti commented on #356
Hey @adrianvalenz, were you able to interact with the repo?

[2022-04-19 09:21] themudassarhassan commented on #351
@joemasilotti  Can I work on this?

[2022-04-19 14:41] joemasilotti commented on #351
Sure thing - all yours!

One more request - wrap the UI in a feature flag, please.

[2022-04-19 19:24] barefootford opened #381 "Add link to "My Conversations" in the header"
The most common thing I do as a developer looking for a job is go to the website and then click on "My conversations". This is currently underneath a drop down rather than an always shown link. I think this is the most common thing I click so it would be handy to just have it always there.

How it looks:
<img width="239" alt="Screen Shot 2022-04-19 at 12 09 44 PM" src="https://user-images.githubus

[2022-04-19 19:38] barefootford opened #382 "Show what job type developers are looking for during messaging"
I'm currently looking for part-time roles, but every message I've been sent is for full-times. We probably can't totally fix this, but I think companies should see a banner or something during messaging. Not sure if this is already there.

I spent hours on this design and it should look exactly this way. kidding:

<img width="752" alt="Screen Shot 2022-04-19 at 12 36 02 PM" src="https://user-image

[2022-04-21 15:23] joemasilotti commented on #381
Thanks for the feedback! I'm not entirely sure I want to add the design gets a bit tricky on mobile. Also, this is to save a single click, right? Isn't it more "efficient" to click the bell and see the messages you haven't seen yet?

[2022-04-21 15:51] joemasilotti commented on #382
First off, that stinks. I'm sorry about that!

I love your idea of adding some sort of affordance to the top of the conversation. I'm thinking of adding this to the initial outreach screen for businesses. What do you think of this?

<img width="741" alt="image" src="https://user-images.githubusercontent.com/2092156/164500699-6146a6ed-b2d2-410f-a403-5350d2b0c81e.png">

[2022-04-21 17:28] barefootford commented on #382
Looks great to me :shipit:

Separately but related to that page - it would be nice to have just 'part time employment' as an option too. ie https://4dayweek.io That's more what I'm looking four, rather than part-time contracting.

[2022-04-21 17:47] barefootford commented on #381
Not sure I follow - what do you mean by efficient? Maybe efficient as in fewer elements visible?

It seems like the primary thing/most used feature, at least when I'm signed in as a developer and looking for work, is to message back potential employers. So it seems like that should be front and center, not behind a click (and assuming that users think messages should be behind a profile photo, whi

[2022-04-22 01:48] joemasilotti commented on #382
Awesome, thanks!

Hmm, in my opinion that would be full-time employment but the hours aren't a traditional 40 hour work week. I'm worried about adding a new option there, to be honest. I was actually thinking of merging part-time contract and full-time contract! I'll keep you posted.

[2022-04-22 01:48] joemasilotti commented on #382
Closed via #383.

[2022-04-22 01:48] #382 closed

[2022-04-22 01:55] joemasilotti commented on #381
Ah, I love it! Thanks for the inspiration.

Thoughts?

<img width="144" alt="image" src="https://user-images.githubusercontent.com/2092156/164581062-f8f54c4c-780e-4dbe-a40d-bb11e41a36bb.png">

[2022-04-22 02:05] jayeclark commented on #381
Hi! I'm just getting back into following this repo and looking for more opportunities to contribute (I helped with the notification UI back in December!)

One thought -- the message bubble conveys a lot more of a sense of being a real-time conversation than an envelope icon does. I wonder if using a message bubble might give potential employers a wrong impression about how quickly they should expe

[2022-04-22 02:47] barefootford commented on #381
Looks good to me! I don't have any super strong preferences on icon type. I feel like we're used to them all but jaye may have something there

[2022-04-22 15:27] joemasilotti commented on #381
Hey again! Would love to have you contribute to the project on another issue. There are a few "Help wanted" tags on the issues page but also a few deeper/bigger ones I'd love help tackling.

Great point. The envelope does convey a more asynchronous interaction. I'll go with that for now, thanks for the idea!

[2022-04-22 15:40] joemasilotti commented on #313
Hey @padi, do you still have appetite to get this over the finish line? If not, let me know and I can pass it on to someone else or take it over myself.

[2022-04-22 20:53] #326 closed

[2022-04-23 17:51] joemasilotti commented on #360
Closed via #371.

[2022-04-23 17:51] #360 closed

[2022-04-23 17:53] padi commented on #313
I was able to remove some of the ignored files but stopped it midway. I even upgraded to the latest version of i18n-tasks, where one of the recent addition if a new scanner might come in handy.

I can put up a PR in a few hours if you want and then continue from there. Just typing on mobile right now.

[2022-04-23 17:57] joemasilotti commented on #313
Sure thing, that would be great! Thank you.

[2022-04-23 23:00] jayeclark commented on #381
@joemasilotti I'd love to tackle one of the more involved ones if there's one you'd recommend.  I haven't done _too_ much more work in Ruby on Rails since my last PR here, but I (hopefully) have developed better engineering design decision-making skills since December and have picked up several other frameworks and languages since then (so it's getting easier to work in unfamiliar stacks.) Definit

[2022-04-28 17:15] joemasilotti commented on #381
@jayeclark the next big project is splitting out users vs. accounts so multiple people can sign in to the same account. I've started documenting some thoughts in #237. If that's something you might be interested in let me know! If not, there's some other smaller stuff I'd love to run by you.

Feel free to send me an email or DM on Twitter if you don't want to have a discussion in public :D

[2022-04-28 23:03] MichaelArriaga opened #389 "Misaligned form field (tiny fix)"
**Describe the bug**
Not significant enough to warrant a pr. There is a misaligned form field in `app/views/developers/_form.html.erb`

**To Reproduce**
1. sign_in as example user: `developer@example.com`
1. click `edit` button
1. view form fields for `city` `state` `country`
1. notice the fields are misaligned

**Expected behavior**
Fields should be aligned

**Screenshots**
![rails-devs-alignment

[2022-04-29 01:17] jayeclark commented on #381
@joemasilotti Awesome, shot you a DM!

[2022-04-29 02:29] joemasilotti commented on #389
Thanks for the report! Would you mind creating the PR? It should be a click or two for you. Then I don't have to manually edit the file – plus you get contributor perks (when they launch)!

[2022-04-29 02:39] MichaelArriaga commented on #389
Absolutely, will do.

[2022-04-29 19:42] #389 closed

[2022-04-30 03:16] joemasilotti commented on #356
Hey again @adrianvalenz, I'd love for work to start on this and we are coming up on a month since you originally claimed it. Can you let me know if you still have appetite to knock this out? If not, no worries and I can take a pass.

[2022-04-30 13:43] joemasilotti commented on #297
After thinking about this a lot more, and getting requests from businesses, I think a simple v1 of this won't be too difficult. However, it is blocked by #356.

A PR addressing this issue should:

- [ ] Add a new filter to `/developers` on desktop and mobile labeled "Location"
- [ ] Show checkboxes for every _country_ in `Location`
- [ ] Filter developers by selected countries when applied

The lo

[2022-04-30 13:43] joemasilotti commented on #309
I'm going to close this for now as the banner is good enough. I'll revisit in the future after I talk to businesses and see what other kinds of information would make hiring easier.

[2022-04-30 13:43] #309 closed

[2022-04-30 13:44] joemasilotti opened #391 "Revamp business profiles"
Business profiles, [like mine for example](https://railsdevs.com/businesses/1), are pretty bare bones. They list the company name, the person associated, a sentence or two, and a photo.

Even though these profiles aren't publicly linked to, they can be accessed when a developer receives a message. So I'd like to add a bit more info to make it easier for the business to share details about their co

[2022-04-30 13:46] joemasilotti commented on #391
After thinking on this a bit more I think we can get a v1 of this out without much more design requirements.

A PR addressing this issue should:

- [ ] Add a website field to the business form and public view
- [ ] Add a role field to the business form and public view

We will not be addressing bio at this time. If you are unsure of where/how to put the fields then toss them at the bottom and subm

[2022-04-30 13:46] joemasilotti opened #392 "Add confirmation dialog to Invisibilize admin button"
When clicking the Invisibize admin button the developer is marked as invisible and an email is sent right away. I'd like one step of security in case I fat finger a click.

A PR addressing this issue should:

- [ ] Add a confirmation alert to the Invisibilize admin button

The alert should prompt `Mark this developer as invisible and notify them via email?` and be done via Turbo and not require ad

[2022-04-30 13:49] joemasilotti opened #393 "Notify admin if developer changes status to indicate being hired"
This is the first check in trying to track when a developer gets hired via the platform.

A PR addressing this issue should:

- [ ] Send a new admin email/notification when a developer's status changes to indicate they may have been hired

Any of the following changes should trigger the notification:

* A developer's search status changes from actively looking or open to not interested or invisibl

[2022-04-30 14:55] joemasilotti opened #394 "Refactor policies to handle actual business logic"
I went down a rabbit hole of refactoring controller logic into services in #387. Unfortunately, I missed the mark on the actual pain point before diving in.

After some reflection I've concluded that authorization policies are all over the app. There are Pundit policies, `before_action`s in controllers, and business logic in models. Moving all of these to Pundit policies should help alleviate some

[2022-04-30 14:59] joemasilotti opened #395 "Migrate Pundit to Action Policy to pass message and redirect URL on authorization failure"
Pundit, the authorization gem, doesn't support passing "context" when raising an error. [Action Policy](https://actionpolicy.evilmartians.io/#/) does. I want to pass context to display a custom error message and redirect based on what kind of authorization failed.

## A PR addressing this issue should:

- [ ] Follow the [migration guide](https://actionpolicy.evilmartians.io/#/./pundit_migration)
-

[2022-05-01 01:38] scottharvey commented on #392
@joemasilotti Are you happy to just use the standard Turbo confirmation or do you want a nicer confirmation message in a custom modal?

![confirmation](https://user-images.githubusercontent.com/78157/166128478-24f5fec4-8a7c-42bf-a42b-eb230d27ef79.gif)

[2022-05-01 01:48] joemasilotti commented on #392
Standard Turbo confirmation is just fine for this issue!

[2022-05-01 02:37] scottharvey commented on #391
First pass PR here: https://github.com/joemasilotti/railsdevs.com/pull/397

[2022-05-01 02:48] joemasilotti commented on #391
Awesome - all yours! I'll comment on the PR.

[2022-05-01 02:49] joemasilotti opened #398 "Add featured developer to top of /developers"

[2022-05-01 02:55] #398 closed

[2022-05-01 03:48] joemasilotti commented on #392
Closed via #396.

[2022-05-01 03:48] #392 closed

[2022-05-01 03:58] benngarcia commented on #393
happy to jump in on this

[2022-05-01 12:03] ramkalari commented on #51
Here is my link - https://railsdevs.com/developers/470

[2022-05-01 12:40] joemasilotti commented on #393
Sure thing, all yours @benngarcia!

[2022-05-01 13:29] joemasilotti opened #402 "Move Active Record callbacks that send notifications to modules"
Stemming from #394, it was really nice to be able to run `bin/check` locally and not have 35 new email previews opened in my browser.

As a tiny step towards refactoring business logic, I'd like to move the email/notification sending callbacks outside of `#save` and into their own methods. `#save_and_notify`, for example.

[2022-05-01 16:19] joevans opened #405 "Make `/developers` JS driven via an API"
My thinking is that the `/developers` search page could be completely JS driven with a fetch request to an internal API. That way the filters can be JS driven and not a REST call each time.

This should improve scalability as users, in-platform devs, & filter features increase.

Any thoughts on this?

[2022-05-01 23:27] joemasilotti commented on #405
What's your thinking on why a JavaScript driven fetch would scale better than standard HTTP requests?

[2022-05-02 14:22] joevans commented on #405
With a JS fetch via the API, the returned object can be all (or some) of the developers and their attributes. For example,
[code]

Then we can iterate through client side & speed things up while giving some CSS flare. Additionally, we can use that data for all the filtering and pagination with JS.

Currently, the initial devs grab, pagination, sorting, filters, etc are all server sided rendered an

[2022-05-02 15:03] joevans opened #406 "Increase visibility for all `/developers`"
This is more of a "do you have any goals in the future for fixing this growing problem?" thread. I count 267 developers on the site currently and developer's visibility is either "recently made themselves available" or "recently created an account." For the middle guys, they won't have any visibility on the "first page."

Proposed temporary/long term solutions:
- Show more devs at once.
- Show dev

[2022-05-02 17:11] joemasilotti commented on #402
Closed via #404.

[2022-05-02 17:11] #402 closed

[2022-05-02 17:12] joemasilotti commented on #391
Closed, for now, via #397.

[2022-05-02 17:12] #391 closed

[2022-05-02 17:12] joemasilotti commented on #393
Closed via #401.

[2022-05-02 17:12] #393 closed

[2022-05-02 18:03] joemasilotti commented on #405
Is `/developers` slow for you right now? According to Scout APM I'm seeing sub 100ms response times for this endpoint.

<img width="1783" alt="image" src="https://user-images.githubusercontent.com/2092156/166300437-99a4c541-bbfe-4c05-81c7-047b4fa87dc7.png">

I'm not sure I follow, there's only a single call to the server right now. What are you proposing moving to JavaScript would avoid?

[2022-05-02 18:29] joevans commented on #405
The server isn't slow today, no. But as for scaling the platform then this could result in a high amount of calls.

I'm not 100% sure I am going to be able to explain this. But I'll try.

Your active record calls are going to increase as your views increase. This is because every time someone visits the `/developers` page it's a view + activerecord. But as they start to navigate around that page,

[2022-05-02 21:57] joemasilotti commented on #405
Even if this ends up being much faster down the road I'm hesitant to add SPA-like pages now (or ever) for a few reasons:

1. I'm trying very hard to keep this codebase as "boring Rails" as possible. In the future that might mean Turbo Streams to do some of what you are explaining.
2. There is a ton of additional code to maintain. We would have to keep the Ruby filters in place for folks with JavaS

[2022-05-03 03:46] joevans commented on #405
Sounds good. I'll do some testing and let you know of any gains I find.

[2022-05-03 03:56] joevans commented on #405
I think this [article you wrote](https://masilotti.com/railsdevs-gender-diversity/) can be tied into this. You could have an randomizing algo that displays other genders up top. This is a unthought through solution but it is a potential solution.

[2022-05-03 06:45] adrianvalenz commented on #356
https://github.com/joemasilotti/railsdevs.com/compare/main...adrianvalenz:feature/redesign-developer-filters?expand=1

This is what I just pushed up. I got the sort filter working in a different component so you can style it a bit easier now. They are linked via the form attribute. Needed to add a "form" parameter for initialization and some translation key words...it's not the end product because

[2022-05-03 12:56] joemasilotti commented on #356
Exciting! Can you please create a PR out of that and mark it as a draft? Then we can move our conversation over there by commenting on the code directly.

[2022-05-09 02:14] wasabigeek commented on #297
Would love to tackle this once unblocked! I could maybe start on the backend stuff (e.g. the Query)

[2022-05-09 02:36] joemasilotti commented on #297
Sure thing, all yours @wasabigeek! Keep in mind that if you touch the view layer you might have a nasty merge. But starting on the backed as you mentioned sounds like a great place to start.

[2022-05-09 14:55] joemasilotti opened #416 "iOS app powered by Jumpstart Pro iOS and Turbo Native"

[2022-05-09 14:59] joemasilotti commented on #351
Hey @themudassarhassan, do you have any updates on this? Let me know if you still have appetite! No worries if not, I can pass it off to someone else.

[2022-05-09 15:00] joemasilotti opened #417 "Refactor non-reusable View Components under model named module"
A PR addressing this issue should:

- [ ] Move non-reusable (model-specific) View Components under their own module/namespace

PR #418 shows an example of refactoring `AvailabilityComponent` into `Developers::AvailabilityComponent` because we can't use that component without a developer.

Components that need to be refactored:

- [x] `BusinessAdminComponent` -> `Businesses::SubscriptionsComponent`

[2022-05-09 15:24] joemasilotti opened #419 "Add admin search"
I often find myself trying to find a developer or business in an admin context.

## A PR addressing this issue should:

- [ ] Create a new page, `/admin/developers`
    - [ ] List all developers, paginated, in reverse `created_at` order
    - [ ] Display their name, only, in a table like `/admin/conversations`
    - [ ] Add a search field to filter developers by name and email address
- [ ] Create

[2022-05-09 15:30] joemasilotti opened #420 "Send an email to a developer who hasn't updated their profile in 30 days"
Some profiles on railsdevs are growing stale and might not accurately reflect their current search status or bio.

## A PR addressing this issue should:

- [ ] Run a background job every day that:
    - [ ] Finds developers who's `updated_at` is ≥ 30 days old
    - [ ] Sends them an email asking if their profile is still up to date
- [ ] Only send to a developer once every 30 days - see notes belo

[2022-05-09 18:17] joemasilotti opened #422 "Send an email when a developer gets their first message with tips on how to respond"
It's important for developers to respond to every message they receive, even if they aren't interested in the role. It creates good rapport, validates the connection, and can even lead to interesting but unrelated work down the road.

## A PR addressing this issue should:

- [ ] Send an automated email when a developer receives their first message
- [ ] Include the subject/body below
- [ ] Send th

[2022-05-09 18:38] joemasilotti opened #423 "Implement Action Mailbox to reply to messages via email"
As a developer or business, I'd love to reply to railsdevs messages directly in my email client.

## A PR addressing this issue should:

- [ ] Implement Action Mailbox to receive inbound emails
- [ ] Create a new message when an inbound email is received in reply to a notification email
- [ ] Note in the message email that you can reply to the email directly
- [ ] Properly obfuscate the "from" fie

[2022-05-10 06:54] themudassarhassan commented on #351
Hey @joemasilotti. I do want to work on this but it may get delayed by one more week. I'll try to grab some time to work on this during this week, but if this is important you can surely assign it to someone else. Thanks!

[2022-05-10 13:29] joemasilotti commented on #351
All good - this isn't a super high priority task so another week is fine. Thanks for the update!

That said, I will want to pass this off to someone else if you don't get to it by then. Just to keep it fair to other contributors.

[2022-05-11 03:33] djdarkbeat commented on #395
We're thinking about migrating to action policy at work from petergate (https://github.com/elorest/petergate) Petergate is being used in two repos, but we have i18n issues to support and there's the whole passing context thing to consider also. I have to admit being curious about this but I also know I can't commit to look at it until after RailsConf.

[2022-05-12 01:14] alexinslc commented on #51
I'd really like to contribute but I'm pretty newish to Rails and to contributing. My profile link is: https://railsdevs.com/developers/486

[2022-05-12 04:02] joemasilotti commented on #395
I doubt I'll get around to it before then, either. But glad to know other folks are thinking along the same lines as me!

[2022-05-12 04:03] joemasilotti commented on #51
@alexinslc, there are a few issues marked as good for first time contributors. I recommend checking those out and seeing what you might be able to tackle! Also, feel free to post a PR that isn't completely done and we can walk through what needs to happen to get it over the finish line.

[2022-05-16 08:07] themudassarhassan commented on #351
Hey, @joemasilotti You can assign this task to someone else, I have been very busy lately. Sorry for the blockage :(

[2022-05-17 02:28] joemasilotti commented on #351
All good! Thanks for the heads up.

[2022-05-17 08:59] padi commented on #313
@joemasilotti yes you can assign this to someone else.

[2022-05-18 16:52] malachaifrazier commented on #51
I'm herrrre -> https://railsdevs.com/developers/531 🤠

[2022-05-18 17:11] malachaifrazier opened #426 "`bin/setup` failed on fresh install"
**Describe the bug**
`bin/setup` failed on a fresh repo install.

**To Reproduce**
Steps to reproduce the behavior:
1. Git clone `git@github.com:joemasilotti/railsdevs.com.git`.
2. Run `brew bundle install --no-upgrade` and wait for it to finish.
3. Run `bin/setup`
4. See error. [Full Console output Gist here](https://gist.github.com/malachaifrazier/3de2b9e94f9faa4a8526ef247e256d26)

**Expected be

[2022-05-18 21:06] joemasilotti commented on #426
What version of PostgreSQL are you using?

[code]

[2022-05-18 21:18] malachaifrazier commented on #426
I'm at `psql (PostgreSQL) 14.3`

[2022-05-19 05:32] joemasilotti opened #427 "In Portland for RailsConf?"
Any contributors in Portland for RailsConf? I’d love to treat you to dinner on Thursday!

Reply or [email me](mailto:joe@masilotti.com) and let’s set something up.

[2022-05-19 06:41] esmale commented on #419
Question regarding the data displayed vs the search criteria:
Developers
 * Search: name & email
 * Display: name

Businesses
 * Search: Contact Name, Company, Email address
 * Display: Company & Contact Name

Primary Question: It feels strange to have the search and display criteria not in sync with each other.  If you execute a search that matches a developer's email address, but that email addr

[2022-05-19 13:17] joemasilotti opened #428 "Remove unused column, `developers.email`"
The `email` column on the `developers` table is no longer used.

### A PR addressing this issue should:

- [ ] Add a reversible migration that removes this column

[2022-05-19 13:17] joemasilotti commented on #419
Great point. Let's add email address to the table as well.

Ah, both should be using `users.email`. `developers.email` is no longer being used and should actually [be removed](https://github.com/joemasilotti/railsdevs.com/issues/428).

[2022-05-19 13:24] joemasilotti commented on #426
@themudassarhassan, any ideas what could be going on here? The error is coming from the the search index on developers.

[`db/migrate/20220416144523_add_index_for_searchable_fields_in_developers.rb`](https://github.com/joemasilotti/railsdevs.com/blob/main/db/migrate/20220416144523_add_index_for_searchable_fields_in_developers.rb)

[2022-05-19 13:26] themudassarhassan commented on #426
@joemasilotti let me have a look.

[2022-05-19 14:57] themudassarhassan commented on #426
Okay. So I was able to do a fresh setup and the database was created successfully and migrations ran successfully. I'm not sure what is the exact root cause of this issue. But @malachaifrazier can you try to create db with `bin/rails db:create` and then run migrations afterward to see if this helps.

[2022-05-19 15:00] malachaifrazier commented on #426
Will do!

On Thu, May 19, 2022 at 10:58 AM Mudassar Hassan ***@***.***>
wrote:

[2022-05-19 15:59] malachaifrazier commented on #426
Here's a screenshare of what i'm seeing now;

![`bin/setup` failed on fresh install · Issue #426 · joemasilotti/railsdevs.com - 19 May 2022 - Watch Video](https://cdn.loom.com/sessions/thumbnails/f918e4eec01a4feabf695df58ef8c009-with-play.gif)

[2022-05-19 16:01] malachaifrazier commented on #426
Running `bin/setup` twice gives me this error:

[code]

[2022-05-19 16:21] malachaifrazier commented on #426
I ended up manually going through a bunch of the migration files and adding `if_not_exists: true` [see in this gist of git diff](https://gist.github.com/malachaifrazier/f5f03f6e8faf34e4485080e7805db2ec).

I then ran `bin/setup` again and reached this error once more:

[code]

[2022-05-19 16:34] joemasilotti commented on #426
That _looks_ like your version of Postgres doesn't support that syntax, but you're running a version higher than me. (I'm on 14.2.) So I'm really not sure what's going on here!

Maybe a red herring, but I just reran the migrations and the following diff was made to my schema. I wonder if this is related?

[code]

[2022-05-19 22:52] metamoni commented on #428
Hello! 👋

I'll take this one, if that's alright

[2022-05-19 23:16] #428 closed

[2022-05-19 23:17] joemasilotti commented on #428
All yours! ...and merged!

[2022-05-19 23:29] metamoni commented on #51
https://railsdevs.com/developers/537 👋

[2022-05-20 22:02] #427 closed

[2022-05-20 22:13] joemasilotti opened #433 "Refactor business logic to a service layer"
I attended a talk at RailsConf that really got me thinking. [Your Service Layer Needn't be Fancy, It Just Needs to Exist](https://railsconf.org/schedule#session-1281) from David Copeland, author of [Sustainable Web Development with Ruby on Rails](https://sustainable-rails.com).

The gist was that all of your business logic is scattered across your app. If you need to know _what_ your app does you

[2022-05-21 02:11] joemasilotti commented on #433
I haven't, no! I'm trying to stay as "boring" as possible right now but I will take a look for inspiration.

Do you use it in your projects?

[2022-05-21 11:58] aquilarafa commented on #433
Yes. I started "boring" as well. Once a controller starts to be more complex than simple operations I eventually extract to a domain layer with usecases.

[2022-05-21 12:10] aquilarafa commented on #433
<img width="400" alt="Uploaded using RayThis Extension-11" src="https://user-images.githubusercontent.com/33739544/169650849-d1e83781-adee-4860-8135-7df2b5f69d07.png">

A usecase flow is made of "micro"cases or steps. It's very readable. I also like the functional style to unfold results (Success or Failure objects).
<img width="400" alt="Uploaded using RayThis Extension-9" src="https://user-image

[2022-05-21 13:15] metamoni opened #435 "Accessibility - Heading levels should only increase by 1"
**Describe the bug**
There are a few places in the app where `h3`s are used, but we're skipping one level as there's no `h2` on the page. Applying headings correctly makes it much easier for screen reader users to navigate the page and find what they're looking for, so we should be using headings in a logical order and style them as needed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2022-05-21 13:36] metamoni commented on #435
Already on it 🙂

[2022-05-21 13:53] metamoni opened #437 "MessagingTest#test_sending_a_message_via_a_Turbo_Stream randomly fails"
**Describe the bug**
I think there's a flaky test floating around. I've seen this error when running `bin/check` three times now. If I rerun it, it eventually passes.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run `bin/check` until you see the error
2. Run `bin/check` again without making any changes, until the error disappears

**Expected behavior**
All tests should always pass

[2022-05-21 14:29] joemasilotti commented on #437
Can you share the linked screenshot? I haven't seen this test fail before but definitely want to fix it since it's flaky.

[2022-05-21 15:01] metamoni commented on #437
![failures_test_sending_a_message_via_a_Turbo_Stream](https://user-images.githubusercontent.com/22390758/169657218-4212e607-c486-4cdb-a800-1911aafad51d.png)

[2022-05-21 16:05] joemasilotti commented on #437
Weird, the text _is_ showing up in the screenshot! This line in the error message is even weirder:

We are trying to find it one time, no? I don't understand why this would be failing.

The text in your error message being "read" doesn't include "Hello!" which almost seems like the text is hidden. Which is bizarre.

---

Can you try the following? Add `binding.pry` to `test/system/messaging_test.r

[2022-05-21 16:14] jacobdaddario commented on #433
That's pretty slick, and I could see it working really well in super-large applications. That said, I wonder if it becomes a bit of an over-abstractions when you're just dealing with 5-10 people contributing at any given time.

[2022-05-21 16:19] #435 closed

[2022-05-21 16:19] joemasilotti commented on #435
Great find, thanks for pointing this out! I didn't know about the axe Chrome extension, definitely going to use this more in the future.

I merged your PR, too.

[2022-05-21 16:35] aquilarafa commented on #433
This project

I'm new to rails. Didn't build a lot of projects but I think it brings convention and good design to bigger teams.

[2022-05-21 16:39] aquilarafa commented on #433
For the 'create developer' task I know that a CreateDeveloper usecase exists somewhere.

[2022-05-21 18:38] metamoni commented on #437
Trying to debug this but it seems to be passing whenever I run that test file on its own, or when I run all system specs with `HEADFUL=1 rails test:system` or `bundle exec rails test:all` and put in `binding.pry`. It's all very weird, because as soon as I remove the breakpoint I get failures again. So I'm afraid that didn't help me get anything useful 😕

[2022-05-21 19:18] metamoni opened #438 "Accessibility - flash messages do not get announced to screen readers"
**Describe the bug**
Flash messages announce important messages (such as a successful updates to your developer profile) as well as errors the user should be notified of. However, these messages are not announced to screen readers, so people using assistive tech won't be notified of any dynamic content changes. We can fix this with `aria-live` regions, which ensure that any page updates or errors

[2022-05-21 19:19] metamoni commented on #438
I'm working on this 🙂

[2022-05-21 19:35] jayeclark commented on #437
Could it be a race condition? The ‘sending’ in the error message makes me think that sometimes the message is still in the process of being sent when the test is reading the page content. (If a ‘Sending’ status message exists, then it seems likely that the conversation can be in ‘Sending’ state for a non trivial amount of time…)

`Click_button` simply clicks the button, it doesn’t wait for a form

[2022-05-21 19:54] joemasilotti commented on #438
Another accessibility feature I didn't know about. Thank you!

[2022-05-21 19:56] joemasilotti commented on #437
Ah! Great thinking @jayeclark. The "Sending" copy does seem to indicate the message was never sent.

I don't remember off the top of my head, but I thought Capybara waited for elements. Maybe we aren't using the right method though.

[2022-05-21 20:04] joemasilotti commented on #437
@metamoni, can you please try #439 and see if that fixes the race condition?

[2022-05-21 20:22] metamoni commented on #437
@jayeclark excellent detective work! I ran the tests a bunch of times on your branch and it all seems to be working fine now, @joemasilotti.

[2022-05-21 20:37] #437 closed

[2022-05-21 20:37] joemasilotti commented on #437
Amazing! High five for teamwork! 🙌

[2022-05-21 20:55] #438 closed

[2022-05-21 20:58] jayeclark commented on #437
🙌  Woo boo, glad to help! 🙌

[2022-05-23 17:06] davidteren commented on #433
You could consider [interactor](https://github.com/collectiveidea/interactor)

It's nice to use very lightweight **interactors** that call helper modules or classes which in turn are super easy to test in isolation.
Several **interactors** can be called by an **organizer**  with each passing a `context` that will return the result and any relevant message.

[2022-05-23 21:51] joemasilotti opened #442 "Flash messages don't appear when creating a business or developer profile"
**Describe the bug**

When creating a developer or business profile the flash message doesn't appear.

**To Reproduce**

Steps to reproduce the behavior:

1. Create an account
2. Visit `/developers/new` or `/businesses/new` and fill in the required fields
3. Submit the form
4. Note that no flash message appears

**Expected behavior**

A flash message appears without needing to refresh the page.

[2022-05-24 17:39] malachaifrazier commented on #426
Ha! Found it 😄

Found it!
The root cause was because that syntax isn't supported by my old PostgreSQL version (installed via `Homebrew`).

Upgrading like so fixed all the things:

Installed PostgreSQL via `Homebrew`?

Check your PostgreSQL version like so:
[code]

Then, check your version like so:
[code]

Your version should be at least 13.7. Here's mine:

[code]

If your version is lower than 13.

[2022-05-24 17:39] #426 closed

[2022-05-24 17:42] joemasilotti commented on #426
Ah, that's great to know! Thanks for digging in and following up.

Unfortunately we [can't set a minimum version in the Brewfile](https://github.com/Homebrew/homebrew-bundle/issues/547#issuecomment-525443604), so `Brewfile.lock.json:272` will have to do for now!

[2022-05-24 17:46] malachaifrazier commented on #426
Sweet. Think it's worth specifying `postgresql@13` in the README?

[2022-05-24 20:40] harry-wood opened #444 "Truncated unrendered HTML on the 'developers available now' list"
**Describe the bug**
I saw the profile text for this chap https://railsdevs.com/developers/531 showing up on the homepage 'developers available now' list, but it looked like this:

**Screenshots**

<img width="530" alt="Screenshot 2022-05-24 at 21 22 05" src="https://user-images.githubusercontent.com/227525/170126412-2f5b1927-a365-4c2c-8fef-c7f1495478ad.png">

**Expected behavior**
I'm not sure. P

[2022-05-26 15:19] joemasilotti commented on #444
Thanks for calling this out! I'm not sure if it is a security issue, but I don't want to deal with the edge cases of images in the bio right now. Sanitizing the input might be a good first pass. I'll dig in.

In the meantime, @malachaifrazier, can you please remove the image from your bio?

[2022-05-26 15:45] #444 closed

[2022-05-26 15:47] malachaifrazier commented on #444
@joemasilotti Yessir!

[2022-05-26 15:49] malachaifrazier commented on #444
Done & done

[2022-05-26 20:17] joemasilotti commented on #395
Closed via #447. I'll probably come back to this, but shoving error messages and redirection URLs in the policy layer feels weird right now.

[2022-05-26 20:17] #395 closed

[2022-05-27 01:42] joemasilotti commented on #394
I'm considering this done for now via #449.

[2022-05-27 01:42] #394 closed

[2022-05-27 03:28] joemasilotti commented on #433
Thanks @andreimaxim, I needed to hear this.

The more service layer/objects I write the worse I feel about them. All I want to do is extract a DSL or parent object when I really want freedom to return whatever makes the most sense.

I also feel like I'm adding more and more code, and more and more indirection, to not accomplish much. Testing controllers via integration tests isn't hard these days.

[2022-05-27 03:28] #433 closed

[2022-05-28 17:26] #442 closed

[2022-05-30 04:27] #420 closed

[2022-05-31 07:19] metamoni commented on #417
I can work on these

[2022-05-31 10:04] ogirginc opened #457 "Cannot change location at the user#edit"
## Describe the bug

When the user tries to edit their location, saving changes the values to an Italian address.

## To reproduce

1. Go to `user#edit`
2. Change `City`, `State` and `Country`.
3. Click save.
4. Go to `user#show`.
5. You should see the address as the same Italy address.

## Expected behavior

Save the provided address.

## Actual behavior

Displays an unrelated Italian address.

#

[2022-05-31 22:52] joemasilotti opened #459 "Document a PR to handle role and ARIA a11y tags"
Digging through #409 I noticed that there are a lot of a11y tags floating around that might not be 100% accurate. For example, `aria-expanded="false"` is set in the HTML for toggles but is never flipped to `true`.

### A PR addressing this issue should:

- [ ] Audit the entire codebase for _dynamic_ a11y tags that should be updated
- [ ] Document the issues (or fix them!)
- [ ] **BONUS**: Audit th

[2022-05-31 22:56] joemasilotti opened #460 "Feature gate developer search to paying customers"
Currently, developer search is only enabled for admins (and in development). I'd like to enable this for folks with an active business subscription in production.

### A PR addressing this issue should:

- [ ] Remove `:search_feature` from `Feature.rb`
- [ ] Show the enabled search field if the current user has an active business subscription
- [ ] Show a disabled search field otherwise with a loc

[2022-05-31 22:58] joemasilotti opened #461 "Show country filtering on `/developers`"
Now that #409 is merged we can add country filtering to the UI!

### A PR addressing this issue should:

- [ ] Add country filtering to the developer filters on desktop
- [ ] ...and on mobile
- [ ] Show them above the timezone filter, collapsed

@wasabigeek, you have first dibs on this one if you'd like to take it! No worries if you don't have the appetite – just let me know.

[2022-05-31 22:59] joemasilotti commented on #356
Closed via #409.

[2022-05-31 22:59] #356 closed

[2022-06-01 03:45] joemasilotti commented on #422
Closed via #454.

[2022-06-01 03:45] #422 closed

[2022-06-01 12:06] joemasilotti commented on #459
Awesome - thanks!

[2022-06-01 14:29] mauromorales opened #464 "Get a 500 error when I want to check my notifications"
## Describe the bug

a 500 error

## To reproduce

Steps to reproduce the behavior:

Go to my dashboard, click on the bell with the red button to see my notifications

## Expected behavior

A list of notifications

## Actual behavior

500 error page

## Screenshots

<img width="1006" alt="Screenshot 2022-06-01 at 16 29 33" src="https://user-images.githubusercontent.com/433958/171428994-6d7b48da-01

[2022-06-01 14:33] joemasilotti commented on #464
Thanks for the report! #463 should fix this, I'm waiting on the deploy. I'll post here when it's live.

[2022-06-01 14:34] joemasilotti commented on #464
OK, you should be all good! Can you please check and confirm that it is working now?

[2022-06-01 14:39] mauromorales commented on #464
wow that was fast .. working, thanks @joemasilotti !

[2022-06-01 14:41] joemasilotti commented on #464
Awesome!

[2022-06-02 23:10] joemasilotti commented on #460
Awesome - all yours!

[2022-06-06 10:30] ogirginc commented on #457
It does work with others. The issue might be due to countries like Turkey not having states. For example, when I put Istanbul as a state, it did work.

TBH, it's a minor annoyance (at least to me) and I don't think it is worth an update. 🤷

[2022-06-06 12:41] joemasilotti commented on #417
You're making great progress, @metamoni! Just a few more to go.

[2022-06-06 19:51] joemasilotti commented on #457
Sounds good, thanks for following up!

[2022-06-06 19:51] #457 closed

[2022-06-06 20:30] joemasilotti opened #472 "Empty state for `/developers`"
With the new filters it is now easier to filter everyone out and not understand what's going on. The blank page doesn't help much.

A PR addressing this issue should:

- [ ] Add an empty state when `/developers` returns 0 results
- [ ] Add a custom empty state when `/developers` returns 0 results in dev (telling the user to seed their database via  `bin/rails db:seed`)

Design should be modeled af

[2022-06-06 20:32] joemasilotti opened #473 ""Showing X of Y developers" on `/developers`"
When searching for developers it's not always obvious how many are in the list. Or if you've filtered everyone out.

A PR addressing this issue should:

- [ ]  Add "Showing X of Y developers" to search results on `/developers`

I'm not 100% sure _where_ this should go or how it should look. So I'm open to ideas!

[2022-06-06 20:40] joemasilotti opened #474 "Markdown support for messages"
Developers and (some) businesses have been using markdown-like syntax in their messages. I'd like to support and encourage this as it makes it easier to communicate.

A PR addressing this issue should:

- [ ] When converting _new_ messages to HTML run them through a markdown parser
- [ ] Only allow the following markdown:
    * New paragraphs (blank line between blocks of text)
    * Bold
    * It

[2022-06-08 09:26] metamoni commented on #417
@joemasilotti I see a few more in the main folder that haven't been mentioned here. Should I refactor these too?

`BusinessPrimaryActionComponent` > `Businesses::PrimaryActionComponent`
`DeveloperProfileActionComponent> `Developers::ProfileActionComponent`
`DeveloperQuerySortButtonComponent` > `Developers::QuerySortButtonComponent`

[2022-06-08 12:27] joemasilotti commented on #417
That would be great, yes please!

[2022-06-08 12:30] joemasilotti opened #477 "Localize copy in `Conversations::HiringFeeComponent`"
A PR addressing this issue should:

- [ ] Move the hard-coded strings in `Conversations::HiringFeeComponent` to the locale file

Only translate to English - don't worry about other languages for now.

[2022-06-08 15:05] metamoni commented on #417
Happy to do these too, @joemasilotti

[2022-06-08 15:05] joemasilotti commented on #417
Amazing – thank you again!

[2022-06-08 15:40] joemasilotti opened #479 "Refactor subscription checking to use Pay methods"
Pay includes a few methods for checking if a user has an active subscription to a plan. We should be able to use these methods instead of some of our custom logic by passing in the price ID for processor plan.

https://github.com/pay-rails/pay/blob/master/docs/6_subscriptions.md#checking-customer-subscribed-status

[2022-06-08 15:50] #479 closed

[2022-06-08 20:24] troyizzle commented on #351
I'd like to work on this @joemasilotti !

[2022-06-08 21:03] #461 closed

[2022-06-08 21:05] #417 closed

[2022-06-08 21:07] joemasilotti commented on #351
Awesome - all yours!

[2022-06-08 21:12] joemasilotti commented on #423
I'm going to be live-streaming this tomorrow, June 9 at 12pm PST on YouTube!

https://youtu.be/TegDBmFSuGc

[2022-06-08 21:26] joemasilotti commented on #297
Closed via #468.

[2022-06-08 21:26] #297 closed

[2022-06-08 21:30] joemasilotti commented on #237
@jayeclark, can you please comment on this issue so I can assign it you?

[2022-06-08 21:43] jayeclark commented on #237
👋

[2022-06-09 02:37] #460 closed

[2022-06-10 02:13] #423 closed

[2022-06-11 17:33] jayeclark commented on #237
Dropping some thoughts here now that I've started messing with actual code... I've tried (very loosely) sketching out my initial approach a bit below.

In the initial set of work, a Business will initially still belong to a User and a User will only be able to own one Business. However, there will be an additional class UserRoleAtBusiness linking users to an existing Business and granting them per

[2022-06-11 21:20] troyizzle commented on #473
@joemasilotti I'd like to work on this!

[2022-06-11 22:35] troyizzle opened #486 "Infinite scrolling broken on `/developers`"
## Describe the bug
When scrolling to the bottom of `/developers` a turbo request is done but can not find a matching frame.

## To reproduce

Steps to reproduce the behavior:
1. Navigate to `/developers`
2. Scroll to bottom
3. Response has no matching <turbo-frame id="developers-2"> element

## Expected behavior
More results are displayed if there are more results.

## Actual behavior

No more re

[2022-06-11 23:09] troyizzle commented on #486
Looks like it broke in my commit [c64a8af](https://github.com/joemasilotti/railsdevs.com/commit/c64a8af55afda2a1e23128ec7e9bc90cbcd133b5 ) 😟

[2022-06-12 02:33] joemasilotti commented on #473
Sure thing! Once we close out your other open PRs and issues I'll assign it to you.

Two things we have to figure out:

1. Where does the text go?
2. How do we calculate Y? Is it total developers on the site, ones looking for a job, not invisible, etc.?

[2022-06-12 03:26] #486 closed

[2022-06-12 09:02] atiqueakhtar commented on #477
Hii @joemasilotti I would like to work on this issue. I will raise a PR for the same. Please do have a look.

[2022-06-12 11:46] ahmgeek opened #488 "Profile appears on home page although work preference is "open""
## Describe the bug

Profile appears on home page although work preference is "open"
<img width="1017" alt="Screenshot 2022-06-12 at 13 45 59" src="https://user-images.githubusercontent.com/4132009/173231591-faee289d-20ee-4b5d-983d-456499f0eea4.png">
<img width="1269" alt="Screenshot 2022-06-12 at 13 46 16" src="https://user-images.githubusercontent.com/4132009/173231597-06b4a504-5275-41cf-bee1-e7

[2022-06-12 12:29] joemasilotti commented on #477
All yours!

[2022-06-12 15:57] joemasilotti commented on #488
Thanks for the report! Bug fix incoming.

[2022-06-12 15:57] #488 closed

[2022-06-12 17:50] atiqueakhtar commented on #477
Hi @joemasilotti I am getting following error on pushing my commit via `git push -u origin main`

fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

[2022-06-13 01:08] joemasilotti commented on #477
You will need to fork the repository and push to your fork. Then you can open a PR against this repo from your fork.

https://docs.github.com/en/get-started/quickstart/fork-a-repo

[2022-06-13 07:22] atiqueakhtar commented on #477
Hi @joemasilotti . Thanks a lot!
I have raised a PR addressing this particular issue: [Move the hard-coded strings in HiringFeeComponent to the locale file](https://github.com/joemasilotti/railsdevs.com/pull/491#)
Please let me know if it looks good.

[2022-06-13 17:03] faqndo97 commented on #474
@joemasilotti I'm researching a little bit about this.

About paragraphs, they should be already formatted with the `simple_format`, shouldn't they?

Related to the other pieces, we have two options. The first one is to use the markdown formatter of auto_html, but it will allow more markdown tags. Behind the hood, auto_html uses redcarpet, which is written in c, so we don't have much space to play

[2022-06-15 17:15] joemasilotti commented on #474
Thanks for diving in!

I'm using Redcarpet already so I'd like to stick with that, if possible.

It looks like you can disable some attributes (like images) by [configuring the renderers](https://github.com/vmg/redcarpet#darling-i-packed-you-a-couple-renderers-for-lunch). I wonder if that will get us most of what we want.

[2022-06-16 15:58] joemasilotti opened #500 "Invisibilize for businesses"
There has been a tiny uptick in spam-ish requests in the past few days. Similar to how we can "invisibilize" developers, I'd like to do the same for businesses.

## A PR addressing this issue should:

- [ ] Add a column to `Business` to mark if it is visible
- [ ] 404 if a business's show page is visited but that business is set to invisible
- [ ] Show a native confirm dialog before proceeding
- [

[2022-06-16 16:04] joemasilotti commented on #500
@DRBragg, you have first dibs if you want this one!

[2022-06-16 16:12] DRBragg commented on #500
Awesome! I'll knock it out this weekend. Thanks!

[2022-06-16 16:44] joemasilotti commented on #500
Excellent! Thank you.

A heads up to log in as `admin@example.com` locally. There is already a bit of subscription info there in the business pages.

[2022-06-16 21:40] DRBragg commented on #500
Hey Joe.  Just wanted to confirm the wording on the email:

Hey #{business.name},

I'm Joe, the founder of railsdevs. Your business profile (link to business profile) was flagged because it doesn't contain enough information and kind of looks like spam.

I've set your profile to invisible. No one but yourself will be able to see it. You can toggle this back when you flesh out your profile a bit mo

[2022-06-17 04:08] joemasilotti commented on #500
Yeah, looks good to me! The closing can be replaced with the signature partial, too.

[2022-06-17 04:17] joemasilotti commented on #237
This looks like a great start, thanks for kicking it off!

There's one thing that doesn't seem to be addressed. If a business account owns a conversation, what happens when a second user (associated with said business) tries to respond? Should it look like it came from the original business sender? Or do we need a way to differentiate in the UI who sent the business (like Airbnb).

## Answers

1.

[2022-06-17 10:20] jayeclark commented on #237
@joemasilotti Yeah, I’ve been moving slowly on this not so much because of unfamiliarity with Rails, but more that the more I think it through, the more I see other areas of the codebase that may need to change or be thought through first.

Conversations is a big one. Currently (to avoid blowing up the codebase) I’m conceiving of it that a business owner can see all the conversations but would nee

[2022-06-17 22:54] joemasilotti commented on #259
Closed in favor of #483.

[2022-06-17 22:54] #259 closed

[2022-06-17 22:55] joemasilotti commented on #473
Hey @troyizzle, now that your other issue is wrapped up, do you want to take this one on?

[2022-06-17 23:55] troyizzle commented on #473
@joemasilotti yes sir!

[2022-06-18 00:33] joemasilotti commented on #473
All yours!

[2022-06-18 02:11] joemasilotti commented on #473
@troyizzle, I just pushed a small PR with some design ideas for the banner. Feel free to build on that or roll your own!

https://github.com/joemasilotti/railsdevs.com/pull/502

[2022-06-18 02:14] joemasilotti commented on #472
Closed via #484.

[2022-06-18 02:14] #472 closed

[2022-06-18 02:15] joemasilotti commented on #351
Closed via #485.

[2022-06-18 02:15] #351 closed

[2022-06-18 16:44] joemasilotti opened #503 "Admins can view invisible developer profiles"
When I get notified of new developer profiles some have been set to invisible. I'd still like to review their profile to make sure they aren't obvious spam.

## A PR addressing this issue should:

- [ ] Allow admins to view invisible developer profiles

This change can be made in `app/policies/developer_policy.rb`.

[2022-06-18 16:48] joemasilotti opened #504 "Site-wide banner indicating your profile is invisible"
Developers have been marking their profile as invisible to not show up on the site. Some of these are because they found a job and are longer looking! Odds are they won't come back to the site for a while.

But for the others, I'd like to let them know a bit more aggressively that their profile isn't appearing for anyone else.

## A PR addressing this issue should:

- [ ] Add a banner to every pag

[2022-06-18 16:51] joemasilotti commented on #477
Closed via #491.

[2022-06-18 16:51] #477 closed

[2022-06-18 17:09] kaushikhande commented on #503
Hi @joemasilotti
Can I work on this issue?

[2022-06-18 17:10] joemasilotti commented on #503
Sure thing! All yours.

[2022-06-18 18:33] kaushikhande commented on #503
@joemasilotti Added PR https://github.com/joemasilotti/railsdevs.com/pull/505.
Please review

[2022-06-18 19:00] joemasilotti opened #506 "Generate long-tail SEO pages for filter combinations"
The goal of this issue is to generate some SEO juice for specific combinations of developer filters. For example, "freelance Ruby on Rails developers", "senior Ruby on Rails developers", or "Ruby on Rails developers in Canada".

To start, we can generate unique pages based on the existing filters and tweak the `<h1>` to help differentiate the pages to search engines. Then, ask for them to be index

[2022-06-19 12:04] joemasilotti commented on #503
Closed via #505.

[2022-06-19 12:04] #503 closed

[2022-06-20 00:56] joshio1 commented on #504
Hi there! 👋
I'd be happy to work on this one!

[2022-06-20 13:40] joemasilotti commented on #504
Sure thing – all yours!

[2022-06-20 15:38] joshio1 commented on #504
Thanks, I have a few questions:

1. When the user clicks on the CTA and is on the `Edit Developers` page, do we still show the banner? Or is there any change we need to do on that screen?
2. Do you have anything specific in mind as far as the verbiage for the banner is concerned? (for both the title and CTA)
3. I saw that the NewFieldsComponent does not have an equivalent version in other language

[2022-06-20 18:31] joemasilotti commented on #237
Wanted to give you a heads up that I took (yet) another spin on this Accounts vs. Users thing today. PR #508 has some scaffolding for the schema and data migrations on how to get us started in a slightly different direction.

Curious to hear your thoughts on that and how they align with your PR!

[2022-06-20 19:18] joemasilotti commented on #237
Ha, fair! I think the PR could lay a groundwork for something more robust than what we currently need. But will make it easier to extend than what we've been talking about.

I'm not sure if I'm overoptimizing or if it is thinking ahead.

[2022-06-21 22:06] joemasilotti opened #511 "Conversation page doesn't _always_ scroll to bottom on load"
## Describe the bug

When viewing a conversation the page is supposed to scroll to the bottom. Sometimes, it does not.

## To reproduce

Steps to reproduce the behavior:

1. Seed or reset the database `$ bin/rails db:reset`
1. Sign in as `business@example.com`/`password`
2. Add 20+ messages so the bottom one is rendered off screen
    * `$ bin/rails console`
    * `20.times { Conversation.first.me

[2022-06-21 22:30] joemasilotti opened #512 "`<title>` tag for conversations"
When viewing a conversation it would be nice to have the title set so the browser can show it when you are in a different tab.

## A PR addressing this issue should:

- [ ] Set the `<title>` tag for conversation pages to "Conversation with #{other person's name} · railsdevs"

[2022-06-22 12:27] joemasilotti opened #513 "Resize avatars to displayed sizes"
Running a [PageSpeed Insight audit](https://web.dev/measure/?url=https%3A%2F%2Frailsdevs.com) on railsdevs highlights a few areas of improvement. This issue hopes to remedy the following:

## A PR addressing this issue should:

- [ ] Use [Active Storage variants](https://api.rubyonrails.org/v6.1.0/classes/ActiveStorage/Variant.html) to resize avatars to appropriate sizes
- [ ] Ensure that 1x and 2

[2022-06-22 12:30] joemasilotti opened #514 "Load images lazily"
Running a [PageSpeed Insight audit](https://web.dev/measure/?url=https%3A%2F%2Frailsdevs.com) on railsdevs highlights a few areas of improvement. This issue hopes to remedy the following:

## A PR addressing this issue should:

- [ ] Set [image loading to `lazy` via Rails configuration](https://blog.saeloun.com/2021/03/01/rails-6.1-adds-config-for-lazy-image-loading.html)
- [ ] Ensure that images

[2022-06-22 12:42] joshio1 commented on #514
Hi,

Can I pick this one?

[2022-06-22 12:47] joemasilotti commented on #514
Sure thing - all yours!

[2022-06-22 14:57] bradpurchase commented on #513
I'd be happy to take a swing at this one!

[2022-06-22 18:00] joemasilotti opened #516 "Add plain text version of Devise emails"
According to Postmark support, some emails might be getting automatically marked as spam because they don't include a plain text version.

## A PR addressing this issue should:

- [ ] Ensure every email sent via Devise also includes a plain-text version
- [ ] **BONUS**: Add a bit about what railsdevs _is_ to the confirmation email

[2022-06-22 18:39] joemasilotti opened #517 "Add invisible captcha to sign up form"
I've had recent spam complaints of confirmation emails. Just to be safe, let's add a honeypot to trap some bots.

## A PR addressing this issue should:

- [ ] Add [invisible_catpcha](https://github.com/markets/invisible_captcha) to the registration form

[2022-06-23 01:51] jamgar commented on #516
I would like to try this. Where are the devise mailers? Normally they are included inside the /views/devise/mailers but didn't see any.

[2022-06-23 02:00] jamgar commented on #516
Would they happen to be the below highlighted mailers?
![image](https://user-images.githubusercontent.com/14931684/175191125-b605e0b8-42ec-4ced-aa1e-3a9f1edaa917.png)

[2022-06-23 02:09] joemasilotti commented on #516
Sure thing – all yours!

I think we might have to generate them to get started. Right now we are using the default ones.

[2022-06-23 02:09] joemasilotti commented on #516
`bin/rails generate devise:views` will generate all of them. Then you can pick out the mailers I think!

[2022-06-23 02:14] jamgar commented on #516
Ok sounds good. I usually run the generator from the start. Lol. Since you are using default ones it should not interfere with what you already have the the sign up and sig in views, but will check. Thank you. Excited my first "real" commit to open source.

[2022-06-23 04:14] kaushikhande commented on #517
@joemasilotti Can I work on this issue?

[2022-06-23 04:47] joshio1 commented on #514
Hey @joemasilotti,

I was looking at this one and [I added the config](https://github.com/joemasilotti/railsdevs.com/compare/main...joshio1:feature/load_images_lazily?expand=1) to lazily load the images application wide.

I just wanna flag that it still loads 8/10 images on the first page load. I tested this with adding 10 more developers to the seeded data such that they show up on the front page

[2022-06-23 11:55] pkayokay commented on #511
I'd love to tackle this one!

[2022-06-23 12:22] joemasilotti commented on #516
Does `rvm install 3.1.2` work?

[2022-06-23 12:26] joemasilotti commented on #514
Thanks for diving in! I think that's expected behavior. If I understand correctly, Chrome looks ahead 2000px or something to load all images.

Have you tested to make sure the images load OK in Safari and Firefox?

[2022-06-23 12:31] jamgar commented on #516
I tried it a few times yesterday and it was give and could not find the version, but tried this morning and all good 😆
<img width="958" alt="railsdevs com 2022-06-23 07-29-36" src="https://user-images.githubusercontent.com/14931684/175298975-583fd779-b118-4dcc-b542-8269d11816ac.png">

[2022-06-23 12:32] joemasilotti commented on #516
Excellent! Let me know if you run into any more issues.

[2022-06-23 17:38] #500 closed

[2022-06-23 21:10] troyizzle commented on #473
@joemasilotti I looked into this some and I'm not sure how the best way of doing this without some major changes to the `PagyPaginatorComponent`. I thought I could just add something like

In `developers/index.html.erb`
[code]

In `components/pagy_paginator_component/pagy_paginator_component.html.erb`
[code]

But to no luck... I assume its because you can't _break_ out of turbo frame?

Looking for

[2022-06-23 22:01] jamgar commented on #516
Getting an error when running rails db:migrate. I don't see a syntax error in the migration file, but could be wrong. Any ideas why this is happening?

![image](https://user-images.githubusercontent.com/14931684/175419767-c3a01e6e-d683-4464-8e92-1bbb41d84c25.png)

[2022-06-23 22:36] bradpurchase opened #519 "Serve avatars at 1x and 2x"
As of #518, we generate variants for avatars @2x the displayed size instead of scaling down the full image. For instance, avatar thumbnails are displayed at 32x32, while the thumbnail itself is 64x64.

As per [this comment](https://github.com/joemasilotti/railsdevs.com/pull/518#issuecomment-1164461961), we want to push this further this by also serving avatars at 1x and 2x via HTML.

## A PR addre

[2022-06-24 03:14] joemasilotti commented on #516
I think your version of Postgres is too old? @jacobdaddario ran into this issue (I think!) a while back.

[2022-06-24 07:21] joshio1 commented on #514
Yes, Chrome [looks ahead 1250px to 2500px](https://web.dev/browser-level-image-lazy-loading/#distance-from-viewport-thresholds) depending on the connection speed.

Yep, the images load OK in Safari and Firefox. I'll raise a PR for this.

[2022-06-24 12:11] #513 closed

[2022-06-24 13:08] pkayokay commented on #511
After investigating, I don't think this was actually working? It looks like it's "scrolling" due to the `autofocus: true` on that form. The bug happens when navigating back or forwards in the browser, on a fresh visit it does work (found a related issue https://github.com/hotwired/turbo/issues/354).

I can add an actual fix for scrolling on fresh visits and the typeerro message, but would we consi

[2022-06-24 13:33] joemasilotti commented on #511
Nice digging! Back/forward should not scroll to bottom - good call. Only on a fresh visit.

[2022-06-24 13:34] #514 closed

[2022-06-24 17:32] joemasilotti opened #522 "Filtering by location includes other countries"
## Describe the bug

Filtering by United States shows some developers in other countries, France for example.

## To reproduce

Steps to reproduce the behavior:

1. Go to `/developers`
2. Check United States under Location
2. Apply the filter

## Expected behavior

Only United States-based developers should appear.

## Actual behavior

Developers from other countries appear, like [this one](https:

[2022-06-24 18:51] imella commented on #522
Hey @joemasilotti ! I can take a look at this. I also confirmed that filters are not being passed to the pagination call

[2022-06-24 19:15] jamgar commented on #516
@joemasilotti that worked. Thank you!

[2022-06-24 20:47] jamgar commented on #516
@joemasilotti When I ran the `bin/rails generate devise:views` it I didn't overwrite what was already there, but it created some folders/files that don't look like are used. Do you want me to delete those folders/files? See the highlighted items.
<img width="552" alt="railsdevs com-gitstatus" src="https://user-images.githubusercontent.com/14931684/175665169-bce52954-a608-4c5a-bc0d-8c78f327a1bf.png

[2022-06-25 00:30] joemasilotti commented on #522
Yes please! Thanks so much.

[2022-06-25 00:30] #522 closed

[2022-06-25 00:31] joemasilotti commented on #516
Yes please - only keep the mailer files. Everything else you can delete.

[2022-06-25 13:21] jamgar commented on #516
@joemasilotti I am trying to push my branch but don't have permission.