[2022-06-25 13:46] joemasilotti commented on #516
Are you pushing to your fork?

[2022-06-25 14:48] jamgar commented on #516
I cloned the repo. 😮 I am guessing that I should have forked it? Noob mistake shining through 😄

[2022-06-25 15:01] joemasilotti commented on #516
Ha no worries. Yeah, fork it then clone your fork. Submit your PR to the original repo (this one).

[2022-06-25 18:13] jacobdaddario commented on #516
Ah sorry for not looking at this earlier. I was running into issues with the precision of the datetimes jumping around that I think was caused by a Rails version mismatch between the two of us.

[2022-06-25 20:52] pkayokay commented on #313
I'd love to pick this up!

[2022-06-26 14:17] joemasilotti commented on #313
Excellent - all yours!

[2022-06-27 10:49] joemasilotti opened #525 "Self-host Inter font"
The biggest opportunity according to PageSpeed Insights is to eliminate render-blocking resources.

## A PR addressing this issue should:

- [ ] Self-host the [Inter font](https://rsms.me/inter/)

<img width="1128" alt="image" src="https://user-images.githubusercontent.com/2092156/175924622-c6354fea-961c-4a67-ae37-65966a693e9b.png">

[2022-06-27 14:32] joemasilotti commented on #473
Hmm, I'm not sure I follow. Why does this have to be inside the Turbo Frame? Can we add a new partial or View Component and render it on `app/views/developers/index.html.erb:47`? We can pass in the `pagy` object to get the total count I believe.

[2022-06-27 16:58] prikeshsavla commented on #519
Something like this probably
https://www.dofactory.com/html/img/srcset

[code]

[2022-06-27 20:11] joemasilotti commented on #519
Ooh nice! That will be a fun helper to build.

From my understanding a good portion of desktop monitors are still 1x. And desktop makes up almost 50% of traffic.

Regardless, PageSpeed checks this. :)

[2022-06-27 22:13] troyizzle commented on #473
That is what I tried unfortunately to no luck, I believe since it can only update things in scope of the turbo frame its being called from?

[2022-06-28 08:30] adrienpoly commented on #525
Looking at the css that is downloaded https://rsms.me/inter/inter.css it looks like all font weight are defined (from 100 to 900). What are the font weight that you really need within your design system?
I think the major optimisation would first come by downloading only the fonts that you really need.

[2022-06-28 10:32] joemasilotti commented on #525
For this issue I'd rather self-host the entire font family. In a future issue we can review if removing some weights would help enough. My concern is that if/when we do decide to add a new weight it would be confusing as to why it wasn't working right away.

---

But to answer your question, railsdevs is currently using 5 of the 9 available weights:

* ~`font-thin`~
* ~`font-extralight`~
* ~`font-

[2022-06-28 11:01] joemasilotti commented on #473
Weird... am I missing something in #502? If not, I'll merge that PR for now.

[2022-06-28 14:18] troyizzle commented on #473
Looks good Joe! I was thinking it would be something like on the first results
"1 of 20"
and when loading more results that would get updated to
"1 of 23"

Sorry for the misunderstanding Joe but glad to see your finished solution for it!

[2022-06-28 14:35] #473 closed

[2022-06-28 14:35] joemasilotti commented on #473
Ahhh, that makes sense. Well, that's on me then for not explaining the issue clearly enough. Thanks for the help!

[2022-06-28 16:24] joemasilotti commented on #237
Thanks for calling this out! In the long run I'd like railsdevs to function more like Airbnb instead of Tweetdeck. But I'm not quite sure what the immediate next steps should be.

[2022-06-28 16:51] joemasilotti commented on #237
That's a great call. We have all the data we need to backfill.

I love the idea of collecting name (or not) during sunup but having a new profile edit screen for name and avatar. It could even render above the developer/business form as nested attributes!

[2022-06-28 19:04] #506 closed

[2022-06-28 19:21] joemasilotti commented on #504
Closed via #509.

[2022-06-28 19:21] #504 closed

[2022-06-28 19:23] joemasilotti commented on #516
Closed via #524.

[2022-06-28 19:23] #516 closed

[2022-06-28 19:26] joemasilotti commented on #237
I agree. And I like where this conversation has navigated the decision.

Your call! You are also welcome to contribute to the data migrations PR if you want to work on that.

[2022-06-29 19:28] adrienpoly commented on #525
Ok will give it a try

[2022-06-30 13:50] joemasilotti commented on #313
For now, now. If they are getting in the way of running the health check then you can remove them. I'm working on revamping translations soon.

[2022-06-30 14:25] #525 closed

[2022-06-30 23:50] joemasilotti opened #533 "Creating an invisible developer profile raises an error"
## Describe the bug

If you set your search status to invisible when creating your developer profile the app 500s.

## To reproduce

Steps to reproduce the behavior:

1. Create a new account
2. Visit `/developers/new`
3. Fill in the required fields (name, hero, bio, city, and avatar)
4. Set "Search status" to Invisible
5. Click "Save"

## Expected behavior

The developer profile is created without

[2022-06-30 23:51] joemasilotti commented on #533
@joshio1, would you like to take a pass at this? If not, no worries at all I can handle it tomorrow.

[2022-07-01 07:43] joemasilotti commented on #533
Thank you!

[2022-07-01 09:32] joshio1 commented on #533
So, I had a look at this one. But the steps to reproduce were a little different from what I saw. I could reproduce the failure but only when we don't enter the required fields, have the search status as `invisible` and then click Save.

I was able to reproduce the failure with a test-case in this branch: https://github.com/joemasilotti/railsdevs.com/pull/534

If there is anything else, please let

[2022-07-01 12:26] joemasilotti commented on #533
Ohh, good catch. Hmm... we could add a test that would trigger multiple banners and ensure that the right one is rendered.

[2022-07-01 12:26] #533 closed

[2022-07-02 12:46] pkayokay commented on #313
Looks like we're not using devise's lockable feature, is it safe to assume that any translations related to that should be removed?

[2022-07-02 14:12] pkayokay commented on #313
Other translations that we don't actually use, here's a few. I can have a PR for a more detailed review.
- `devise.registrations.edit.cancel_my_account` -> `Cancel my account`
- `devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it` -> `leave blank if you don't want to change it`
- `devise.registrations.edit.unhappy` -> `Unhappy`

[2022-07-02 14:16] joemasilotti commented on #313
I'm not too concerned about the Devise ones. I think we should actually leave them because when we update Devise it should also update some translations (ideally).

I'm more interested in removing the smart comments sprinkled throughout the app that tell `i18n-tasks` we are using a translation. Here are two examples:

[code]

[code]

[2022-07-02 14:32] pkayokay commented on #313
I see, so the devise translations should remain in their respective `.yml` files, but should they still be added as comments?

I could see how this isn't necessary for some, they either belong in the `_flash.html.erb` partial or their respective views. I unfortunately started with the [devise translations](https://github.com/joemasilotti/railsdevs.com/pull/536/files), will revert if this isn't nee

[2022-07-02 15:30] joemasilotti commented on #313
The overall goal of this issue is to remove all of the inline comments marking translations as used. Devise is already listed in the i18n-tasks configuration, so no adjustments to Devise translations should be needed.

[2022-07-02 16:15] axhgl commented on #426
In case anyone is trying to `bin/setup` in Debian 11 and you have multiple versions (e.g. `9.6, 12.x, 14.2`) of "postgresql" installed, make sure that the server of the right version (`13+`) is listening on port `5432`.
One could check/modify that in the `postgresql.conf` file, e.g. in case of version 13:  `/etc/postgresql/13/main/postgresql.conf`.

In my case, I had "postgresql v.9.x" running on

[2022-07-02 19:22] joemasilotti commented on #426
Thanks for this @axhgl! Would you mind adding a note to the README for future contributors?

[2022-07-02 21:02] axhgl commented on #426
You're welcome, @joemasilotti! Sure. I'll soon give it a try.

[2022-07-04 05:38] metamoni opened #539 "Incomplete aria-expanded in query_sort_button_component.html.erb"
## Describe the bug

The "Sort" button on the Developers list page uses `aria-expanded="false"` to tell screen readers when the sort menu is collapsed, but is not set up to change to `true` when the menu is expanded.

File: `query_sort_button_component.html.erb`

## To reproduce (on a Mac)

Steps to reproduce the behavior:

1. Sign in as a developer
2. Go to http://localhost:3000/developers
3. Tur

[2022-07-04 06:53] metamoni opened #540 "Incomplete aria-expanded in navigation menu"
## Describe the bug
The guest/user navigation menu has `aria-expanded="false"`, but this doesn't update to `true` when the menu is expanded. This affects both desktop and mobile views.

Views:
`app/components/nav_bar/user_component.html.erb`
`app/components/nav_bar/user_component.html.erb`

## To reproduce

Steps to reproduce the behavior (on macOS):

1. Turn on VoiceOver: `command + F5`
2. Tab to

[2022-07-04 07:18] metamoni opened #541 "Focus in mobile filters dialog"
## Describe the bug
In mobile view, the "Filters" button has `aria-expanded="false"`, but this doesn't update to `true` when the menu is expanded. As this button opens a dialog rather than a simple menu, we don't need to use `aria-expanded` here. However, we need to make sure to keep the focus inside the modal while this is open.

## To reproduce

Steps to reproduce the behavior:
1. Log in as a bu

[2022-07-08 21:23] jayeclark commented on #237
Haven't forgotten about this! I thought about it some more and I don't think the user migration needs to wait for the accounts/data migration PR, and it might even be better if it happens beforehand. It probably makes sense to split the user work into two PRs:

**PR 1: Basic user profile data migration (mainly backend + small signup flow UI tweak)**
1. Make user avatarable and add 'name' to the us

[2022-07-09 10:28] joemasilotti commented on #237
This sounds like a great plan, thank you for outlining it! Just a few questions/concerns:

1. I don't want to add any new fields to the sign up screen. So we need a way to gather the name/avatar after sign up. Maybe this is a second wizard-like step or maybe it is a nested form in the developer/business flow. The latter is the cleanest but it might create issues if someone tries to be both a devel

[2022-07-09 18:11] jayeclark commented on #237
1. Yeah, I was imprecise in my language. I should have written "add name and avatar to onboarding flow", not necessarily the initial sign up form. I'm leaning toward a nested form in both the developer and business flow that only appears if the info has not yet been provided. (So, if I sign up as a business and then later go to create a developer profile, I will not be prompted for my name & avata

[2022-07-10 02:49] joemasilotti commented on #237
1. I love it. That creates effectively zero change for a new user. And an existing one will have to change their name/avatar from a new, dedicated form, which is fine by me.
2. Sounds good!

One more question: if a business goes to message a developer they won't have an avatar until they manually set one. Should we fallback to the business "logo" or force them to add a new avatar?

[2022-07-10 11:22] metamoni opened #551 "Icons in `new` roles view not hidden from screen readers"
## Describe the bug
The `briefcase` and `user_group` SVGs are being picked up by VoiceOver but have no accessible titles, so screen readers announce "image" with no other context.

Seeing as these images and decorative and not functional, they should be hidden from screen readers.

## To reproduce
Steps to reproduce the behavior:

1. Go to [https://railsdevs.com/role/new](https://railsdevs.com/rol

[2022-07-10 11:46] metamoni opened #552 "Empty state icon not hidden from screen readers"
## Describe the bug
The icons used in the `app/components/empty_state_component.html.erb` are decorative and should be hidden from screen readers. This component is used in several places, but you can test its behavior on the Notifications page.

## To reproduce
Steps to reproduce the behavior:

1. Clear your notifications if you have any
2. Go to the [notifications page](https://railsdevs.com/not

[2022-07-10 11:58] metamoni opened #553 "Collapse control component is not accessible"
## Describe the bug
The `CollapseControlComponent` uses an expandable menu, but the state of the menu (expanded/collapsed) is not announced to screen readers.

## To reproduce
Steps to reproduce the behavior:

1. Go to the [developers page](https://railsdevs.com/developers)
2. Turn VoiceOver on: `command + F5`
3. Tab through the page until you get to the "Role level" filter
4. Notice VoiceOver doe

[2022-07-10 12:06] metamoni opened #554 "The `speakerphone` icon is announced to screen reader"
## Describe the bug
The `speakerphone` icon in `app/components/developers/new_fields_component.html.erb` and `app/components/developers/invisible_banner_component.html.erb` is not hidden from screen readers. As a result, screen readers announce it as "image" without a description or any additional context. Because this image is purely decorative, it should be hidden from screen readers.

## To rep

[2022-07-10 14:27] axhgl commented on #539
Could I give this one a try, @joemasilotti? Thank you @metamoni for a well described issue along with the additional context.

[2022-07-10 15:07] joemasilotti commented on #539
Sure thing - all yours!

[2022-07-11 00:22] crabbits commented on #551
@joemasilotti I'm happy to work on this issue if you wish

[2022-07-11 02:16] joemasilotti commented on #551
Sure thing – all yours!

[2022-07-11 02:30] #519 closed

[2022-07-11 19:58] dqnamo opened #558 "Filter accordion not open when filters present"
## Describe the bug
A super small user experience issue but when a filter is selected, ideally the heading accordion should remain open but it isn't.

## To reproduce

Steps to reproduce the behavior:

1. Go to developers index page
2. Click on location
3. Select country or countries
4. apply filters
5. Notice accordion not open

## Expected behavior

If a filter is selected in a particular headin

[2022-07-11 20:50] joemasilotti opened #560 "Make it clear that links shouldn't get added to the developer bio"
I've had to manually reach out to a few developers to remove links from their bio. Ideally, that section of the website is anonymous. This helps protect their identity and puts more emphasis on the single "website" link for paying businesses.

## A PR addressing this issue should:

- [ ] Update the help text on the bio when editing your developer profile

It should read, in full:

[2022-07-11 20:54] joemasilotti opened #561 "Add link to Stack Overflow on developer profile"
For some folks their Stack Overflow profile is just as valuable, if not more, than their Twitter or Github page.

## A PR addressing this issue should:

- [ ] Add a new social link, Stack Overflow

It looks like Stack Overflow links via the user ID. For example, when I click into my profile I get `https://stackoverflow.com/users/384110/joe-masilotti`. But removing my name, `Joe-masilotti`, redirec

[2022-07-11 21:00] joemasilotti commented on #512
Closed via #537.

[2022-07-11 21:00] #512 closed

[2022-07-11 21:00] joemasilotti commented on #459
Thanks for documenting all of those issues this weekend! Are there any more that need to be addresses or can we close this issue for now?

[2022-07-11 21:01] joemasilotti commented on #517
Hey @kaushikhande, do you still have appetite to work on this? I'm starting to see a bit more spam complaints and would like to have this out sooner rather than later. No worries either way!

[2022-07-12 00:01] crabbits commented on #551
@joemasilotti @metamoni opened a PR here: https://github.com/joemasilotti/railsdevs.com/pull/562, looking for to feedback :)

[2022-07-12 02:31] crabbits commented on #552
@joemasilotti noticed this one is similar to #551 and #554 so happy to take it

[2022-07-12 03:02] joemasilotti commented on #558
I agree, thanks for documenting this!

[2022-07-12 03:14] joemasilotti commented on #511
Closed via #521.

[2022-07-12 03:14] #511 closed

[2022-07-12 03:15] joemasilotti commented on #554
Good idea – all yours!

[2022-07-12 04:03] kaushikhande commented on #517
@joemasilotti Sorry. I do not have the bandwidth right now. Please proceed as you wish with this issue.

[2022-07-12 04:13] joemasilotti commented on #517
All good – I can take it.

[2022-07-12 04:23] #517 closed

[2022-07-12 07:48] dqnamo commented on #346
Taking a look at this 🙌🏽

[2022-07-12 09:49] metamoni commented on #459
I think there might be a few more SVGs that need to be hidden. Will let you know when we can close this

[2022-07-12 12:05] joemasilotti commented on #459
Sounds good – thanks!

[2022-07-12 22:36] joemasilotti opened #567 "Remove hardcoded JSON string in fixture"
During the Rails 7.0.3.1 upgrade I had to hardcode a JSON string into a test fixture. Ideally, this can be changed to a better representation (like a hash or more YAML) but I couldn't figure it out.

## A PR addressing this issue should:

- [] Replace the hardcoded JSON string in the `OpenStartup::Metric` fixture

`test/fixtures/open_startup/metrics.yml:3`

[2022-07-13 13:17] jespr opened #568 "Saved login suggestion not working in iOS app"
## Describe the bug

After having downloaded the Railsdevs iPhone app, when you go to log in you're not presented with your saved login from 1Password ~/iCloud keychain~. You have to go search for it. I have confirmed it works as expected in Safari when not using the app.

## To reproduce

Steps to reproduce the behavior:

1. Download iOS app from the App Store
2. Go to the sign in page
3. Tap on

[2022-07-13 13:25] jespr commented on #568
This is what I have in 1Password

![image](https://user-images.githubusercontent.com/311936/178744399-1a3c6f2b-0446-4254-b7a2-7520c6d15a1d.jpeg)

[2022-07-13 13:36] jespr commented on #568
Adding www in front of railsdevs.com in 1Password doesn't make a difference either - just tried to see if that was it

[2022-07-13 15:02] joemasilotti commented on #568
Interestingly, iCloud passwords find it OK.

![image](https://user-images.githubusercontent.com/2092156/178766359-947a583b-92fd-43c8-958b-22a9cff0345f.jpeg)

[2022-07-13 15:22] joemasilotti commented on #416
Done! You can download the iOS app here: https://apps.apple.com/us/app/railsdevs/id1621607837

[2022-07-13 15:22] #416 closed

[2022-07-13 15:27] joemasilotti opened #569 "Indicate conversations that have unread messages"
When viewing your conversations you can't tell which have unread messages.

## A PR addressing this issue should:

- [ ] Add a blue line (via border) to the left side of conversations with unread messages

I opened #570 which handles the design and front-end logic. However, the actual querying still needs to be implemented.

We don't want to introduce a N+1 query here, so I think we need to cache

[2022-07-13 16:55] jespr commented on #568
Yep. Works fine for me with iCloud passwords as well - I missed that earlier, my bad. It was early :D

[2022-07-14 12:18] joemasilotti opened #573 "Business profile links are easily broken"
## Describe the bug

Adding a website link to a business profile often creates an invalid URL.

## To reproduce

Steps to reproduce the behavior:

1. Sign up for a new account
2. Visit `/businesses/new`
3. Fill out the form
4. Set `https://example.com` as the Website field
5. Visit your profile
6. Click your company name

## Expected behavior

You navigate to `https://example.com`.

## Actual beha

[2022-07-14 17:31] gathuku commented on #567
@joemasilotti allow me to have a look at this.

[2022-07-14 17:55] joemasilotti commented on #567
Sure thing - all yours!

[2022-07-16 01:40] ypcethan commented on #573
Hi @joemasilotti, I would love to help with this. 🙂

[2022-07-16 01:40] joemasilotti commented on #573
Thanks! All yours.

[2022-07-16 10:22] ypcethan commented on #561
Hi, @joemasilotti I'm happy to look into that!😁

[2022-07-16 12:58] joemasilotti commented on #561
Thanks! All yours.

[2022-07-16 15:22] metamoni commented on #459
We can close this for now, @joemasilotti. If I spot anything else, I'll open a new issue.

[2022-07-16 20:21] joemasilotti commented on #459
Sounds great - thanks for documenting all of these!

[2022-07-16 20:21] #459 closed

[2022-07-17 17:54] axhgl commented on #540
Since I've already dealt with a similar one (#539), should I give this one a try, as well?

[2022-07-18 05:36] ypcethan commented on #558
@joemasilotti, I'm happy to help with this.

[2022-07-18 05:38] ypcethan commented on #558
The same bug seems to happen to the `TimeZone` accordion as well.

[2022-07-18 13:01] joemasilotti commented on #558
Thanks!

[2022-07-19 21:26] joemasilotti commented on #561
Closed via #581.

[2022-07-19 21:26] #561 closed

[2022-07-20 15:45] joemasilotti commented on #573
Closed via #577.

[2022-07-20 15:45] #573 closed

[2022-07-21 13:52] kaushikhande commented on #560
@joemasilotti Can I take this issue.

[2022-07-21 13:56] joemasilotti commented on #560
Sure thing! All yours.

[2022-07-21 14:33] kaushikhande commented on #560
PR: #584

[2022-07-24 19:12] atiqueakhtar commented on #553
hi @metamoni @joemasilotti , Can I please take up this issue and raise a PR to resolve it?

[2022-07-25 03:42] joemasilotti commented on #553
Sure thing, all yours!

[2022-07-28 12:55] joemasilotti opened #587 "Refactor to use `class_names` helper"
I recently learned about the [`class_names`](https://twitter.com/_swanson/status/1341080006169137152) helper from @swanson's [blog post on Hotwire-related CSS tricks](https://boringrails.com/articles/css-tips-and-tricks-hotwire/).

I'd love to leverage this to remove all string interpolation of class names across the codebase.

## A PR addressing this issue should:

- [ ] Remove all stripe interpo

[2022-07-29 11:42] joshio1 commented on #587
Hey @joemasilotti, can I take a look at this one?

[2022-07-29 12:59] joemasilotti commented on #587
Sure thing - all yours!

[2022-07-31 21:01] joemasilotti commented on #553
Closed via #591.

[2022-07-31 21:01] #553 closed

[2022-08-01 10:58] joshio1 commented on #587
Hi @joemasilotti, while I' looking into this one, I'm not 100% sure which one you meant when you said "stripe interpolated class name logic".
I tried searching for classes in the `app/views` but couldn't find any interpolation for class names. Inside the `app/components` folder, there were a few places which had class name interpolation but I'm not sure if those were the ones you meant. These are

[2022-08-01 16:17] joemasilotti commented on #587
Yep! Those are exactly what I'm talking about. I think a perfect example is `SortButtonComponent#dynamic_classes` - ideally those classes live in the HTML, not the Ruby file. So `app/components/sort_button_component.html.erb:1` could look like:

[code]

This wasn't checked, but I think we can pass multiple class names in like that. Let me know if that doesn't make sense (or doesn't work!).

[2022-08-01 19:36] horaciovelvetine opened #592 "Avatar Picture Upload State on Developer Profile Create fails to update"
## Describe the bug

When creating a new developer account, if you attempt to save the profile without an avatar picture the form raises an error as expected. Subsequently when an avatar is uploaded, the 'avatar required' error sticks around on the page persisting through a successful upload, and the avatar circle (place where I would've expected an avatar preview) does not populate with a preview

[2022-08-02 10:50] joshio1 commented on #587
Hey @joemasilotti, so I've raised this PR: https://github.com/joemasilotti/railsdevs.com/pull/593

I've used the new style in `card_component.html.erb`, `search_status_component.html.erb`, `sort_button_component.html.erb` but not in other files like `toast_component.html.erb`, `avatar_component.html.erb`, `cover_image_component.html.erb` `submit_button_component.html.rb`. Please let me know if it

[2022-08-02 12:26] joemasilotti commented on #587
Awesome, thanks! I'll check it out. I'll comment in the PR about tests and such.

[2022-08-10 02:43] joemasilotti commented on #569
Closed via #579.

[2022-08-10 02:43] #569 closed

[2022-08-10 02:44] joemasilotti commented on #560
Closed via #584.

[2022-08-10 02:44] #560 closed

[2022-08-10 02:44] joemasilotti commented on #540
Closed via #585.

[2022-08-10 02:44] #540 closed

[2022-08-10 02:45] joemasilotti commented on #539
Closed via #585.

[2022-08-10 02:45] #539 closed

[2022-08-10 18:17] joemasilotti commented on #587
Closed via #593.

[2022-08-10 18:17] #587 closed

[2022-08-10 18:18] joemasilotti commented on #592
I can also reproduce when trying to upload an image before submitting an invalid form.

[2022-08-10 18:45] #592 closed

[2022-08-10 18:47] #567 closed

[2022-08-10 21:10] joemasilotti commented on #554
Closed by #562.

[2022-08-10 21:10] #554 closed

[2022-08-10 21:10] joemasilotti commented on #552
Closed by #562.

[2022-08-10 21:10] #552 closed

[2022-08-10 21:10] joemasilotti commented on #551
Closed by #562.

[2022-08-10 21:10] #551 closed

[2022-08-10 21:17] joemasilotti commented on #313
Closing this for now as the remaining tags aren't that much of an issue.

But it does beg the question if we really want translations as part of the codebase. There are so few actually translated strings that I'm beginning to wonder if `i18n-tasks` is causing more effort than it's worth.

[2022-08-10 21:17] #313 closed

[2022-08-10 21:18] joemasilotti commented on #474
Closing this to prioritize other work. I'd rather add in Trix to the message form than support markdown at this point.

[2022-08-10 21:18] #474 closed

[2022-08-10 21:22] joemasilotti opened #597 "Better discoverability for developers"
With 500+ (!) developers on the site it's become harder for individual folks to stand out. A developer can be featured for a week, but that doesn't solve the core issue.

I'm planning to talk with businesses over the next few week. Ideally I will learn is difficult for them in searching and be able to pull out some product improvements. I'm also going to talk to developers and hear what kind of in

[2022-08-10 21:23] joemasilotti opened #598 "Candidate tracking for admins"
As an admin and business owner, I find it difficult to see who is in what stage of the hiring process. I can't easily see which businesses have open conversations nor see which developers have recently been hired.

I don't know what I want to build yet, but this issue will hold a place mark to prioritize the work.

[2022-08-13 21:45] GALTdea commented on #597
Would be great to be able to display some kind of endorsement.

[2022-08-18 14:00] joemasilotti opened #601 "Add basic admin search"
A PR addressing this issue should:

1. Add a new route, `/admin/users`
2. On that index page:
    1. List all users in a table, paginated
    2. Sort users by email address
    3. Link to their developer and/or business _admin conversations_, if present
        * `admin_developer_conversations_path` and `admin_business_conversations_path`
3. Add a search bar + submit button to the index page
    1

[2022-08-18 14:02] joemasilotti commented on #419
Closed in favor of #601 (for now).

[2022-08-18 14:02] #419 closed

[2022-08-18 14:03] joemasilotti opened #602 "Link to conversations from developer and business pages"
A PR addressing this issue should:

1. Add a new link to the Admin section of business and developer profiles
2. Link to `admin_developer_conversations_path` or `admin_business_conversations_path`

Design-wise, there will be more links added to this section. So creating a new "pill" of three buttons could work. Or, redesigning the buttons altogether to allow for more.

If you don't want to do any

[2022-08-18 14:10] fk00750 commented on #602
Hey @joemasilotti can you assign me this issue ?

[2022-08-18 14:51] joemasilotti commented on #602
Sure thing – all yours!

[2022-08-18 19:38] joemasilotti opened #603 "Remove Twitter from developer Open Graph tags"
A PR addressing this issue should remove the `#twitter` method from `app/components/developers/open_graph_tags_component.rb:28`.

[2022-08-18 23:10] #601 closed

[2022-08-19 01:40] joemasilotti opened #606 "Link to "impersonate" from `/admin/users` and remove `/admin/impersonate`"
A PR addressing this issue should:

1. Link to "Impersonate" from each user in `/admin/users`
2. Remove the views and links for `/admin/impersonate`

[2022-08-19 03:27] sarthakw7 commented on #603
Hey, Can i work on this issue?

[2022-08-19 05:21] joemasilotti commented on #603
Sure thing! All yours.

[2022-08-19 13:43] de-marauder commented on #603
Hi, is this issue still available? I'd like to work on it.

[2022-08-19 15:07] joemasilotti commented on #603
No, @sarthakw7 is working on it in #607.

But #606 hasn't been claimed yet if you'd like to give that one a go!

[2022-08-19 15:18] de-marauder commented on #603
Alright. I'll give it a look. Thank you

[2022-08-21 13:25] vsmay98 commented on #606
Hi @joemasilotti
Can I work on this issue?

[2022-08-21 19:29] joemasilotti commented on #606
Sure thing, all yours @vsmay98!

[2022-08-22 00:57] joemasilotti commented on #603
Closed via #607.

[2022-08-22 00:57] #603 closed

[2022-08-22 13:50] joemasilotti opened #609 "Only show "email" checkbox when a developer shares their email"

[2022-08-22 13:50] #609 closed

[2022-08-25 15:51] joemasilotti opened #612 "Add a URL to `Admin::SubscriptionChangeNotification`"
A PR addressing this issue should:

* Define a `#url` method on `Admin::SubscriptionChangeNotification` that points to the `admin_business_conversations(business)`

[2022-08-25 15:52] joemasilotti opened #613 "Send celebration promotion 2 weeks after reply, not 1 month"
A PR addressing this issue should:

* Change the `wait:` parameter when delivering the celebration promotion email to `2.weeks`

`app/models/concerns/messages/notifications.rb:28`

[2022-08-25 15:54] joemasilotti opened #614 "Send admins a notification when a `Hired::Form` is created"
A PR addressing this issue should:

* Create a new notification, `Admin::NewHiredFormNotification` when a `Hired::Form` is created
* `#title` - A developer was hired via RailsDevs!
* `#url` - `admin_hired_form_path`
* A new mailer on `AdminMailer` (and preview) should also be added

Feel free to use placeholder copy and I can tweak it when a PR is submitted.

[2022-08-25 15:55] joemasilotti commented on #597
@GALTdea, what kind of endorsement were you thinking? From another person, technology/skill-based, something else?

[2022-08-25 16:55] GALTdea commented on #597
Probably from other developers that you've paired with or opensource you've contributed to.  In terms of what kind of endorsement, I'd say technical.  Perhaps something related to the  interaction?

[2022-08-25 17:25] joemasilotti opened #615 "Require businesses to agree to hiring terms before paying for a subscription"
I'd like businesses to sign off on the hiring terms before paying for a subscription.

A PR addressing this issue should:

* Display a new screen before a business triggers the Stripe Checkout flow
* The new screen renders the terms with a checkbox and submit button
    * Bonus: render this as a modal
* A business can't pay until they sign off on these terms

Implementation-wise, I'd like to versi

[2022-08-25 20:09] joemasilotti commented on #346
Closing this for now as I'm not sure it's worth the complexity of a new form field.

[2022-08-25 20:09] #346 closed

[2022-08-25 21:48] #613 closed

[2022-08-26 15:34] sarvaiyanidhi commented on #612
Hi @joemasilotti Can I take up this issue to get myself started on contributing to this project?

[2022-08-26 16:27] joemasilotti commented on #612
Yes please! All yours.

[2022-08-26 19:19] joemasilotti opened #617 "Multiple Celebration Promotion emails can be sent"
## Describe the bug

Under certain scenarios businesses are able to additional infinite Celebration Promotion emails to a developer.

## To reproduce

Steps to reproduce the behavior:

1. Reset your local database seeds via `bin/rails db:reset`
1. Sign in as `business@example.com`
1. Navigate to [the conversation with Tobias](http://localhost:3000/conversations/1)
1. Send a message

## Expected be

[2022-08-27 13:25] joemasilotti opened #618 "Add "Found a job?" link to mobile menu"
The desktop view links to "Found a job?" in the main navigation but the dropdown mobile menu does not.

A PR addressing this issue should:

1. Add a link to "Found a job?" in the mobile dropdown menu.

[2022-08-27 16:48] Kritikajain6104 commented on #618
I want to work on this issue . Please assign this issue to me

[2022-08-27 17:59] joemasilotti commented on #618
Thank you – all yours!

[2022-08-28 09:06] Kritikajain6104 commented on #618
#618 <https://github.com/joemasilotti/railsdevs.com/issues/618>
joemasilotti <https://github.com/joemasilotti>/railsdevs.com
<https://github.com/joemasilotti/railsdevs.com>
I am sorry. I don't know about brew technology. I have just started
contributing. This was my first issue. I thought it was an issue of Html,
Css and Javascript. Can you please tell whether I can work on this project
in HTML, C

[2022-08-28 13:54] joemasilotti commented on #618
The code change will be in HTML, but in an interpreted Ruby file. So you will need to have the app running on your machine to make sure it all works.

What issue are you running into with brew? I can try to help get it straightened out.

[2022-08-28 13:55] joemasilotti commented on #612
Closed via #620.

[2022-08-28 13:55] #612 closed

[2022-08-28 15:43] Kritikajain6104 commented on #618
Ok I am trying.Thank you for your response.

On Sun, 28 Aug, 2022, 7:24 pm Joe Masilotti, ***@***.***>
wrote:

[2022-08-28 19:38] sarvaiyanidhi commented on #614
Hi @joemasilotti Would like to take up this feature.. can you please assign it to me?

[2022-08-28 20:59] joemasilotti commented on #614
Sure thing – all yours @sarvaiyanidhi!

[2022-08-29 09:44] atiqueakhtar commented on #541
Hi @joemasilotti Can I take up this issue and raise a PR to resolve it?

[2022-08-29 14:41] joemasilotti commented on #541
Yeah, sure thing. Thanks @atiqueakhtar!

[2022-08-30 20:42] joemasilotti opened #621 "Avatars won't render @2x on desktop Safari"

[2022-08-31 16:47] joemasilotti opened #624 "Integrate Lookbook for admin components"
More and more View Components have been added to the `Admin::` namespace the past few weeks. I'd love to be able to preview them on their own and together as a page. This could be especially helpful for new folks to the project as they can see examples without diving into code.

## A PR addressing this issue should:

- [ ] Integrate the [Lookbook gem](https://github.com/allmarkedup/lookbook) in de

[2022-08-31 18:32] faqndo97 commented on #624
@joemasilotti i never integrated lookbook yet into a project, would you like that I take this one?

[2022-08-31 18:38] #615 closed

[2022-08-31 19:41] faqndo97 commented on #624
@joemasilotti cool, thanks! I'll keep updated here and probably start some thread in twitter to document the process 🙌🏼

[2022-09-01 03:49] KarlHeitmann commented on #606
Hello there! Is there any progress in this issue @vsmay98  ? I already have something working on my local fork to submit.

[2022-09-03 06:17] faqndo97 commented on #624
@joemasilotti Small update here. I already installed the gem and documented the easiest component. Everything have been going well so far, but I needed to do a small trick with the base components of the previews that we can discuss later.

Current result:

https://user-images.githubusercontent.com/16840674/188258431-64f1c456-4a99-414a-98d4-3996f62ded0a.mov

BTW, the default route for this is `/lo

[2022-09-03 14:12] joemasilotti commented on #624
Nice – awesome progress! `/docs/components` sounds great to me, and let's also set up a redirect from `/lookbook`.

Feel free to post a WIP PR with a comment or GitHub review comment and I can take a look. Happy to get it started earlier if the code will trickle throughout the changes.

[2022-09-05 07:13] vsmay98 commented on #606
Hi @KarlHeitmann
Please go ahead and raise a PR. I will unassign myself from this issue.

[2022-09-05 14:52] KarlHeitmann commented on #606
Ok, thanks. Here is the work in progress: https://github.com/joemasilotti/railsdevs.com/pull/627

I need to do the other two items from the checklist: `My code contains tests covering the code I modified`  and `I added significant changes and product updates to the changelog`, you can review it and send any other feedback.

[2022-09-09 15:44] joemasilotti commented on #602
Hey @fk00750, I haven't seen any updates in almost a month. Do you still have appetite to work on this? If not, no worries! I can assign it to someone else.

[2022-09-09 15:44] joemasilotti commented on #614
Closed via #625.

[2022-09-09 15:44] #614 closed

[2022-09-10 05:00] joemasilotti commented on #618
Hey again @Kritikajain6104. It's been 2 weeks so I wanted to check in and see if you still have appetite for this issue. If not, no worries! Let me know and I can assign it to someone else.

[2022-09-11 14:18] joemasilotti opened #631 "Paused subscriptions should keep access until end of billing period"
## Describe the bug

When a paying customer pauses their subscription they should keep access to paid features until the end of their current billing period. Currently, they immediately lose access.

This PR in Pay should handle the issue without any changes (outside of the migration) to this codebase. https://github.com/pay-rails/pay/pull/687

[2022-09-12 19:26] sarvaiyanidhi commented on #617
Hi @joemasilotti Can you please assign me this issue?

[2022-09-12 20:23] joemasilotti commented on #617
Sure thing! All yours @sarvaiyanidhi.

[2022-09-12 22:31] joemasilotti opened #632 "Add context/tips when filling out developer profile"
### Goals

1: Help developers position themselves better to get hired.
2: Make it clear that profiles should remain anonymous (no real names in bio).

A PR addressing this issue should:

- [ ] Move the bio section of the developer form to its "card" before `Work preferences`
- [ ] Make the input text area 20 lines

The new card should be titled `Bio` with the following description:

Share what mak

[2022-09-12 22:41] joemasilotti opened #633 "Rich text for developer bio"
The designer I'm working with noticed that multiple profiles are writing quasi-formatted lists and sections in their bio. I'd love to offer this as a real feature so folks can clean up their profiles a bit.

A PR addressing this issue should:

- [ ] Enable markdown in the developer bio field

When rendering, _only_ the following tags/elements should be displayed. Everything else should be stripped

[2022-09-12 23:35] joemasilotti commented on #598
For now I'm managing this in Notion.

[2022-09-12 23:35] #598 closed

[2022-09-13 03:43] rayhanw commented on #632
Hi @joemasilotti  Do you mind if I give it a shot? 😃

[2022-09-13 04:45] joemasilotti commented on #632
Sure thing – all yours @rayhanw! Thanks for the help.

[2022-09-13 12:50] #632 closed

[2022-09-13 17:32] sarvaiyanidhi commented on #617
@joemasilotti I have gone through the existing flow and checked locally. I see that right now celebration promotion mail triggers only on first reply which I understand is due to below code called from notification

[code]

Now as per the requirement we want to send celebration promotion mail whenever there is any new message from developer which I could get locally working by changing above code

[2022-09-13 20:42] joemasilotti commented on #617
Thanks for diving in! Here's the current flow:
1. Business messages a developer
2. Developer replies -> one celebration email is queued
3. Business replies -> **a _second_ celebration email is queued**
3. Business replies again -> **a _third_ celebration email is queued**4.

And here's the expected, correct flow:
1. Business messages a developer
2. Developer replies -> one celebration email is que

[2022-09-14 02:57] joemasilotti commented on #606
Closed via #627.

[2022-09-14 02:57] #606 closed

[2022-09-14 16:54] sarvaiyanidhi commented on #617
Thanks @joemasilotti .. It is clear now. My bad I understood initially other way round.

Will look into issue and fix the bug further.

[2022-09-14 20:21] joemasilotti commented on #617
Great! Sorry for the unclear description and thanks for diving in.

[2022-09-15 03:38] rayhanw commented on #633
I'd like to give this a shot 👋

[2022-09-15 04:15] joemasilotti commented on #633
Sure thing! All yours, @rayhanw. Let me know if you run into any issues filtering out the right markup with Redcarpet.

[2022-09-15 06:40] alexferrari88 commented on #260
@XaoGao did you have any success in creating a docker-compose file?

[2022-09-15 14:10] joemasilotti opened #640 "Recently active badge"
This kicks off the first batch of work for [developer discoverability](https://github.com/joemasilotti/railsdevs.com/discussions/639)!

The goal of this feature is to highlight developers who have been recently active on the platform. "Active" is not limited to only updating a profile, but also responding to messages.

A PR addressing this issue should:

- [ ] Add a "Recently active" badge to deve

[2022-09-15 16:30] sarvaiyanidhi commented on #640
I would like to work on this feature.. Can you please assign it to me?

[2022-09-15 17:02] joemasilotti commented on #640
Sure thing @sarvaiyanidhi! All yours. Let me know if you have any questions when diving in.

[2022-09-15 18:26] sarvaiyanidhi commented on #640
Sure. Will reach out in case of any query. Thanks

[2022-09-15 22:03] joemasilotti commented on #617
Closed via #637.

[2022-09-15 22:03] #617 closed

[2022-09-15 22:04] joemasilotti opened #641 "Developer profile badges"
A PR addressing this issue should:

- [ ] Add a badge to a developer's profile page if they were "Recently active" (see #640)
- [ ] Add a badge to a developer's profile page if they are currently featured (`developer.featured?`)

The badges can go in between the developer's real name and the gray border. Like this screenshot/mockup but with more vertical padding.

~Note that this issue is blocked

[2022-09-15 22:56] joemasilotti commented on #597
Closing this out in favor of #639.

[2022-09-15 22:56] #597 closed

[2022-09-15 22:58] joemasilotti opened #643 "Contributor profile badges"
The goal of this issue is to highlight developers who have contributed to the RailsDevs source code. To start, this will _not_ integrate with GitHub in any way. A single admin interface to manually toggle someone's status is good enough (for now). And the best part is, once a contributor always a contributor!

A PR addressing this issue should:

- [ ] Add a new boolean (non-null) column, `develope

[2022-09-15 23:11] joemasilotti opened #645 "Access developer profiles via slug, only"
The goal of this PR is to obfuscate the developer's ID to a hard-to-guess string of characters.

A PR addressing this issue should:

- [ ] Migrate the `developers` table primary key to UUID
- [ ] Ensure linking to developers works via `developer_path(developer)`
- [ ] Ensure “old” developer routes (e.g. `/developers/1`) return a 404

Notes and links:

* [Datatypes UUID - Rails Guides](https://guid

[2022-09-15 23:12] joemasilotti opened #646 "Publicly shareable developer profile URLs"
The goal of this issue is to give developers a way to privately share their profile with others with all hidden information revealed. For example, when using their RailsDevs profile to share with a hiring manager.

A PR addressing this issue should:

- [ ] Add a new column to the database, `developers.public_profile_key`
- [ ] Unhide hidden information on a developers profile page if this key matc

[2022-09-15 23:12] joemasilotti opened #647 "Publicly shareable URLs polish"
The goal of this issue is to clean up the UX around #646.

A PR addressing this issue should:

- [ ] When the “Share” button is clicked show a modal explaining how the public page works
- [ ] A Cancel buttons closes the modal
- [ ] A “Copy link” button copies the link to the clipboard

~This issue is blocked by #646.~ This issue is no longer blocked.

Reminder to include a disclaimer that the deve

[2022-09-15 23:12] joemasilotti opened #648 "Set pagination page size to 10 (from 20) for `/developers`"

[2022-09-16 04:43] #633 closed

[2022-09-16 05:26] joemasilotti opened #650 "Set pagination page size to 10 (from 20) for `/developers`"
Note that the global pagination configuration should not be changed. The code change will most likely occur somewhere in `DeveloperQuery`.

[2022-09-16 05:27] joemasilotti opened #651 "Hide page 2+ of search results for non-subscribers"
The goal of this issue is to only show the first page of search results unless you have an active hiring subscription.

A PR addressing this issue should:

- [ ] When page 2+ of `/developers` is hit render a CTA (not the developer profiles)
- [ ] CTA design can be copied from the `PaywalledComponent` for now
- [ ] Copy should include that a subscription is required to see more profiles and the tot

[2022-09-16 05:29] joemasilotti opened #652 "Paywall location and timezone search, too"
The goal of this issue is to ensure someone doesn't "find" a candidate by filtering so tightly that they show up on the first page of search results.

A PR addressing this issue should:

- [ ] Require an active subscription to filter by location and/or timezone
- [ ] This includes the UI (like text search) and updating the Pundit policy

For reference, check out how the search query works. We migh

[2022-09-16 05:31] joemasilotti opened #653 "Revamp CTA design"
The goal of this issue is to improve the design (and increase conversion) of the search results CTA.

A PR addressing this issue should:

- [ ] Replace CTA design with a static list of developers blurred out
- [ ] Overlay the copy and button on top of this list

Note that this will probably require a few design iterations. If you're up for it, feel free to give it a shot!

This is blocked on #651.

[2022-09-16 15:44] joemasilotti commented on #648
Duplicate of #650.

[2022-09-16 15:44] #648 closed

[2022-09-16 19:01] benmercerdev commented on #643
I'd like to take this on

[2022-09-16 19:33] adrienpoly commented on #645
Rather than uuid have you considered https://github.com/excid3/prefixed_ids ?

I like this Stripe like obfuscated ids

[2022-09-16 21:07] joemasilotti commented on #643
Sure thing, all yours @benmercerdev! Thanks for contributing.

[2022-09-16 21:24] joemasilotti commented on #645
I love Stripe's obfuscated IDs but I don't see the value in a project that doesn't have a real developer API. Said another way, what's the benefit of a developer having an ID of `dev_abc123` vs. `abc_123` if the only place you ever see it is in the URL of a developer's profile page?

[2022-09-17 14:58] wlw1227 commented on #650
Hey Joe, I would like to take a shot at this.

[2022-09-17 21:21] joemasilotti commented on #650
Sure thing, all yours @wlw1227!

[2022-09-18 02:03] joemasilotti commented on #640
Closed via #649.

[2022-09-18 02:03] #640 closed

[2022-09-18 04:06] joemasilotti commented on #645
Thanks for bringing this up @adrienpoly. I ended up [opening a PR](#656) with what prefixed_ids uses under the hood, [hashid](https://github.com/jcypret/hashid-rails). I was worried about [not being able to salt prefixed_ids](https://github.com/excid3/prefixed_ids/issues/6) which would make it easy to guess URLs. Which kind of defeats the purpose of this task!

[2022-09-18 13:28] joemasilotti opened #657 "Clean up enabled feature flags"

[2022-09-19 02:17] #645 closed

[2022-09-19 03:06] #641 closed

[2022-09-19 09:30] ferryphang commented on #657
#660 please check if this correct

[2022-09-19 13:36] mansakondo commented on #651
I'm trying to work on this but I'm not sure if I should create a component or use a partial for the CTA.

[2022-09-19 14:36] sarvaiyanidhi commented on #646
Hi @joemasilotti I would like to work on this feature... Can you please assign it to me

[2022-09-19 15:01] joemasilotti commented on #646
Sure thing - all yours! Please also hide the button unless the new feature flags is enabled.

[2022-09-19 17:47] benmercerdev commented on #643
Hi @joemasilotti can you add me as a collaborator or give me permission to push my branch with this work for comments and review, thanks!

[2022-09-19 23:22] joemasilotti opened #662 "Redirect `/developers/:id` to `/developers/:hashid`"
While folks are transitioning to the new developer profile URLs I want to make sure no one's links break.

A PR addressing this issue should:

**When the `:obfuscate_developer_urls` feature is enabled:**

- [ ] 302 redirect `/developers/:id` to `/developers/:hashid` with a flash message
- [ ] Update the sitemap (`config/sitemap.rb:24`) to use the developer's `hashid`

The flash message should read

[2022-09-19 23:30] joemasilotti opened #663 "Remove `:obfuscate_developer_urls` feature flag"
Remove the feature flag and all related branching code 2 weeks after enabling the feature. This should give folks enough time to update their bookmarks and such.

[2022-09-20 09:48] xmarlox commented on #618
@joemasilotti
happy to work on this one 😄

[2022-09-20 13:43] joemasilotti commented on #618
@Kritikajain6104, since I haven't heard from you in 10 days I'm going to assign this over to @xmarlox. Feel free to pick up another issue.

[2022-09-20 18:50] sarvaiyanidhi commented on #646
Sure Joe.. I will hide button by checking feature flags

Implementation is still in progress but I have one query.

So in order to implement clipboard copy feature I was checking existing implementation to use same code as done in Admin for Copy button but when I click on it it is throwing me below error when I am checking locally in chrome browser

`clipboard.js:11 DOMException: Support for multi

[2022-09-20 19:28] joemasilotti commented on #646
Oh no! It looks like that is actually a bug in the existing code and not related to your changes. I just double checked in Chrome and saw the same issue.

If you can, please test in Safari. I'll create a new issue to address what you found.

[2022-09-20 19:31] joemasilotti opened #664 "Clipboard JavaScript doesn't work in Chrome"
Copying to the clipboard raises an error in Chrome but works fine in Safari. This issue was discovered when implementing [publicly sharable developer profiles](https://github.com/joemasilotti/railsdevs.com/issues/646#issuecomment-1252773983).

## To reproduce

Steps to reproduce the behavior:

1. Sign in as an admin (`admin@example.com` + `password`)
1. Visit a developers page
1. Clip the Copy but

[2022-09-20 23:33] joemasilotti commented on #646
Darn, sorry about that! Feel free to comment out the JavaScript code for your testing. I can pull and run on my machine with Safari to make sure it all works.

[2022-09-21 00:46] sarvaiyanidhi commented on #646
Thanks.. Will as well try to see if clipboard issue can be fixed.

[2022-09-21 03:17] rayhanw commented on #662
I'd like to give this one a shot 😄

[2022-09-21 03:38] joemasilotti commented on #662
Awesome – all yours! Thanks @rayhanw.

[2022-09-21 04:07] ferryphang commented on #664
Please check #666

[2022-09-21 10:51] xmarlox opened #668 "ArgumentError: bundle_identifier is missing"
## Describe the bug

Encountered the error `ArgumentError: bundle_identifier is missing` upon running `bin/setup`

## To reproduce

Steps to reproduce the behavior:

1. Run `bin/setup` for the first time (in case you already have existing database setup, run first `rails db:drop`)
2. See example logs
[code]

## Expected behavior

No error will be encountered while running `bin/setup` specifically

[2022-09-21 14:08] joemasilotti commented on #664
Closed via #666.

[2022-09-21 14:08] #664 closed

[2022-09-21 19:35] joemasilotti commented on #668
Thanks for documenting this, @xmarlox! Can you please give #671 a try and let me know if that fixes the issue for you?

[2022-09-21 19:57] #651 closed

[2022-09-21 20:06] mansakondo commented on #51
✌🏾 https://railsdevs.com/developers/583

[2022-09-21 20:27] mansakondo commented on #653
I'm up for it.

[2022-09-21 20:27] mansakondo commented on #653
How many blurred-out profiles should be on the list?

[2022-09-21 20:42] mansakondo commented on #652
I'd like to work on this one but I also volunteered for #653. So, I suppose that I should choose between the two, right?

[2022-09-21 21:11] joemasilotti commented on #653
For now, let's do 10 profiles with the CTA hovering over the 2nd and 3rd ones. I think that will fit, size-wise.

I'm still deciding between rendering a static, anonymous profile or using real data but blurred out. If we go the latter then we will need to make sure to remove the URLs in the DOM, too.

If you're up for it, feel free to scaffold some designs that I can play with and make tweaks to!

[2022-09-21 21:12] joemasilotti commented on #652
Both are needed to launch the new feature – which do you have a preference of starting, first? If it helps, this one should be more cut-and-dry since there are no remaining design decisions (I don't think).

[2022-09-22 03:51] rayhanw commented on #668
Oh I was having this issue also (on both WSL2 and M1), I got around it by running these 2 manually in `rails c`:
[code]

I tested #671 and it works for me 👍

[2022-09-22 10:11] mansakondo commented on #653
if we go with the blurred-out approach we'll also need to handle the avatar, hero, and bio in the DOM.

[2022-09-22 10:17] mansakondo commented on #652
I'd like to start with this one since there are fewer unknowns, but I'll still let you know if I have ideas for the CTA design.

[2022-09-22 10:47] xmarlox commented on #668
@joemasilotti yeah #671 fixed this issue
thanks!

[2022-09-22 11:25] xmarlox commented on #602
@joemasilotti i'm interested working on this
but i don't quite get what you mentioned _"Admin section of business and developer profiles"_
is it the highlighted section from [this screenshot](https://drive.google.com/file/d/1si1DHR9WF25Egyb8-KiRTo4uIzXrNB75/view?usp=sharing) ?

also for the pill buttons, will [this](https://postsrc.com/components/buttons/pill-buttons) suffice? if yes, then which o

[2022-09-22 13:53] mansakondo commented on #652
I'm experimenting with a design where I added a variant for the `PaywallComponent` to only display the lock icon.:
![Capture d’écran de 2022-09-22 15-37-36](https://user-images.githubusercontent.com/47113995/191762198-12fa3887-9717-43ed-a295-429068ada024.png)

What do you think?

[2022-09-22 13:59] joemasilotti commented on #653
I'm less worried about those, to be honest. Especially if we are only blurring a handful of profiles. But it is definitely worth considering if it makes sense over a generic "loading style" profile card that doesn't have real data at all.

[2022-09-22 14:00] joemasilotti commented on #668
Excellent, thanks for the feedback folks. I'll merge that in.

[2022-09-22 14:01] joemasilotti commented on #668
Closed via #671.

[2022-09-22 14:01] #668 closed

[2022-09-22 14:03] joemasilotti commented on #602
The admin section is highlighted in this screenshot.

![image](https://user-images.githubusercontent.com/2092156/191768064-913b8d26-5252-496d-b91d-3ea24170f4c5.png)

Feel free to copy the existing design of three pills into a new row/section of pills with a single button for this link.

[2022-09-22 14:07] mansakondo commented on #652
I'm glad that you like it! I'll open a draft PR right now to allow see the code.

No additional JavaScript is required.

[2022-09-22 14:15] mansakondo commented on #652
The draft PR is open. There's some dirty code waiting to be refactored.

[2022-09-22 15:53] joemasilotti commented on #652
Got it – thanks for that!

Do you need an early set of eyes on the PR? Or would you like me to wait to review until it is marked as ready?

[2022-09-22 17:16] mansakondo commented on #652
Though the code still needs to be refactored, I'm open to suggestions.

[2022-09-23 04:38] #662 closed

[2022-09-26 20:36] benmercerdev commented on #643
I put up a draft PR https://github.com/joemasilotti/railsdevs.com/pull/677

Would love some advice on the UI to toggle the source_contributor attribute and also on the route and controller for that action

[2022-09-28 14:13] xmarlox commented on #650
@joemasilloti
are there any updates on this one?
if none, i'd love to work on this
thanks!

[2022-09-28 14:35] wlw1227 commented on #650
I believe I got the pagination figured out, but I am having trouble writing the test, if @xmarlox or @joemasilotti would be willing to help I would appreciate it.

[2022-09-28 15:17] xmarlox commented on #650
sure no worries
which branch are you using? or if it’s a fork, can you send the url and
branch you’re using to work on this issue

On Wed, Sep 28, 2022 at 10:35 PM, Logan Wolf ***@***.***>
wrote:

--
Best regards,

MARLO MORALES

[2022-09-30 22:50] xmarlox commented on #650
@joemasilotti @wlw1227
here's the [PR to address this issue](https://github.com/joemasilotti/railsdevs.com/pull/678) 😃

[2022-09-30 22:55] xmarlox commented on #618
@joemasilotti ✋🏽
i believe this issue is already addressed

[2022-09-30 22:57] xmarlox commented on #602
@joemasilotti ✋🏽
here's the [PR to address this issue](https://github.com/joemasilotti/railsdevs.com/pull/676) 😃

[2022-10-06 06:43] citizen428 commented on #657
Should this issue be closed or did the merged PR not address everything?

[2022-10-06 23:27] jkostolansky commented on #621
Just to let you know, I'm investigating this issue. 🧐

[2022-10-08 20:22] joemasilotti opened #682 "Upgrade to Rails 7.0.4"
RailsDevs is currently running 7.0.3.1 and Rails 7.0.4 was released about a month ago.

A PR addressing this issue should:

- [ ] Upgrade the codebase to Rails 7.0.4
- [ ] Review the [changelog](https://github.com/rails/rails/releases/tag/v7.0.4) and ensure nothing breaks

[2022-10-08 20:25] joemasilotti opened #683 "Upgrade to Turbo 7.2"
Turbo 7.2.0 was released two weeks ago and I'd love to get RailsDevs on the latest version.

A PR addressing this issue should:

- [ ] Upgrade to Turbo 7.2.0 (this might require a Gemfile and/or Package.json change(s))
- [ ] Ensure nothing in the [changelog](https://github.com/hotwired/turbo/releases/tag/v7.2.0) breaks anything on RailsDevs
- [ ] Manually go through the Hotwire integrations to ens

[2022-10-09 18:51] kaushikhande commented on #682
Hi
Can I work on this.

[2022-10-09 19:34] joemasilotti commented on #682
Awesome, thanks @kaushikhande!

[2022-10-10 23:11] joemasilotti commented on #558
Closed via #586.

[2022-10-10 23:11] #558 closed

[2022-10-11 08:16] adrianvalenz commented on #356
Hey Joe!

Yes I was able to sort it out! User error mostly! Lol

Adrian

[2022-10-12 03:14] joemasilotti commented on #682
Closed via #684.

[2022-10-12 03:14] #682 closed

[2022-10-13 15:44] sarvaiyanidhi commented on #683
Hi @joemasilotti .. Can you please assign me this task?

[2022-10-13 18:55] joemasilotti commented on #683
Sure thing, all yours!

[2022-10-18 20:17] joemasilotti commented on #618
You are correct, thanks @xmarlox!

[2022-10-18 20:17] #618 closed

[2022-10-19 19:03] joemasilotti opened #689 "Update to Tailwind CSS v3.2"
Updating to [v3.2](https://tailwindcss.com/blog/tailwindcss-v3-2) will give us access to [multiple config files](https://tailwindcss.com/blog/tailwindcss-v3-2#multiple-config-files-in-one-project-using-config, needed for #690.

[2022-10-19 19:04] joemasilotti opened #690 "Split Tailwind CSS into two configs"
To ensure the existing design doesn't conflict with the redesign, we can use [multiple Tailwind CSS config files](https://tailwindcss.com/blog/tailwindcss-v3-2#multiple-config-files-in-one-project-using-config) switched on via a feature flag.

The new config will contain the new colors and fonts.

[2022-10-19 19:05] joemasilotti opened #691 "Apply navigation header from redesign"

[2022-10-19 19:07] joemasilotti opened #692 "Apply new fonts from redesign"
This can be done in the new Tailwind CSS configuration from #690. Ideally we are bundling the new fonts from Google Fonts directly into the codebase, too.

[2022-10-19 19:10] joemasilotti opened #693 "Apply homepage redesign"
This is the first big issue of the Redesign milestone and I imagine will require a lot of work. The good things is that it is all wrapped behind a feature flag so there shouldn't be a lot of merge conflicts.

The new sections include:

- [ ] Hero
- [ ] Testimonials
- [ ] How it works
- [ ] About
- [ ] Collage

I don't think we need a new View Component for each of these, a partial will work fine.

[2022-10-19 19:12] joemasilotti opened #694 "Apply pricing page redesign"
As in #693, this will live behind the same feature flag so risk of merge conflicts are low. The same approach with regard to View Components applies here.

Sections include:

- [ ] Hero
- [ ] Plan
- [ ] Features
- [ ] Collage
- [ ] Testimonials (we can reuse the View Component here)
- [ ] FAQ
- [ ] CTA

[2022-10-19 19:13] joemasilotti opened #695 "Apply developer profile page redesign"
Continuing the work from #693 and #694 but on the developer profile pages.

[2022-10-19 21:13] joemasilotti commented on #683
Closed via #696.

[2022-10-19 21:13] #683 closed

[2022-10-20 20:12] joemasilotti commented on #646
Closed via #665.

[2022-10-20 20:12] #646 closed

[2022-10-20 20:20] joemasilotti opened #699 "Ensure analytics don't expose public profile keys"
Fathom currently tracks every page visit automatically. By moving the public profile key to a URL path (instead of a URL param) it will be tracked in Fathom. This could give someone access to any profile by paginating through the Fathom report.

A PR addressing this issue should:

- [ ] Disable automatic tracking of Fathom events
- [ ] Manually track each page view
- [ ] _Not_ track a page view wh

[2022-10-20 20:29] sarvaiyanidhi commented on #647
Hi @joemasilotti I would like to work further on this issue.. can you please assign it to me?

[2022-10-20 21:05] joemasilotti commented on #647
Sure thing! All yours @sarvaiyanidhi. Thanks again for all the help. :)

[2022-10-20 21:53] joemasilotti commented on #689
Closed via #700.

[2022-10-20 21:53] #689 closed

[2022-10-21 16:20] #690 closed

[2022-10-21 16:30] joemasilotti opened #703 "Ensure Heroku builds `css:redesign` when deploying"
#701 closed #690 but it looks like Heroku isn't picking up on the new `css:redesign` yarn script.

@afomera [noted on Twitter](https://twitter.com/afomera/status/1583493594647625734?s=20) that cssbundling-rails and jsbundling-rails add custom Rake files that tell Heroku to run `build` and `build:css`. So maybe we need to do something similar?

[2022-10-21 16:53] joemasilotti commented on #703
Closed via #704.

[2022-10-21 16:53] #703 closed

[2022-10-21 18:47] #699 closed

[2022-10-21 18:55] joemasilotti opened #707 "Add new colors to Lookbook preview"
The colors added in #701 don't follow standard Tailwind CSS naming conventions. They use "-lighter" and "-dark" suffixes vs. "-100" or "-900". I want to add these colors as a reference to a Lookbook page to make it easy for folks to know which colors are which. (Without having to read the Tailwind configuration.)

<img width="860" alt="image" src="https://user-images.githubusercontent.com/2092156/

[2022-10-21 19:00] jacobdaddario commented on #691
Heyo! Dropping a comment for assignment

[2022-10-21 19:00] jacobdaddario commented on #692
Ding dong. Dropping a quick comment

[2022-10-21 19:00] jacobdaddario commented on #693
Sliding into the GitHub issues

[2022-10-21 19:01] joemasilotti commented on #693
Awesome, thanks Jacob. All yours!

[2022-10-21 19:01] joemasilotti commented on #691
Woot woot! All yours Jacob.

[2022-10-21 20:35] #692 closed

[2022-10-21 20:35] joemasilotti commented on #692
I ended up taking this one, too. #691 and #693 are all yours!

[2022-10-22 03:47] joemasilotti opened #709 "Custom CSS isn't getting included"
## Describe the bug

Custom CSS from `app/assets/stylesheets/tailwindcss/overrides.cs` and `app/assets/stylesheets/components/pagy.css` doesn't seem to be getting included in the output CSS file anymore.

## To reproduce

Steps to reproduce the behavior:

1. Checkout the latest code from `main`
2. Run `yarn build:css`
3. View `app/assets/builds/application.css`

## Expected behavior

`.pagy-nav` f

[2022-10-22 13:05] #709 closed

[2022-10-25 13:48] joemasilotti commented on #652
Closed via #674.

[2022-10-25 13:48] #652 closed

[2022-10-25 21:26] joemasilotti opened #715 "Remove `:redesign` feature flag"
Once all the code has been merged in and the redesign is enabled the branching logic needs to be removed.

A PR addressing this issue should:

- [ ] Remove all code paths related to `Feature.enabled?(:redesign)`
- [ ] Remove non-`:redesign` request variants

[2022-10-27 03:43] jacobdaddario commented on #694
Hopping in the issue thread to claim this.

[2022-10-27 03:43] jacobdaddario commented on #695
Hopping in the issue thread to claim this.

[2022-10-28 06:11] benmercerdev commented on #51
☕  https://railsdevs.com/developers/826 stoked to have my first contribution make it into the codebase: #677

[2022-10-28 19:45] creaturenex commented on #715
Hello Joe,

I would like to give this a shot. Just let me know when the redesign and merge are complete. Ill subscribed to be notified but not sure which issue to track

[2022-10-28 20:07] joemasilotti commented on #715
Awesome! Thanks for the offer, @creaturenex. It might be a while but you have first dibs. Keep watching this issue and I'll @ you when it's ready.

[2022-10-30 14:08] joemasilotti commented on #643
Closed via #677.

[2022-10-30 14:08] #643 closed

[2022-10-30 18:25] joemasilotti commented on #691
Closed via #711.

[2022-10-30 18:25] #691 closed

[2022-11-04 03:36] joemasilotti commented on #647
Closed via #718.

[2022-11-04 03:36] #647 closed

[2022-11-04 16:15] joemasilotti opened #722 "Cells without `href`s are still linked on `/admin/transactions`"
1. Sign in as an admin (`admin@example.com` + `password`)
2. Visit `/admin/transactions`
3. Add a transaction _without a URL_

Note that the description is still linked even though there is no destination URL.

A fix should check if a URL is present before rendering a link, on `app/views/admin/transactions/index.html.erb:25`.

[2022-11-07 04:41] kaushikhande commented on #722
Hi Joe
I would like to work on this issue.

[2022-11-18 21:38] joemasilotti commented on #541
Please see #658 for some ideas and notes. Most importantly, I think this can be accomplished with HTML markup only, no JavaScript.

[2022-11-22 23:33] joemasilotti opened #726 "Update to Pay v6.0.4"
Currently, there is some gnarly code to work around paused subscriptions. My mental model didn't line up with Stripe's when I first allowed folks to "pause" their subscription.

I thought pausing meant you should _not_ have access to the product. Stripe thinks the opposite. (I'm not 100% sure why this is the case, but this isn't the time for that.)

Today Pay released [v6.0.0](https://github.com/p

[2022-11-22 23:33] joemasilotti commented on #722
Closed via #723.

[2022-11-22 23:33] #722 closed

[2022-11-22 23:38] joemasilotti opened #727 "Save referral code to `User` when registering for an account"
Kicking off the referral program MVP is knowing which users were referred by which code.

A PR addressing this issue should:

- [x] On every request check for the `ref` URL param
- [x] If present, set a cookie that expires in 30 days
- [x] When registering a new account persist this code to the `Referral` model

[2022-11-22 23:41] joemasilotti opened #728 "Admin dashboard for referral codes"
Now that referral codes are saved via #727, we need a way to generate unique ones for referrers.

A PR addressing this issue should:

- [ ] Create a new admin dashboard at `/admin/referrals`
- [ ] List all of the users who have a referral code in a table
- [ ] Show how many referrals they have made
- [ ] Link to their referrals via `/admin/referrals/[:user_id]`
- [ ] Allow admins to create + updat

[2022-11-22 23:43] joemasilotti opened #729 "Add "referred by" to admin emails"
Admins receive an email when a user creates a business or developer profile. I'd like to know if that user was referred by someone.

A PR addressing this issue should:

- [ ] Add "Referred by #{referrer.email}" to the bottom of these emails, if present

The emails are `AdminMailer#new_business` and `AdminMailer#new_developer`.

This relies on the modeling built out by #736 to get the referrer's em

[2022-11-23 03:36] sarvaiyanidhi commented on #726
Hi @joemasilotti I would like to work on this issue.. Can you please assign it to me?

[2022-11-23 04:05] ferryphang commented on #727
I'm up for it

[2022-11-23 13:11] joemasilotti commented on #727
Hey @ferryphang. I'm still ironing out all the details for this milestone. I'll comment again here when it's ready to be picked up!

[2022-11-24 03:41] #727 closed

[2022-11-25 17:07] franklinjosmell commented on #728
Hi Joe! I would like to work on this. The code have to based on some special pattern? (Like include the user/company initials) Would existits a character limit for the code?

[2022-11-26 14:47] joemasilotti commented on #728
Thanks for the offer @franklinjosmell! Unfortunately this isn't ready to be worked on yet. I'll post here if/when I need community help on it.

[2022-11-27 04:00] joemasilotti opened #732 "Remove old feature flags"
Remove the following feature flags and all related code from the codebase, including tests:

- [ ] `:paywalled_search_results`
- [ ] `:redirect_db_id_profiles`

[2022-11-27 04:06] #663 closed

[2022-11-27 04:45] sarvaiyanidhi commented on #726
Hi @joemasilotti I have updated Pay to v6.0.3 and also added related migration for it.

In Progress - https://github.com/joemasilotti/railsdevs.com/compare/main...sarvaiyanidhi:railsdevs.com:update-pay-6.0.3

Now I see that if we pause subscription it adds current_period_start and current_period_end value in database which I understand needs to be referred to keep access active till current_period

[2022-11-27 05:11] #650 closed

[2022-11-28 14:55] joemasilotti commented on #726
Thanks for diving in!

It looks like those fields are being used in the Stripe subscription model, not the generic one. Ideally, with this we don't need any custom "paused" logic because it all exists in Pay.

https://github.com/pay-rails/pay/blob/master/lib/pay/stripe/subscription.rb

---

Also, let's try and not run any data changes in the migration. I think we will want to sync each subscriptio

[2022-11-28 14:57] joemasilotti commented on #631
Closed via #726.

[2022-11-28 14:57] #631 closed

[2022-11-29 03:52] sarvaiyanidhi commented on #726
Thank you Joe for the input.

Related to data changes added in migration file I did it as per the details mentioned here https://github.com/pay-rails/pay/blob/master/UPGRADE.md .. Let me know if I should move update from migration file into task. I thought it is fine as needs to be done only once while running migration.

Apart from that I have added another rake task to sync stripe subscriptions.

[2022-11-29 04:35] joemasilotti commented on #726
Ah, good to know! Thanks for sharing that. Let's keep the data migration in the migration file then.

Excellent, thank you! Please add a to-do list in the PR for deploying. Even if it is just "merge, deploy, run this rake task".

Interesting! This pause stuff is very tricky. I wish Stripe offered a clearer API around it!

Do we need to also add the `resumes_at: nil` part of the hash like the Pay t

[2022-11-29 15:18] joemasilotti opened #736 "Rework modeling of referral program"
RailsDevs has a very basic referral program. Folks refer businesses to the site and 10% of any generated revenue is shared with the referrer. This includes monthly fees _and_ hiring fees.

Currently, I manually create a 6 character referral code for each person. Then they can apply that to URLs to get credit for a referral, e.g. `https://railsdevs.com?ref=ABCDEF`.

As it stands we can't associate

[2022-11-29 19:09] sarvaiyanidhi commented on #726
Yes, I will update PR with steps to run rake task.

Not sure if resumes_at and pause_collection attributes are creating problem as I checked in test by adding debugger to see if subscription is paused or not and I got true for customer.subscriptions.first.paused?

Still figuring out the behavior of getting subscriptions as active though current_end_period is past and subscription is paused.

[2022-11-30 00:11] joemasilotti opened #738 "`NoMethodError` in `developers#index`"
Honeybadger exception report: https://app.honeybadger.io/fault/93997/9178e06d3ad290d589912c6bce7eb712

URL visited: https://railsdevs.com/developers?countries%5b%5d=United+Kingdom&role_levels%5b%5d=mid%27&role_types%5b%5d=part_time_contract&role_types%5b%5d=full_time_contract

[2022-11-30 03:37] sarvaiyanidhi commented on #726
@joemasilotti After digging further it seems like we also need to set pause_starts_at as that will get set once current_period_end  on setting subscription to pause.

So accordingly I updated pause_starts_at in test scenario and seems to pass now as subscription pause has started so it should refuse access.

Can you also have look into code once and suggest if you think something is wrong.

[2022-11-30 06:51] kaushikhande commented on #738
@joemasilotti Can I look into this?

[2022-11-30 13:41] joemasilotti commented on #738
Yes, please! Thanks @kaushikhande.

[2022-11-30 13:45] joemasilotti commented on #726
Awesome! I'll comment over in the PR.